{
  "swagger": "2.0",
  "info": {
    "title": "Anchanto WMS Open API",
    "description": "Anchanto Warehouse Management System (WMS) Open Integration Platform (OIP) REST API and Webhooks Specification (v2.4).",
    "version": "2.4",
    "contact": {
      "name": "Anchanto Developer Support",
      "url": "https://help.anchanto.com/support/home"
    }
  },
  "host": "wms-api.anchanto.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "#1. Generate Authorization Token",
      "description": "APIs and events for #1. Generate Authorization Token"
    },
    {
      "name": "#2. Retail Store APIs",
      "description": "APIs and events for #2. Retail Store APIs"
    },
    {
      "name": "#3. B2C Process",
      "description": "APIs and events for #3. B2C Process"
    },
    {
      "name": "#4. Consignment APIs",
      "description": "APIs and events for #4. Consignment APIs"
    },
    {
      "name": "#5. B2B Orders APIs",
      "description": "APIs and events for #5. B2B Orders APIs"
    },
    {
      "name": "#6. B2C Orders APIs",
      "description": "APIs and events for #6. B2C Orders APIs"
    },
    {
      "name": "#7. Products APIs",
      "description": "APIs and events for #7. Products APIs"
    },
    {
      "name": "#8. Buyer APIs",
      "description": "APIs and events for #8. Buyer APIs"
    },
    {
      "name": "#9. Supplier APIs",
      "description": "APIs and events for #9. Supplier APIs"
    },
    {
      "name": "#10. STO Order APIs",
      "description": "APIs and events for #10. STO Order APIs"
    },
    {
      "name": "#11. Warehouse APIs",
      "description": "APIs and events for #11. Warehouse APIs"
    },
    {
      "name": "#12. Order APIs",
      "description": "APIs and events for #12. Order APIs"
    },
    {
      "name": "#13. Company APIs",
      "description": "APIs and events for #13. Company APIs"
    },
    {
      "name": "#14. Webhook authentication (HMAC secret) V2",
      "description": "APIs and events for #14. Webhook authentication (HMAC secret) V2"
    },
    {
      "name": "#19. Async APIs / Callback",
      "description": "APIs and events for #19. Async APIs / Callback"
    },
    {
      "name": "#20. Webhook",
      "description": "APIs and events for #20. Webhook"
    },
    {
      "name": "#21. Stock Location APIs",
      "description": "APIs and events for #21. Stock Location APIs"
    },
    {
      "name": "#22. OAuth Access - Async Bulk Operations",
      "description": "APIs and events for #22. OAuth Access - Async Bulk Operations"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "#1. Generate Authorization Token"
        ],
        "summary": "Generate Access Token",
        "description": "Use this API to generate an OAuth2 access token.\n\n Copy & Paste the JSON below in the Request Body: \n\n Plain Text {\n \\\"grant_type\\\": \\\"password\\\",\n \\\"client_id\\\": \\\"YOUR_CLIENT_ID\\\",\n \\\"client_secret\\\": \\\"YOUR_CLIENT_SECRET\\\",\n \\\"username\\\": \\\"user@example.com\\\",\n \\\"password\\\": \\\"your_password\\\",\n \\\"scope\\\": \\\"store customer\\\"\n }",
        "operationId": "Generate_Access_Token",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "grant_type": {
                  "description": "Type of OAuth2 grant used [REQUIRED]",
                  "example": "password",
                  "enum": [
                    "password",
                    "refresh_token"
                  ],
                  "type": "string"
                },
                "client_id": {
                  "description": "The unique identifier for the client application [REQUIRED]",
                  "type": "string"
                },
                "client_secret": {
                  "description": "The secret key associated with the client application [REQUIRED]",
                  "type": "string"
                },
                "username": {
                  "description": "Email of seller admin at WMS (Required for password grant) [CONDITIONAL]",
                  "type": "string"
                },
                "password": {
                  "description": "Password of seller admin at WMS (Required for password grant) [CONDITIONAL]",
                  "type": "string"
                },
                "scope": {
                  "description": "Access level or permissions requested [OPTIONAL]",
                  "example": "store customer",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "Token to obtain a new access token (Required for refresh_token grant) [CONDITIONAL]",
                  "type": "string"
                }
              },
              "required": [
                "grant_type",
                "client_id",
                "client_secret"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token generated",
            "schema": {
              "type": "object",
              "properties": {
                "access_token": {
                  "description": "Token to be used for authentication",
                  "type": "string"
                },
                "token_type": {
                  "example": "Bearer",
                  "type": "string"
                },
                "expires_in": {
                  "description": "The number of seconds until the access token expires",
                  "type": "integer"
                },
                "refresh_token": {
                  "description": "A token used to obtain a new access token once the current one expires",
                  "type": "string"
                },
                "scope": {
                  "description": "Specifies the level of access granted",
                  "type": "string"
                },
                "created_at": {
                  "description": "The Unix timestamp indicating when the token was created",
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "description": "The error code indicating the issue; Eg: unsupported_grant_type",
                  "type": "string"
                },
                "error_description": {
                  "description": "A detailed message explaining the error",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/stores/{store_code}/offline_orders": {
      "post": {
        "tags": [
          "#2. Retail Store APIs"
        ],
        "summary": "Create Offline Order",
        "description": "Use this API to create an offline order for a retail store.\n\n Copy & Paste the JSON below in the Request Body: \n\n Plain Text {\n \\\"offline_order\\\": {\n \\\"number\\\": \\\"OFF-001\\\",\n \\\"currency_code\\\": \\\"USD\\\",\n \\\"order_items_attributes\\\": [\n {\n \\\"sku\\\": \\\"PROD-001\\\",\n \\\"quantity\\\": 2,\n \\\"item_udfs_attributes\\\": {\n \\\"Color\\\": \\\"Red\\\",\n \\\"Size\\\": \\\"Large\\\",\n \\\"Material\\\": \\\"Cotton\\\",\n \\\"Style\\\": \\\"Casual\\\",\n \\\"Pattern\\\": \\\"Striped\\\",\n \\\"Design\\\": \\\"Flowers\\\",\n \\\"Embroidery\\\": \\\"Yes\\\"\n }\n }\n ]\n }\n }",
        "operationId": "Create_Offline_Order",
        "parameters": [
          {
            "name": "store_code",
            "in": "path",
            "required": true,
            "description": "Code of the retail store in WMS system [REQUIRED]",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "offline_order": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "description": "Order Number [REQUIRED]",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "currency_code": {
                      "description": "Currency code for this order (eg: INR) [OPTIONAL]",
                      "maxLength": 10,
                      "type": "string"
                    },
                    "shipping_type": {
                      "description": "Shipping Type [OPTIONAL]",
                      "example": "standard_delivery",
                      "enum": [
                        "standard_delivery",
                        "express_delivery",
                        "customer_pickup"
                      ],
                      "type": "string"
                    },
                    "payment_collection_name": {
                      "description": "Payment Collection Name [OPTIONAL]",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "order_items_attributes": {
                      "description": "List of items in the order [REQUIRED]",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "description": "Quantity of Order Item [REQUIRED]",
                            "minimum": 1,
                            "type": "integer"
                          },
                          "sku": {
                            "description": "Order Item SKU [REQUIRED]",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "item_udfs_attributes": {
                            "description": "User defined fields at item level",
                            "type": "object",
                            "properties": {
                              "udf1": {
                                "description": "Custom user defined field 1 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf2": {
                                "description": "Custom user defined field 2 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf3": {
                                "description": "Custom user defined field 3 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf4": {
                                "description": "Custom user defined field 4 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf5": {
                                "description": "Custom user defined field 5 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf6": {
                                "description": "Custom user defined field 6 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf7": {
                                "description": "Custom user defined field 7 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "quantity",
                          "sku"
                        ]
                      }
                    },
                    "shipping_address_attributes": {
                      "description": "Shipping address details [OPTIONAL]",
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "description": "First Name [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "last_name": {
                          "description": "Last Name [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address1": {
                          "description": "Address 1 [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address2": {
                          "description": "Address 2 [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address3": {
                          "description": "Address 3 [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "business_name": {
                          "description": "Company name [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "city": {
                          "description": "City [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "zipcode": {
                          "description": "Zip Code [OPTIONAL]",
                          "maxLength": 15,
                          "pattern": "^(?!.* {2,})(?!.*-{2,})[- a-zA-Z0-9]+$",
                          "type": "string"
                        },
                        "country_iso": {
                          "description": "Country ISO Code [OPTIONAL]",
                          "maxLength": 10,
                          "type": "string"
                        },
                        "state_abbreviation": {
                          "description": "State Abbreviation or Name [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "phone": {
                          "description": "Phone Number [OPTIONAL]",
                          "example": "+1234567890",
                          "minLength": 8,
                          "maxLength": 15,
                          "pattern": "^\\d+$",
                          "type": "string"
                        },
                        "email": {
                          "description": "Email Address [OPTIONAL]",
                          "example": "customer@example.com",
                          "maxLength": 255,
                          "pattern": "^[^@\\s]+@(?:[-a-zA-Z0-9]+\\.)+[a-zA-Z]{2,}$",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "number",
                    "order_items_attributes"
                  ]
                }
              },
              "required": [
                "offline_order"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "success",
                  "type": "string"
                },
                "message": {
                  "example": "Offline Order created",
                  "type": "string"
                },
                "order_number": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/rest/v2/stores/{store_code}/transfer_orders/return": {
      "post": {
        "tags": [
          "#2. Retail Store APIs"
        ],
        "summary": "Create Return Order to Warehouse",
        "description": "Use this API to create a return order from a retail store to a warehouse.\n\n Copy & Paste the JSON below in the Request Body: \n\n Plain Text {\n \\\"return_order\\\": {\n \\\"to_warehouse_code\\\": \\\"WH001\\\",\n \\\"stock_type\\\": \\\"usable\\\",\n \\\"order_items_attributes\\\": [\n {\n \\\"sku\\\": \\\"PROD-001\\\",\n \\\"quantity\\\": 10,\n \\\"item_udfs_attributes\\\": {\n \\\"Color\\\": \\\"Red\\\",\n \\\"Size\\\": \\\"Large\\\",\n \\\"Material\\\": \\\"Cotton\\\",\n \\\"Style\\\": \\\"Casual\\\",\n \\\"Pattern\\\": \\\"Striped\\\",\n \\\"Design\\\": \\\"Flowers\\\",\n \\\"Embroidery\\\": \\\"Yes\\\"\n }\n }\n ]\n }\n }",
        "operationId": "Create_Return_Order_to_Warehouse",
        "parameters": [
          {
            "name": "store_code",
            "in": "path",
            "required": true,
            "description": "Code of the retail store in WMS system [REQUIRED]",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "return_order": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "description": "Order Number, if not given WMS will generate one [OPTIONAL]",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "delivery_date": {
                      "description": "Order Delivery Date [OPTIONAL]",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "source": {
                      "description": "Source of Order (from where it is created) [OPTIONAL]",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "to_warehouse_code": {
                      "description": "Destination Warehouse Code [REQUIRED]",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "stock_type": {
                      "description": "Stock Type: usable/unusable [OPTIONAL]",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "order_items_attributes": {
                      "description": "List of items to return [REQUIRED]",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "unit_price": {
                            "description": "Unit Price of Order Item Product [OPTIONAL]",
                            "type": "number"
                          },
                          "retail_price": {
                            "description": "Retail Price of Order Item Product [OPTIONAL]",
                            "type": "number"
                          },
                          "selling_price": {
                            "description": "Selling Price of Order Item Product [OPTIONAL]",
                            "type": "number"
                          },
                          "quantity": {
                            "description": "Quantity of Order Item Product [REQUIRED]",
                            "type": "integer"
                          },
                          "sku": {
                            "description": "Order Item Product SKU [REQUIRED]",
                            "maxLength": 80,
                            "type": "string"
                          },
                          "item_udfs_attributes": {
                            "description": "User defined fields at item level",
                            "type": "object",
                            "properties": {
                              "udf1": {
                                "description": "Custom user defined field 1 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf2": {
                                "description": "Custom user defined field 2 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf3": {
                                "description": "Custom user defined field 3 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf4": {
                                "description": "Custom user defined field 4 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf5": {
                                "description": "Custom user defined field 5 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf6": {
                                "description": "Custom user defined field 6 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf7": {
                                "description": "Custom user defined field 7 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "quantity",
                          "sku"
                        ]
                      }
                    }
                  },
                  "required": [
                    "to_warehouse_code",
                    "order_items_attributes"
                  ]
                }
              },
              "required": [
                "return_order"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return Order successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "success",
                  "type": "string"
                },
                "message": {
                  "example": "Return Order created",
                  "type": "string"
                },
                "order_number": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authorization error"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/rest/v2/stores/{store_code}/transfer_orders/return/{order_number}/complete": {
      "put": {
        "tags": [
          "#2. Retail Store APIs"
        ],
        "summary": "Complete Return Order to Warehouse",
        "description": "Use this API to mark a return order as complete.\n\n Copy & Paste the URL below in the Request URL: \n\n Plain Text /rest/v2/stores/{store_code}/transfer_orders/return/{order_number}/complete",
        "operationId": "Complete_Return_Order_to_Warehouse",
        "parameters": [
          {
            "name": "store_code",
            "in": "path",
            "required": true,
            "description": "Code of the retail store in WMS system [REQUIRED]",
            "type": "string"
          },
          {
            "name": "order_number",
            "in": "path",
            "required": true,
            "description": "Order number that needs to be completed in retail store [REQUIRED]",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Return Order successfully completed",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "success",
                  "type": "string"
                },
                "message": {
                  "example": "Order successfully Completed",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/rest/v2/customers/{customer_code}/sto/orders": {
      "post": {
        "tags": [
          "#2. Retail Store APIs"
        ],
        "summary": "Create STO Order From Warehouse to Store",
        "description": "Use this API to create a Stock Transfer Order (STO) from a warehouse to a retail store.\n\n Copy & Paste the JSON below in the Request Body: \n\n Plain Text {\n \\\"b2b_order\\\": {\n \\\"to_warehouse_code\\\": \\\"WH001\\\",\n \\\"is_stock_transfer\\\": true,\n \\\"destination_store_code\\\": \\\"STORE001\\\",\n \\\"carrier\\\": {\n \\\"carrier_code\\\": \\\"CARR001\\\",\n \\\"carrier_name\\\": \\\"DHL\\\"\n },\n \\\"order_items_attributes\\\": [\n {\n \\\"sku\\\": \\\"PROD-001\\\",\n \\\"quantity\\\": 100\n }\n ]\n }\n }\n STO Order with VAS: \n\n Plain Text {\n \\\"b2b_order\\\": {\n \\\"to_warehouse_code\\\": \\\"WH001\\\",\n \\\"is_stock_transfer\\\": true,\n \\\"destination_store_code\\\": \\\"STORE001\\\",\n \\\"order_vas\\\": [\\\"Quality Check\\\"],\n \\\"carrier\\\": { \\\"carrier_code\\\": \\\"CARR001\\\", \\\"carrier_name\\\": \\\"DHL\\\" },\n \\\"order_items_attributes\\\": [\n {\n \\\"sku\\\": \\\"PROD-001\\\",\n \\\"quantity\\\": 100,\n \\\"sku_vas\\\": [\\\"Labeling\\\"]\n }\n ]\n }\n }\n VAS Parameters: \nPrerequisite: vas_enabled must be ON. If disabled, VAS params are ignored.\n\n order_vas - VAS codes/names at order level (array or comma-separated string) \n sku_vas - VAS codes/names at item level \n Note:\n\n STO orders do NOT support\n\n order gift message\n\n ,\n\n sku gift message\n\n , or\n\n sku etching message\n\n .",
        "operationId": "Create_STO_Order_From_Warehouse_to_Store",
        "parameters": [
          {
            "name": "customer_code",
            "in": "path",
            "required": true,
            "description": "Code of the company in WMS system [REQUIRED]",
            "type": "string"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "required": true,
            "description": "Warehouse Code",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "b2b_order": {
                  "type": "object",
                  "properties": {
                    "to_warehouse_code": {
                      "description": "Warehouse code to which transfer is made [REQUIRED]",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "number": {
                      "description": "Order Number, if not given WMS will generate one [OPTIONAL]",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "delivery_date": {
                      "description": "Order Delivery Date [OPTIONAL]",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "instruction": {
                      "description": "Order Instruction [OPTIONAL]",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "source": {
                      "description": "Source of Order (from where it is created) [OPTIONAL]",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "custom_duty": {
                      "description": "Incoterms for shipping [OPTIONAL]",
                      "example": "ddu",
                      "enum": [
                        "ddu",
                        "ddp",
                        "dap",
                        "dt1"
                      ],
                      "type": "string"
                    },
                    "is_stock_transfer": {
                      "description": "Should be true [REQUIRED]",
                      "type": "boolean"
                    },
                    "bill_of_exit": {
                      "description": "Bill of Exit string [OPTIONAL]",
                      "example": "BOE123",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "destination_store_code": {
                      "description": "Retail Store Code (This key will be used when creating a transfer for a retail store) [REQUIRED]",
                      "example": "store1",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "order_vas": {
                      "description": "VAS codes or names to apply at order level. Accepts an array of strings or a comma-separated string. [OPTIONAL] Requires vas_enabled setting to be ON. Gift/etching messages are NOT supported for STO orders.",
                      "type": "string"
                    },
                    "carrier": {
                      "description": "Carrier Details [REQUIRED]",
                      "type": "object",
                      "properties": {
                        "carrier_code": {
                          "description": "Carrier code at WMS (WMS will create one if not present in warehouse) [REQUIRED]",
                          "maxLength": 80,
                          "type": "string"
                        },
                        "carrier_name": {
                          "description": "Carrier Name (carrier company name) [REQUIRED]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "carrier_email": {
                          "description": "Carrier Email [OPTIONAL]",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "carrier_contact_number": {
                          "description": "Carrier Contact Number [OPTIONAL]",
                          "maxLength": 20,
                          "type": "string"
                        }
                      },
                      "required": [
                        "carrier_code",
                        "carrier_name"
                      ]
                    },
                    "adjustment_attributes": {
                      "description": "This will be used while calculating total payable on UI [OPTIONAL]",
                      "type": "object",
                      "properties": {
                        "total_paid": {
                          "description": "Total Paid for this order [OPTIONAL]",
                          "type": "number"
                        },
                        "sub_total": {
                          "description": "Order Sub Total [OPTIONAL]",
                          "type": "number"
                        },
                        "shipping_cost": {
                          "description": "Order Shipping Cost [OPTIONAL]",
                          "type": "number"
                        },
                        "tax_amount": {
                          "description": "Tax Amount [OPTIONAL]",
                          "type": "number"
                        },
                        "discount": {
                          "description": "Discount given on this order [OPTIONAL]",
                          "type": "number"
                        }
                      }
                    },
                    "order_items_attributes": {
                      "description": "List of items to transfer [REQUIRED]",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "line_number": {
                            "description": "Unique identifier for an existing order item [OPTIONAL]",
                            "type": "integer"
                          },
                          "unit_price": {
                            "description": "Unit Price of Order Item Product [OPTIONAL]",
                            "type": "number"
                          },
                          "retail_price": {
                            "description": "Retail Price of Order Item Product [OPTIONAL]",
                            "type": "number"
                          },
                          "selling_price": {
                            "description": "Selling Price of Order Item Product [OPTIONAL]",
                            "type": "number"
                          },
                          "quantity": {
                            "description": "Quantity of Order Item Product [REQUIRED]",
                            "minimum": 1,
                            "type": "integer"
                          },
                          "sku": {
                            "description": "Order Item Product SKU [REQUIRED]",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "sku_vas": {
                            "description": "VAS codes or names to apply at item level. Accepts an array of strings or a comma-separated string. [OPTIONAL] Requires vas_enabled setting to be ON. Gift/etching messages are NOT supported for STO orders.",
                            "type": "string"
                          },
                          "item_udfs_attributes": {
                            "description": "User defined fields at item level",
                            "type": "object",
                            "properties": {
                              "udf1": {
                                "description": "Custom user defined field 1 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf2": {
                                "description": "Custom user defined field 2 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf3": {
                                "description": "Custom user defined field 3 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf4": {
                                "description": "Custom user defined field 4 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf5": {
                                "description": "Custom user defined field 5 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf6": {
                                "description": "Custom user defined field 6 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf7": {
                                "description": "Custom user defined field 7 [OPTIONAL]",
                                "maxLength": 50,
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "quantity",
                          "sku"
                        ]
                      }
                    }
                  },
                  "required": [
                    "to_warehouse_code",
                    "is_stock_transfer",
                    "destination_store_code",
                    "carrier",
                    "order_items_attributes"
                  ]
                }
              },
              "required": [
                "b2b_order"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "STO Order successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "success",
                  "type": "string"
                },
                "message": {
                  "example": "Order created",
                  "type": "string"
                },
                "order_number": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "STO Order could not be created",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "example": "Signature verification raised | Nil JSON web token",
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Internal server error",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/b2c/process/{processNo}/pickup_lists": {
      "get": {
        "tags": [
          "#3. B2C Process"
        ],
        "summary": "Get Orders",
        "description": "Use this API to retrieve the pickup list for a specific process number.\n\n Copy & Paste the URL below in the Request URL: \n\n Plain Text /rest/v2/b2c/process/{processNo}/pickup_lists",
        "operationId": "Get_Orders",
        "parameters": [
          {
            "name": "processNo",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the pick process. [REQUIRED]",
            "type": "string"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "required": true,
            "description": "Warehouse Code [REQUIRED]",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of items to be picked up during the process, based on the specified process number",
            "schema": {
              "type": "object",
              "properties": {
                "pick_process_number": {
                  "description": "The unique identifier for the pick process.",
                  "example": "12345",
                  "type": "string"
                },
                "total_orders": {
                  "description": "The total number of orders to be sorted.",
                  "example": "5",
                  "type": "integer"
                },
                "total_items": {
                  "description": "The total number of different items to be sorted.",
                  "example": "10",
                  "type": "integer"
                },
                "total_units": {
                  "description": "The total number of units (quantity) of all items.",
                  "example": "25",
                  "type": "integer"
                },
                "status": {
                  "description": "The status of the pick process (e.g., pending, completed).",
                  "example": "in_progress",
                  "type": "string"
                },
                "packing_items": {
                  "description": "A list of items to be sorted during the process.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sku": {
                        "description": "The SKU (Stock Keeping Unit) identifier of the item.",
                        "example": "ABC123",
                        "type": "string"
                      },
                      "product_id": {
                        "description": "The unique identifier for the product.",
                        "example": "12",
                        "type": "string"
                      },
                      "product_name": {
                        "description": "The name of the product.",
                        "example": "Widget A",
                        "type": "string"
                      },
                      "quantity": {
                        "description": "The quantity of the product to be picked.",
                        "example": "5",
                        "type": "integer"
                      },
                      "shipment_id": {
                        "description": "The unique identifier of the shipment.",
                        "example": "113",
                        "type": "string"
                      },
                      "shipment_number": {
                        "description": "The shipment number associated with the product.",
                        "example": "SN12345",
                        "type": "string"
                      },
                      "bin_id": {
                        "description": "The identifier of the bin where the product is located.",
                        "example": "BIN001",
                        "type": "string"
                      },
                      "ean": {
                        "description": "Mfupc of this product",
                        "example": "EAN001",
                        "type": "string"
                      },
                      "locations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "description": "Code of location where product is available",
                              "example": "LOCA001",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Process not found",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Process Not Found",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/b2c/process/{processNo}/bin_mappings": {
      "post": {
        "tags": [
          "#3. B2C Process"
        ],
        "summary": "Update bin mapping",
        "description": "Use this API to update the bin mapping for a specific process number.\n\n Copy & Paste the JSON below in the Request Body: \n\n Plain Text {\n \\\"pick_process_code\\\": \\\"PROCESS123\\\",\n \\\"bin_details\\\": {\n \\\"bin_card_code\\\": \\\"BIN001\\\",\n \\\"shipment_number\\\": \\\"SHIP123\\\",\n \\\"shipment_id\\\": 123\n }\n }",
        "operationId": "Update_bin_mapping",
        "parameters": [
          {
            "name": "processNo",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the pick process. [REQUIRED]",
            "type": "string"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "required": true,
            "description": "Warehouse Code [REQUIRED]",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "pick_process_code": {
                  "description": "Code representing the pick process. [REQUIRED]",
                  "type": "string"
                },
                "bin_details": {
                  "description": "List of bin card codes and their corresponding shipment numbers to be mapped. [REQUIRED]",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bin_card_code": {
                        "description": "Unique identifier code for the bin. [REQUIRED]",
                        "example": "BIN001",
                        "type": "string"
                      },
                      "shipment_number": {
                        "description": "The Shipment Number to map to this bin. [REQUIRED]",
                        "example": "SHIP123",
                        "type": "string"
                      },
                      "shipment_id": {
                        "description": "Unique identifier for the shipment. [OPTIONAL]",
                        "type": "integer"
                      }
                    },
                    "required": [
                      "bin_card_code",
                      "shipment_number"
                    ]
                  }
                }
              },
              "required": [
                "pick_process_code",
                "bin_details"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully mapped bin",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "success",
                  "type": "string"
                },
                "message": {
                  "example": "Bin mapped successfully",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Process not found",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Process Not Found",
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Internal server error",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/customers/{customer_code}/consignments": {
      "get": {
        "tags": [
          "#4. Consignment APIs"
        ],
        "summary": "Fetch Consignments",
        "description": "Use this API to fetch consignments (Purchase Orders/ASNs) in the Anchanto WMS for a specific customer/company.\n\n Copy & Paste the URL below in the Request URL: \n\n Plain Text /rest/v2/customers/{customer_code}/consignments?page[number]=1&page[size]=10",
        "operationId": "Fetch_Consignments",
        "parameters": [
          {
            "name": "customer_code",
            "in": "path",
            "required": true,
            "description": "Customer/Company code [REQUIRED]",
            "type": "string"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "description": "Page number [OPTIONAL]",
            "type": "string"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "description": "Page size (10/20/50) [OPTIONAL]",
            "type": "string"
          },
          {
            "name": "filter[number]",
            "in": "query",
            "required": false,
            "description": "Filter by consignment number [OPTIONAL]",
            "type": "string"
          },
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "description": "Filter by status (e.g. pending, in_progress, completed) [OPTIONAL]",
            "type": "string"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "required": true,
            "description": "Warehouse code for authorization",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Consignments successfully fetched",
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "example": "Success",
                  "type": "string"
                },
                "status_code": {
                  "example": "1000",
                  "type": "integer"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Consignment ID",
                        "type": "string"
                      },
                      "type": {
                        "example": "consignment_index",
                        "type": "string"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "po_ref_number": {
                            "description": "Purchase Order reference number",
                            "type": "string"
                          },
                          "number": {
                            "description": "Consignment number",
                            "type": "string"
                          },
                          "order_type": {
                            "description": "Order type (PO/ASN)",
                            "example": "PO",
                            "enum": [
                              "PO",
                              "ASN"
                            ],
                            "type": "string"
                          },
                          "state": {
                            "description": "Consignment state",
                            "type": "string"
                          },
                          "instruction": {
                            "description": "Special instructions",
                            "type": "string"
                          },
                          "ship_date": {
                            "description": "Ship date",
                            "type": "string",
                            "format": "date-time"
                          },
                          "receiving_date": {
                            "description": "Expected receiving date",
                            "type": "string",
                            "format": "date-time"
                          },
                          "address": {
                            "description": "Address [OPTIONAL]",
                            "type": "string"
                          },
                          "created_at": {
                            "description": "Creation timestamp",
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "description": "Last updated timestamp",
                            "type": "string",
                            "format": "date-time"
                          },
                          "company_id": {
                            "description": "Company ID",
                            "type": "integer"
                          },
                          "supplier_id": {
                            "description": "Supplier ID",
                            "type": "integer"
                          },
                          "supplier_name": {
                            "description": "Supplier name",
                            "type": "string"
                          },
                          "supplier_code": {
                            "description": "Supplier code",
                            "type": "string"
                          },
                          "warehouse_code": {
                            "description": "Warehouse code",
                            "type": "string"
                          },
                          "company_name": {
                            "description": "Company name",
                            "type": "string"
                          },
                          "products_count": {
                            "description": "Number of different products",
                            "type": "integer"
                          },
                          "total_units": {
                            "description": "Total units expected",
                            "type": "integer"
                          },
                          "received_units": {
                            "description": "Units already received",
                            "type": "integer"
                          },
                          "display_state": {
                            "description": "Human readable state",
                            "type": "string"
                          },
                          "created_by": {
                            "description": "User ID who created the consignment",
                            "type": "string"
                          },
                          "warehouse_id": {
                            "description": "Warehouse ID",
                            "type": "integer"
                          },
                          "creation_mode": {
                            "description": "Creation mode (api/web/bulk)",
                            "type": "string"
                          },
                          "sla_end_time": {
                            "description": "SLA end time",
                            "type": "string",
                            "format": "date-time"
                          },
                          "received_products_count": {
                            "description": "Number of products received",
                            "type": "integer"
                          },
                          "pending_products_count": {
                            "description": "Number of products pending",
                            "type": "integer"
                          },
                          "pending_total_units": {
                            "description": "Total units pending",
                            "type": "integer"
                          },
                          "merchant_code": {
                            "description": "Merchant/Supplier code",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "description": "Current page number",
                      "type": "integer"
                    },
                    "total_pages": {
                      "description": "Total number of pages",
                      "type": "integer"
                    },
                    "total_count": {
                      "description": "Total number of consignments",
                      "type": "integer"
                    },
                    "per_page": {
                      "description": "Number of consignments per page",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "example": "Signature verification raised | Nil JSON web token",
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Internal server error",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "#4. Consignment APIs"
        ],
        "summary": "Create Consignment",
        "description": "Use this API to create a new consignment (Purchase Order/ASN) for a specific customer/company in the Anchanto WMS. By making a POST request to this endpoint, you can provide the necessary information for creating a new consignment including supplier details, items, and shipping information.\n\n Consignment with VAS: \n\n Plain Text {\n \"consignment\": {\n \"supplier_code\": \"SUP001\",\n \"number\": \"PO-2024-002\",\n \"order_type\": \"PO\",\n \"ship_date\": \"2024-01-15\",\n \"receiving_date\": \"2024-01-20\",\n \"po_vas\": [\"Quality Check\", \"Labeling\"],\n \"consignment_items_attributes\": [\n {\n \"sku\": \"PROD-001\",\n \"quantity\": 100,\n \"item_vas\": [\"Repackaging\"]\n }\n ],\n \"consignment_vas_attributes\": { \"price_tag_selected\": true }\n }\n }\n VAS Parameters: \nPrerequisite: vas_enabled must be ON. If disabled, VAS params are ignored.\n\n po_vas - VAS codes/names at consignment/PO level (array or comma-separated string) \n item_vas - VAS codes/names at item level (inside consignment items attributes) \n Note:\n\n Consignments do NOT support gift/etching message parameters.",
        "operationId": "Create_Consignment",
        "parameters": [
          {
            "name": "customer_code",
            "in": "path",
            "required": true,
            "description": "Customer/Company code to create consignment for",
            "type": "string"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "required": true,
            "description": "Warehouse code for authorization",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "consignment": {
                  "type": "object",
                  "properties": {
                    "supplier_code": {
                      "description": "Supplier code",
                      "example": "SUP001",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "number": {
                      "description": "Consignment number (if not provided, WMS will generate one)",
                      "example": "PO-2024-001",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "po_ref_number": {
                      "description": "Purchase Order reference number",
                      "example": "REF-PO-001",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "instruction": {
                      "description": "Special instructions for the consignment",
                      "example": "Handle with care",
                      "maxLength": 5000,
                      "type": "string"
                    },
                    "order_type": {
                      "description": "Order type",
                      "example": "PO",
                      "enum": [
                        "ASN",
                        "PO"
                      ],
                      "type": "string"
                    },
                    "ship_date": {
                      "description": "Ship date",
                      "example": "2024-01-15",
                      "type": "string",
                      "format": "date"
                    },
                    "receiving_date": {
                      "description": "Expected receiving date",
                      "example": "2024-01-20",
                      "type": "string",
                      "format": "date"
                    },
                    "country": {
                      "description": "Country name or ISO code. Required if currency is provided.",
                      "example": "United States",
                      "type": "string"
                    },
                    "currency": {
                      "description": "Currency code (e.g., USD). Requires country to be specified.",
                      "example": "USD",
                      "type": "string"
                    },
                    "po_vas": {
                      "description": "VAS codes or names to apply at consignment/PO level. [OPTIONAL]",
                      "type": "string"
                    },
                    "vas_ids": {
                      "description": "Array of VAS IDs to apply at consignment level [OPTIONAL]",
                      "type": "array",
                      "items": {
                        "description": "Array of VAS IDs to apply at consignment level [OPTIONAL]",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "consignment_items_attributes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "line_number": {
                            "description": "Line number [OPTIONAL]",
                            "example": "1",
                            "type": "integer"
                          },
                          "unit_price": {
                            "description": "Unit price of the item",
                            "example": "25.99",
                            "type": "number"
                          },
                          "quantity": {
                            "description": "Quantity of items",
                            "example": "100",
                            "minimum": 1,
                            "type": "integer"
                          },
                          "sku": {
                            "description": "Product SKU",
                            "example": "PROD-001",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "batch_number": {
                            "description": "Batch number",
                            "example": "BATCH-001",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "expiry_date": {
                            "description": "Expiry date (YYYY-MM-DD)",
                            "example": "2025-01-15",
                            "maxLength": 255,
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                            "type": "string",
                            "format": "date"
                          },
                          "manufacturing_date": {
                            "description": "Manufacturing date (YYYY-MM-DD)",
                            "example": "2024-01-01",
                            "maxLength": 255,
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                            "type": "string",
                            "format": "date"
                          },
                          "upload_type": {
                            "description": "Upload type",
                            "example": "manual",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "uom": {
                            "description": "Unit of measure",
                            "example": "pieces",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "uom_units": {
                            "description": "UOM units",
                            "example": "1",
                            "minimum": 1,
                            "type": "integer"
                          },
                          "base_line_number": {
                            "description": "Base line number",
                            "example": "001",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "coo": {
                            "description": "Country of Origin (Name or ISO code)",
                            "example": "United States",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "consignment_item_udf_attributes": {
                            "description": "User defined fields for the consignment item",
                            "type": "object",
                            "properties": {
                              "udf_display_name1": {
                                "example": "Custom Field 1",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name2": {
                                "example": "Custom Field 2",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name3": {
                                "example": "Custom Field 3",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name4": {
                                "example": "Custom Field 4",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name5": {
                                "example": "Custom Field 5",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name6": {
                                "example": "Custom Field 6",
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name7": {
                                "example": "Custom Field 7",
                                "maxLength": 50,
                                "type": "string"
                              }
                            }
                          },
                          "item_vas": {
                            "description": "VAS codes or names to apply at item level. [OPTIONAL]",
                            "type": "string"
                          },
                          "item_vas_ids": {
                            "description": "Array of VAS IDs to apply at item level [OPTIONAL]",
                            "type": "array",
                            "items": {
                              "description": "Array of VAS IDs to apply at item level [OPTIONAL]",
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "quantity",
                          "sku"
                        ]
                      }
                    },
                    "consignment_vas_attributes": {
                      "description": "[OPTIONAL] [LEGACY] Use po_vas instead when vas_enabled is ON. Legacy VAS attributes.",
                      "type": "object",
                      "properties": {
                        "price_tag": {
                          "description": "Price tag requirements",
                          "example": "Required",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "price_tag_selected": {
                          "description": "Price tag selected",
                          "example": "true",
                          "type": "boolean"
                        },
                        "security_tag_check": {
                          "description": "Security tag check required",
                          "type": "boolean"
                        },
                        "shrink_wrapping": {
                          "description": "Shrink wrapping required",
                          "example": "true",
                          "type": "boolean"
                        }
                      }
                    },
                    "receiving_address_attributes": {
                      "description": "Receiving address details [OPTIONAL]",
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "description": "First Name",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "last_name": {
                          "description": "Last Name",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address1": {
                          "description": "Address 1",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address2": {
                          "description": "Address 2",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address3": {
                          "description": "Address 3",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "city": {
                          "description": "City",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "zipcode": {
                          "description": "Zip Code",
                          "maxLength": 15,
                          "type": "string"
                        },
                        "country_iso": {
                          "description": "Country ISO Code",
                          "maxLength": 10,
                          "type": "string"
                        },
                        "state_abbreviation": {
                          "description": "State Abbreviation",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "phone": {
                          "description": "Phone Number",
                          "minLength": 8,
                          "maxLength": 15,
                          "pattern": "^\\d+$",
                          "type": "string"
                        },
                        "email": {
                          "description": "Email Address",
                          "example": "customer@example.com",
                          "maxLength": 255,
                          "pattern": "^([^@\\s]+)@((?:[-a-zA-Z0-9]+\\.)+[a-zA-Z]{2,})$",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "supplier_code",
                    "number",
                    "ship_date",
                    "receiving_date",
                    "consignment_items_attributes"
                  ]
                }
              },
              "required": [
                "consignment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consignment successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "success",
                  "type": "string"
                },
                "message": {
                  "example": "Consignment created",
                  "type": "string"
                },
                "order_number": {
                  "description": "Created consignment number",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Duplicate consignment number",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Consignment could not be created",
                  "type": "string"
                },
                "data": {
                  "example": "This Purchase Order/ASN order number already exists",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "example": "Signature verification raised | Nil JSON web token",
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "example": "500",
                  "type": "integer"
                },
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Internal server error",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/customers/{customer_code}/consignments/update_consignment": {
      "post": {
        "tags": [
          "#4. Consignment APIs"
        ],
        "summary": "Update Consignment",
        "description": "Use this API to update an existing consignment for a specific customer/company in the Anchanto WMS.\n\n Copy & Paste the JSON below in the Request Body: \n\n Plain Text {\n \\\"consignment\\\": {\n \\\"number\\\": \\\"PO-2024-001\\\",\n \\\"supplier_code\\\": \\\"SUP-001\\\",\n \\\"expected_delivery_date\\\": \\\"2024-12-31\\\",\n \\\"consignment_items_attributes\\\": [\n {\n \\\"sku\\\": \\\"PROD-001\\\",\n \\\"quantity\\\": 150,\n \\\"unit_price\\\": 10.50\n }\n ]\n }\n }\n Update Consignment with VAS: \n\n Plain Text {\n \\\"consignment\\\": {\n \\\"number\\\": \\\"PO-2024-001\\\",\n \\\"po_vas\\\": [\\\"Quality Check\\\"],\n \\\"consignment_items_attributes\\\": [\n {\n \\\"sku\\\": \\\"PROD-001\\\",\n \\\"quantity\\\": 150,\n \\\"item_vas\\\": [\\\"Repackaging\\\"]\n }\n ]\n }\n }\n Update Existing/Delete Items: \n\n Plain Text {\n \"consignment\": {\n \"number\": \"PO-2024-001\",\n \"consignment_items_attributes\": [\n {\n \"line_number\": 1,\n \"quantity\": 200\n },\n {\n \"line_number\": 2,\n \"delete_item\": true\n }\n ]\n }\n }\n VAS Parameters: \nPrerequisite: vas_enabled must be ON. If disabled, VAS params are ignored.\n\n po_vas - VAS codes/names at consignment level. Replaces existing VAS on update. Send blank to clear. \n item_vas - VAS codes/names at item level. Replaces existing VAS on update. \n IMPORTANT:\n\n Use line_number to target specific items for update or deletion. \n To delete an item, set delete_item: true along with its line_number . \n New items are added if no line_number is provided. \n Note: Consignments do NOT support gift/etching message parameters.",
        "operationId": "Update_Consignment",
        "parameters": [
          {
            "name": "customer_code",
            "in": "path",
            "required": true,
            "description": "Customer/Company code that owns the consignment",
            "type": "string"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "required": true,
            "description": "Warehouse code for authorization",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "consignment": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "description": "Consignment number to update [REQUIRED]",
                      "example": "PO-2024-001",
                      "maxLength": 255,
                      "type": "string"
                    },
                    "supplier_code": {
                      "description": "Updated supplier code [OPTIONAL]",
                      "example": "SUP002",
                      "type": "string"
                    },
                    "po_ref_number": {
                      "description": "Updated PO reference number [OPTIONAL]",
                      "example": "REF-PO-002",
                      "maxLength": 80,
                      "type": "string"
                    },
                    "instruction": {
                      "description": "Updated instructions [OPTIONAL]",
                      "example": "Updated handling instructions",
                      "type": "string"
                    },
                    "order_type": {
                      "description": "Order type [OPTIONAL]",
                      "example": "ASN",
                      "enum": [
                        "ASN",
                        "PO"
                      ],
                      "type": "string"
                    },
                    "ship_date": {
                      "description": "Updated ship date [OPTIONAL]",
                      "example": "2024-01-16",
                      "type": "string",
                      "format": "date"
                    },
                    "receiving_date": {
                      "description": "Updated receiving date [OPTIONAL]",
                      "example": "2024-01-21",
                      "type": "string",
                      "format": "date"
                    },
                    "country": {
                      "description": "Updated country name or ISO code [OPTIONAL]",
                      "example": "Singapore",
                      "type": "string"
                    },
                    "currency": {
                      "description": "Updated currency code [OPTIONAL]",
                      "example": "SGD",
                      "type": "string"
                    },
                    "po_vas": {
                      "description": "VAS codes or names at consignment/PO level. [OPTIONAL]",
                      "type": "string"
                    },
                    "vas_ids": {
                      "description": "Array of VAS IDs to apply at consignment level [OPTIONAL]",
                      "type": "array",
                      "items": {
                        "description": "Array of VAS IDs to apply at consignment level [OPTIONAL]",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "consignment_items_attributes": {
                      "description": "List of items to update/add [OPTIONAL]",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "description": "Product SKU [REQUIRED for creation/update]",
                            "example": "PROD-002",
                            "maxLength": 255,
                            "type": "string"
                          },
                          "quantity": {
                            "description": "Quantity [REQUIRED for creation/update]",
                            "example": "150",
                            "minimum": 1,
                            "type": "integer"
                          },
                          "unit_price": {
                            "description": "Unit Price [OPTIONAL]",
                            "example": "29.99",
                            "type": "number"
                          },
                          "batch_number": {
                            "description": "Batch Number [CONDITIONAL]",
                            "example": "BATCH-002",
                            "type": "string"
                          },
                          "expiry_date": {
                            "description": "Expiry Date (YYYY-MM-DD) [CONDITIONAL]",
                            "example": "2025-06-15",
                            "type": "string",
                            "format": "date"
                          },
                          "manufacturing_date": {
                            "description": "Manufacturing Date (YYYY-MM-DD) [OPTIONAL]",
                            "example": "2024-01-02",
                            "type": "string",
                            "format": "date"
                          },
                          "line_number": {
                            "description": "Unique identifier for an existing consignment item. [REQUIRED FOR UPDATE/DELETE]",
                            "example": "1",
                            "type": "integer"
                          },
                          "delete_item": {
                            "description": "Set this to true along with line_number to delete the specified consignment item. [OPTIONAL]",
                            "type": "boolean"
                          },
                          "upload_type": {
                            "description": "Upload type [OPTIONAL]",
                            "example": "manual",
                            "type": "string"
                          },
                          "uom": {
                            "description": "Unit of measure [OPTIONAL]",
                            "example": "pieces",
                            "type": "string"
                          },
                          "uom_units": {
                            "description": "UOM units [OPTIONAL]",
                            "example": "1",
                            "type": "integer"
                          },
                          "base_line_number": {
                            "description": "Base line number [OPTIONAL]",
                            "example": "001",
                            "type": "string"
                          },
                          "coo": {
                            "description": "Country of Origin [OPTIONAL]",
                            "example": "Vietnam",
                            "type": "string"
                          },
                          "consignment_item_udf_attributes": {
                            "description": "User defined fields for the consignment item [OPTIONAL]",
                            "type": "object",
                            "properties": {
                              "udf_display_name1": {
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name2": {
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name3": {
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name4": {
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name5": {
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name6": {
                                "maxLength": 50,
                                "type": "string"
                              },
                              "udf_display_name7": {
                                "maxLength": 50,
                                "type": "string"
                              }
                            }
                          },
                          "item_vas": {
                            "description": "VAS codes or names at item level. [OPTIONAL]",
                            "type": "string"
                          },
                          "item_vas_ids": {
                            "description": "Array of VAS IDs to apply at item level [OPTIONAL]",
                            "type": "array",
                            "items": {
                              "description": "Array of VAS IDs to apply at item level [OPTIONAL]",
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "sku",
                          "quantity"
                        ]
                      }
                    },
                    "consignment_vas_attributes": {
                      "description": "[LEGACY] Use po_vas instead when vas_enabled is ON. Legacy VAS attributes.",
                      "type": "object",
                      "properties": {
                        "price_tag": {
                          "description": "Price tag requirements [OPTIONAL]",
                          "example": "Not Required",
                          "type": "string"
                        },
                        "price_tag_selected": {
                          "description": "Price tag selected [OPTIONAL]",
                          "type": "boolean"
                        },
                        "security_tag_check": {
                          "description": "Security tag check [OPTIONAL]",
                          "example": "true",
                          "type": "boolean"
                        },
                        "shrink_wrapping": {
                          "description": "Shrink wrapping [OPTIONAL]",
                          "type": "boolean"
                        }
                      }
                    },
                    "receiving_address_attributes": {
                      "description": "Updated receiving address details [OPTIONAL]",
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "description": "First Name",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "last_name": {
                          "description": "Last Name",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address1": {
                          "description": "Address 1",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address2": {
                          "description": "Address 2",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "address3": {
                          "description": "Address 3",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "city": {
                          "description": "City",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "zipcode": {
                          "description": "Zip Code",
                          "maxLength": 15,
                          "type": "string"
                        },
                        "country_iso": {
                          "description": "Country ISO Code",
                          "maxLength": 10,
                          "type": "string"
                        },
                        "state_abbreviation": {
                          "description": "State Abbreviation",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "phone": {
                          "description": "Phone Number",
                          "minLength": 8,
                          "maxLength": 15,
                          "pattern": "^\\d+$",
                          "type": "string"
                        },
                        "email": {
                          "description": "Email Address",
                          "example": "customer@example.com",
                          "maxLength": 255,
                          "pattern": "^([^@\\s]+)@((?:[-a-zA-Z0-9]+\\.)+[a-zA-Z]{2,})$",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "number"
                  ]
                }
              },
              "required": [
                "consignment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consignment successfully updated",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "success",
                  "type": "string"
                },
                "message": {
                  "example": "Consignment Updated Successfully!",
                  "type": "string"
                },
                "number": {
                  "description": "Updated consignment number",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation errors",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Consignment could not be updated",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "example": "Signature verification raised | Nil JSON web token",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Consignment not found",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Consignment not found!",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Consignment cannot be modified - not in pending state",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "example": "failure",
                  "type": "string"
                },
                "message": {
                  "example": "Consignment cannot be modified, as the consignment is not in the pending state.",
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "array",
[...]
