{
  "openapi": "3.0.3",
  "info": {
    "title": "Anchanto OMS (SelluSeller) Open API — JPluger-called surface",
    "version": "1.0.0",
    "description": "The subset of the Anchanto OMS (SelluSeller) Open API that JPluger actually calls, reconstructed from the JPluger source rather than from an OMS-published document.\n\nScope: every path reached via the `SS_DOMAIN` / `selluseller.open.api.base.url` base URL. The WMS3 product API (`WMS_3_URL` / `WREO_DOMAIN`, e.g. `/rest/v2/customers/{customer_code}/...`) is a different Anchanto product and is deliberately excluded. Note that `/rest/v2` alone does not mean WMS3: OMS has its own v2 inventory endpoints (`/rest/v2/inventory_products/*`), which are in scope.\n\n## Serialization trap\nTwo serializers are in play and they disagree on field names.\n\n- **Request bodies** built with `gson.toJson(...)` — the marketplace-connector, wms-connector, ss-connector and selluseller-connector write paths — are **Gson**-serialized. The wire key is `@SerializedName` if present, otherwise the *raw Java field name* (these DTOs use snake_case Java field names). `@JsonProperty` is ignored there; it describes the inbound Kafka/Rabbit payload, not the OMS wire format. Gson omits nulls and skips `transient` fields.\n- Request bodies passed as a POJO to `restManager.post/patch(...)` or `new HttpEntity<Dto>(...)` are **Jackson**-serialized, so `@JsonProperty` wins.\n- **All responses** are Jackson-deserialized, so `@JsonProperty` is the wire name.\n\nEach operation records its real call sites in `x-jpluger-callers`. Operations marked `x-jpluger-status: constant-only` have a path constant in the source but no live call site — their verb and body are inferred, so treat them as lower-confidence when building a mock.\n\n## Auth\n`POST /oauth/token` uses grant_type `authorization_code` with a JSON body and returns `access_token`; every other operation sends `Authorization: Bearer <access_token>`."
  },
  "servers": [
    {
      "url": "https://openapi-omsqa.anchanto.com",
      "description": "QA / the value of SS_DOMAIN in every local, dev, test and stage profile"
    },
    {
      "url": "https://ewmsapi.selluseller.com",
      "description": "Production"
    },
    {
      "url": "http://127.0.0.1:23001",
      "description": "Local mock server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Token issuance and the identity probe JPluger uses to validate a token"
    },
    {
      "name": "Orders",
      "description": "Order create, fetch, status transitions, shipping details, returns and manifests"
    },
    {
      "name": "Inventory",
      "description": "Inventory products and stock levels"
    },
    {
      "name": "Catalogue",
      "description": "Catalogue products (SKUs), status and price"
    },
    {
      "name": "Catalogue Taxonomy",
      "description": "Brands, categories and category attributes"
    },
    {
      "name": "Stores",
      "description": "Seller store records and their credentials"
    },
    {
      "name": "Warehouses",
      "description": "Warehouses and stock locations"
    },
    {
      "name": "Shipping",
      "description": "Shipping methods and SMP shipping methods"
    },
    {
      "name": "Misc",
      "description": "Reports, payouts, transactions and promotions"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "createOAuthToken",
        "summary": "Exchange an authorization code for an OMS access token",
        "tags": [
          "Auth"
        ],
        "security": [],
        "description": "OAuth2 authorization_code grant against SelluSeller/OMS. Called during the SelluSeller app-install callback. All parameters travel in a JSON request body (Content-Type: application/json, Accept: */*) - NOT in the query string and NOT form-urlencoded. The body is a POJO handed to restManager.post(url, headers, dto, JsonNode.class), so Jackson serialisation applies and @JsonProperty wins: client_id, client_secret, grant_type, code, redirect_uri. grant_type is injected from the ${GRANT_TYPE} property, which is 'authorization_code' in every environment properties file. JPluger reads only 'access_token' out of the response. Calling modules: marketplace-connector (connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/publisher/AuthenticationService.java:140-153), wms-connector (connector/wms-connector/src/main/java/com/anchanto/connector/wms/publisherService/AuthenticationService.java:126-134), marketplace-core (marketplace-integrations/marketplace-core/src/main/java/com/anchanto/marketplace/core/service/AuthenticationService.java:226-247), carrier-integration (carrier-integration/src/main/java/com/anchanto/carrier/integration/service/AuthenticationService.java:134-154).",
        "x-jpluger-callers": [
          "marketplace-connector → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/publisher/AuthenticationService.java:148",
          "marketplace-connector → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/utils/MpConstants.java:48",
          "jpluger-connector → connector/jpluger-connector/src/main/java/com/anchanto/connector/selluseller/utils/JplugerConstants.java:11",
          "wms-connector → connector/wms-connector/src/main/java/com/anchanto/connector/wms/publisherService/AuthenticationService.java:134",
          "marketplace-core → marketplace-integrations/marketplace-core/src/main/java/com/anchanto/marketplace/core/service/AuthenticationService.java:241",
          "marketplace-core-model → marketplace-integrations/marketplace-core-model/src/main/java/com/anchanto/marketplace/core/util/GlobalConstant.java:285",
          "carrier-integration → carrier-integration/src/main/java/com/anchanto/carrier/integration/service/AuthenticationService.java:147",
          "carrier-integrations → carrier-integrations/carrier-core/src/main/java/com/anchanto/carrier/core/utils/GlobalConstant.java:19",
          "wms-integrations-legacy → wms-integrations/wms-integrations-legacy/src/main/java/com/anchanto/wms/integration/service/AuthenticationService.java:155",
          "marketplace-integrations-legacy → marketplace-integrations/marketplace-integrations-legacy/src/main/java/com/anchanto/marketplace/integration/service/AuthenticationService.java:184",
          "marketplace-integration → marketplace-integration/src/main/java/com/anchanto/marketplace/integration/controller/ConnectionController.java:381"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              },
              "example": {
                "client_id": "a3f9c1e07b5d42a8b6e1d9c4f0a25b73e8d1c6a94f27b30e5d8c1a6b47f92e03",
                "client_secret": "7b2e5d1a9c4f60b83e7d2a5c1f9048b6d3e7a1c5f0b94d26e8a3c7f1b5d09e42",
                "grant_type": "authorization_code",
                "code": "9c4d1f7a3b8e2506d1f4a7c9b3e5028d",
                "redirect_uri": "https://jplugger-dev.selluseller.com:3004/jpluger/mp/callback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                },
                "example": {
                  "access_token": "f1a6c2d8e40b7935a1c6d2f8b04e7395c1a6d2f8b04e7395c1a6d2f8b04e7395",
                  "token_type": "Bearer",
                  "expires_in": 7200,
                  "refresh_token": "3e9b5c1a7f024d68b3e9c5a1f7d02468b3e9c5a1f7d02468b3e9c5a1f7d02468",
                  "scope": "public",
                  "created_at": 1755216000
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials or expired authorization code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonErrorResponse"
                },
                "example": {
                  "error": "invalid_grant",
                  "error_description": "The provided authorization grant is invalid, expired, revoked, or was issued to another client.",
                  "status": 401,
                  "message": "The provided authorization grant is invalid, expired, revoked, or was issued to another client.",
                  "summary": "Unauthorized"
                }
              }
            }
          },
          "400": {
            "description": "Malformed token request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonErrorResponse"
                },
                "example": {
                  "error": "invalid_request",
                  "error_description": "Missing required parameter: code",
                  "status": 400,
                  "message": "Missing required parameter: code",
                  "summary": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Fetch the SelluSeller user and seller profile for the bearer token",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "Called straight after /oauth/token to resolve the seller behind the freshly issued access token; the result populates the Seller and User rows (seller_code, seller_id, base_currency, is_multiwarehousing, email). No query parameters and no body; the only input is the Authorization: Bearer header. Response is deserialised by Jackson into UserInfoDTO, so @JsonProperty names are the wire names. Calling modules: marketplace-connector (connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/publisher/AuthenticationService.java:181-184), wms-connector (connector/wms-connector/src/main/java/com/anchanto/connector/wms/publisherService/AuthenticationService.java:178-181), marketplace-core (marketplace-integrations/marketplace-core/src/main/java/com/anchanto/marketplace/core/service/AuthenticationService.java:267-286), carrier-integration (carrier-integration/src/main/java/com/anchanto/carrier/integration/service/AuthenticationService.java:179).",
        "x-jpluger-callers": [
          "marketplace-connector → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/publisher/AuthenticationService.java:184",
          "marketplace-connector → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/utils/MpConstants.java:50",
          "jpluger-connector → connector/jpluger-connector/src/main/java/com/anchanto/connector/selluseller/utils/JplugerConstants.java:12",
          "wms-connector → connector/wms-connector/src/main/java/com/anchanto/connector/wms/publisherService/AuthenticationService.java:181",
          "marketplace-core → marketplace-integrations/marketplace-core/src/main/java/com/anchanto/marketplace/core/service/AuthenticationService.java:281",
          "marketplace-core-model → marketplace-integrations/marketplace-core-model/src/main/java/com/anchanto/marketplace/core/util/GlobalConstant.java:290",
          "carrier-integration → carrier-integration/src/main/java/com/anchanto/carrier/integration/service/AuthenticationService.java:179",
          "carrier-core → carrier-integrations/carrier-core/src/main/java/com/anchanto/carrier/core/utils/GlobalConstant.java:20",
          "wms-integrations-legacy → wms-integrations/wms-integrations-legacy/src/main/java/com/anchanto/wms/integration/service/AuthenticationService.java:189",
          "marketplace-integrations-legacy → marketplace-integrations/marketplace-integrations-legacy/src/main/java/com/anchanto/marketplace/integration/service/AuthenticationService.java:226"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Authenticated user profile with the seller it belongs to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMeResponse"
                },
                "example": {
                  "email": "integration.ops@anchanto-demo.com",
                  "firstname": "Integration",
                  "lastname": "Operations",
                  "username": "integration.ops",
                  "id": 48213,
                  "phone_no": "+6598120044",
                  "seller_id": 3391,
                  "seller_code": "ANCH_DEMO_SG",
                  "seller_tag": null,
                  "base_currency": "SGD",
                  "zone_id": 12,
                  "is_multiwarehousing": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or revoked bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonErrorResponse"
                },
                "example": {
                  "error": "invalid_token",
                  "error_description": "The access token expired",
                  "status": 401,
                  "message": "The access token expired",
                  "summary": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List / search orders on the OMS",
        "tags": [
          "Orders"
        ],
        "description": "Polls OMS for orders matching a store code, status and time window. Called by marketplace-integration (Etsy cancelled-order reconciliation) at marketplace-integration/src/main/java/com/anchanto/marketplace/integration/etsy/workers/fetchers/orders/CancelledOrders.java:378 (restTemplate.exchange, HttpMethod.GET, response read as raw String then parsed to JsonNode), and by marketplace-integrations (Etsy scheduled MP service) at marketplace-integrations/src/main/java/com/anchanto/marketplace/integration/etsy/service/EtsyScheduledMPService.java:291 (restManager.get(..., JsonNode.class), payload node mapped to List<OrderDataDTO>). Query params come from UriComponentsBuilder.queryParam / MultiValueMap. Response is deserialized with Jackson, so wire keys are the @JsonProperty values.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-integration (Etsy CancelledOrders) → marketplace-integration/src/main/java/com/anchanto/marketplace/integration/etsy/workers/fetchers/orders/CancelledOrders.java:378",
          "marketplace-integrations (EtsyScheduledMPService) → marketplace-integrations/src/main/java/com/anchanto/marketplace/integration/etsy/service/EtsyScheduledMPService.java:291"
        ],
        "parameters": [
          {
            "name": "ss_code",
            "in": "query",
            "required": false,
            "description": "SelluSeller store code to filter on.",
            "schema": {
              "type": "string"
            },
            "example": "ETSY_SG_01"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "OMS order status filter.",
            "schema": {
              "type": "string"
            },
            "example": "CANCELLED"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. CancelledOrders.java hard-codes 10000.",
            "schema": {
              "type": "integer",
              "default": 10000
            },
            "example": 10000
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "description": "ISO-8601 lower bound on updated_at.",
            "schema": {
              "type": "string"
            },
            "example": "2026-08-14 00:00:00"
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "description": "ISO-8601 lower bound on created_at (used by EtsyScheduledMPService).",
            "schema": {
              "type": "string"
            },
            "example": "2026-08-14 00:00:00"
          }
        ],
        "responses": {
          "200": {
            "description": "Order list wrapped in a payload envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                },
                "example": {
                  "payload": [
                    {
                      "order_id": 90114455,
                      "order_number": "ETSY-3399201",
                      "market_place_order_number": "3399201",
                      "marketplace_code": "etsy",
                      "marketplace_name": "Etsy",
                      "store_code": "ETSY_SG_01",
                      "store_name": "Etsy Singapore",
                      "country_code": "SG",
                      "seller_currency": "SGD",
                      "payment_method": "credit_card",
                      "is_cod": false,
                      "price": 128.5,
                      "item_total": 118.0,
                      "payment_total": 128.5,
                      "order_total": 128.5,
                      "items_count": 2,
                      "status": "CANCELLED",
                      "state": "CANCELLED",
                      "statuses": [
                        "CANCELLED"
                      ],
                      "current_state": "CANCELLED",
                      "order_date": "2026-08-12T09:14:00Z",
                      "created_at": "2026-08-12T09:14:03Z",
                      "updated_at": "2026-08-14T11:02:41Z",
                      "marketplace_seller_id": "SELLER-8891",
                      "warehouse_code": "SG-WH-01",
                      "fulfilment_mode": "SELLER_FULFILLED",
                      "fulfilment_by_marketplace": false,
                      "customer_email": "buyer@example.com",
                      "customer_first_name": "Mei",
                      "customer_last_name": "Tan",
                      "order_items": [
                        {
                          "order_item_id": 55510011,
                          "line_item_id": "3399201-1",
                          "sku": "SKU-RED-M",
                          "quantity": 1,
                          "status": "CANCELLED",
                          "item_price": "59.00",
                          "paid_price": 59.0,
                          "currency": "SGD",
                          "shipping_amount": "5.25",
                          "tax_amount": 4.13,
                          "tracking_code": "SGP123456789",
                          "item_codes": [
                            "IC-0001"
                          ],
                          "shipment_number": "SHP-77120"
                        },
                        {
                          "order_item_id": 55510012,
                          "line_item_id": "3399201-2",
                          "sku": "SKU-BLU-L",
                          "quantity": 1,
                          "status": "CANCELLED",
                          "item_price": "59.00",
                          "paid_price": 59.0,
                          "currency": "SGD",
                          "shipping_amount": "5.25",
                          "tax_amount": 4.13,
                          "tracking_code": "SGP123456790",
                          "item_codes": [
                            "IC-0002"
                          ],
                          "shipment_number": "SHP-77120"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Bearer token missing or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Unauthorized",
                  "error_message": "Access token is invalid or expired",
                  "status": 401
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error. Callers retry via RetryHandler / OipException.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "Unable to fetch orders",
                  "status": 500
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create a single order (new or historical) on the OMS",
        "tags": [
          "Orders"
        ],
        "description": "Pushes one marketplace order into OMS. Called by connector/marketplace-connector (OipOrdersImpl.pushNewOrders) at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:191 and by OipOrdersImpl.pushHistoricalOrders at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:445; also by ss-connector OrderServiceExtendedImpl.pushNewOrders at ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:813 and selluseller-connector OrderServiceExtendedImpl.pushNewOrders at selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:96. REQUEST BODY IS GSON-SERIALIZED (MarketplaceConnectorRequestHandler.execute does gson.toJson(body) at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/handler/MarketplaceConnectorRequestHandler.java:67), so wire keys are the raw snake_case Java field names unless @SerializedName overrides; the @JsonProperty camelCase names describe the inbound Kafka payload and are NOT on the wire. Gson omits nulls and skips transient fields (withHoldObject, originalOrderNumber).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-connector (OipOrdersImpl.pushNewOrders) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:191",
          "marketplace-connector (OipOrdersImpl.pushHistoricalOrders) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:445",
          "ss-connector (OrderServiceExtendedImpl.pushNewOrders) → ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:813",
          "ss-connector (OrderServiceExtendedImpl.pushHistoricalOrderToSS) → ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:349",
          "selluseller-connector (OrderServiceExtendedImpl.pushNewOrders) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:96",
          "selluseller-connector (OrderServiceImpl.pushHistoricalOrderToSS) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceImpl.java:509"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              },
              "example": {
                "order": {
                  "order_number": "TT-90210-A",
                  "store_code": "TIKTOK_ID_01",
                  "marketplace_code": "tiktok",
                  "email": "buyer@example.com",
                  "payment_method": "cash on delivery",
                  "cod": true,
                  "currency_code": "IDR",
                  "delivery_info": "Leave at guard house",
                  "delivery_detail": {
                    "delivery_date": "2026-08-18",
                    "delivery_time_slot": "09:00-12:00",
                    "remarks": "Ring the bell"
                  },
                  "gift_order": "false",
                  "gift_message": "",
                  "order_date": "2026-08-15 10:22:31",
                  "items_total": 250000.0,
                  "order_total": 262000.0,
                  "payment_total": 262000.0,
                  "order_status": "New",
                  "tags": "priority",
                  "company": "Anchanto Retail",
                  "is_historical_order": false,
                  "is_mp_unpaid": false,
                  "is_fbl_order": false,
                  "isReturn": false,
                  "isExchange": false,
                  "is_duplicate": false,
                  "is_custom_exchange": false,
                  "special_instructions": "Fragile",
                  "customer_details": {
                    "first_name": "Budi",
                    "last_name": "Santoso",
                    "customer_email": "buyer@example.com",
                    "customer_dob": "1990-04-11"
                  },
                  "customer_addresses": [
                    {
                      "address_type": "shipping",
                      "first_name": "Budi",
                      "last_name": "Santoso",
                      "address_line1": "Jl. Sudirman No. 12",
                      "address_line2": "Blok B",
                      "address_line3": "",
                      "address_city": "Jakarta",
                      "address_state": "DKI Jakarta",
                      "postcode": "10220",
                      "country_code": "ID",
                      "email": "buyer@example.com",
                      "primary_phone": "+628123456789",
                      "alternative_phone": "+628987654321",
                      "suburb": "Tanah Abang",
                      "company": "Anchanto Retail"
                    }
                  ],
                  "order_items": [
                    {
                      "line_item_id": "TT-90210-A-1",
                      "item_sku": "SKU-RED-M",
                      "item_quantity": 2,
                      "item_price": 125000.0,
                      "paid_price": 250000.0,
                      "shipping_charges": 12000.0,
                      "shipping_method": "Standard",
                      "shipping_type": "DROPSHIP",
                      "service_type": "REGULAR",
                      "shipment_status": "pending",
                      "seller_discount": 0.0,
                      "channel_discount": 0.0,
                      "tax_amount": "25000",
                      "status": "New",
                      "platform_voucher_code": "",
                      "seller_voucher_code": "",
                      "reason": "",
                      "tracking_number": "",
                      "item_codes": [
                        "IC-90210-1",
                        "IC-90210-2"
                      ],
                      "warehouse_code": "ID-WH-01",
                      "sla_timestamp": "2026-08-17 23:59:59",
                      "order_flag": "NORMAL",
                      "details": "",
                      "shipping_fee_original": 12000.0,
                      "shipping_fee_seller_discount": 0.0,
                      "shipping_fee_platform_discount": 0.0,
                      "extra_attributes": [
                        {
                          "key_name": "gift_wrap",
                          "key_value": "true"
                        }
                      ],
                      "engraving_details": {
                        "engraving_position": "front",
                        "engraving_message": "Happy Birthday",
                        "language": "en",
                        "gift_from": "Ani",
                        "gift_to": "Budi"
                      }
                    }
                  ],
                  "order_extra_data": [
                    {
                      "sku": "SKU-RED-M",
                      "data": [
                        {
                          "key_name": "label_note",
                          "key_value": "handle with care"
                        }
                      ]
                    }
                  ],
                  "pudo_details": {
                    "pickup_location_id": "PU-001",
                    "dropoff_location_id": "DO-004",
                    "pickup_address_id": "PA-11",
                    "dropoff_address_id": "DA-42"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order accepted and created. Callers check response.getStatus().is2xxSuccessful() and then whether the body's `error` field is non-null (OipOrdersImpl.java:201).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateResponse"
                },
                "example": {
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "state": "NEW",
                  "status": "New",
                  "statuses": [
                    "New"
                  ],
                  "created_at": "2026-08-15T10:22:35Z",
                  "updated_at": "2026-08-15T10:22:35Z",
                  "order_at": "2026-08-15T10:22:31Z",
                  "marketplace_seller_id": "SELLER-8891",
                  "marketplace_code": "tiktok",
                  "marketplace_name": "TikTok Shop",
                  "store_code": "TIKTOK_ID_01",
                  "store_name": "TikTok Indonesia",
                  "country_code": "ID",
                  "seller_currency": "IDR",
                  "payment_method": "cash on delivery",
                  "is_cod": true,
                  "price": 262000.0,
                  "items_count": 1,
                  "warehouse_code": "ID-WH-01",
                  "fulfilment_mode": "SELLER_FULFILLED",
                  "fulfilment_by_marketplace": false,
                  "customer_id": 771102,
                  "customer_first_name": "Budi",
                  "customer_last_name": "Santoso",
                  "customer_email": "buyer@example.com",
                  "order_items": [
                    {
                      "order_item_id": 55510011,
                      "line_item_id": "TT-90210-A-1",
                      "sku": "SKU-RED-M",
                      "quantity": 2,
                      "status": "New",
                      "item_price": "125000.0",
                      "paid_price": 250000.0,
                      "currency": "IDR",
                      "shipping_amount": "12000.0",
                      "tax_amount": 25000.0,
                      "item_codes": [
                        "IC-90210-1",
                        "IC-90210-2"
                      ],
                      "shipment_number": "TT-90210-A",
                      "marketplace_order_item_id": "TT-90210-A-1",
                      "mp_tracking_numbers": []
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Order created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateResponse"
                },
                "example": {
                  "order_id": 90114456,
                  "order_number": "TT-90211-A",
                  "state": "NEW",
                  "status": "New",
                  "statuses": [
                    "New"
                  ],
                  "created_at": "2026-08-15T10:25:02Z",
                  "updated_at": "2026-08-15T10:25:02Z",
                  "order_at": "2026-08-15T10:24:55Z",
                  "store_code": "TIKTOK_ID_01",
                  "marketplace_code": "tiktok",
                  "items_count": 1,
                  "order_items": [
                    {
                      "order_item_id": 55510013,
                      "line_item_id": "TT-90211-A-1",
                      "sku": "SKU-BLU-L",
                      "quantity": 1,
                      "status": "New",
                      "item_codes": [
                        "IC-90211-1"
                      ],
                      "shipment_number": "TT-90211-A"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request. OipOrdersImpl.pushHistoricalOrders (line 510) treats HttpStatus.BAD_REQUEST with an error body as a duplicate-order signal and recovers the already-created order from the `order` node.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateErrorResponse"
                },
                "example": {
                  "error": "Number has already been taken",
                  "order": {
                    "order_id": 90114455,
                    "order_number": "TT-90210-A",
                    "state": "NEW",
                    "status": "New",
                    "statuses": [
                      "New"
                    ],
                    "store_code": "TIKTOK_ID_01",
                    "order_items": [
                      {
                        "order_item_id": 55510011,
                        "line_item_id": "TT-90210-A-1",
                        "sku": "SKU-RED-M",
                        "quantity": 2,
                        "status": "New"
                      }
                    ]
                  }
                }
              }
            }
          },
          "409": {
            "description": "Duplicate order. OipOrdersImpl.pushNewOrders (line 227) and ss-connector / selluseller-connector pushNewOrders catch HttpStatus.CONFLICT and rebuild the order from the error body's `order` node.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateErrorResponse"
                },
                "example": {
                  "error": "Number has already been taken",
                  "order": {
                    "order_id": 90114455,
                    "order_number": "TT-90210-A",
                    "state": "NEW",
                    "status": "New",
                    "statuses": [
                      "New"
                    ],
                    "store_code": "TIKTOK_ID_01",
                    "order_items": [
                      {
                        "order_item_id": 55510011,
                        "line_item_id": "TT-90210-A-1",
                        "sku": "SKU-RED-M",
                        "quantity": 2,
                        "status": "New"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. ss-connector / selluseller-connector re-throw OipException on HttpStatus.TOO_MANY_REQUESTS to force RabbitMQ redelivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded for OMS_OIP",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "Order could not be persisted",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/acknowledge_orders": {
      "post": {
        "operationId": "acknowledgeOrders",
        "summary": "Acknowledge a batch of orders received by the WMS",
        "tags": [
          "Orders"
        ],
        "description": "The WMS confirms which orders and quantities it accepted, including full or partial cancellations. Called by connector/wms-connector WmsOrderServiceImpl.acknowledgeOrderUpdate at connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:188, issued with HttpMethod.POST via OmsRequestHandler.execute at connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:206. No query parameters. Body Gson-serialized (gson.toJson at line 206), so all wire keys come from @SerializedName on OrderAcknowledgeListRequestDTO. The response is Jackson-deserialized: the item collection arrives under `line_items` and item ids under `id`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "wms-connector (WmsOrderServiceImpl.acknowledgeOrderUpdate) → connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:188"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderAcknowledgeRequest"
              },
              "example": {
                "orders": [
                  {
                    "order_id": 90114455,
                    "order_number": "TT-90210-A",
                    "sap_reference": "SAP-0099211",
                    "shipment_id": 4477120,
                    "status": "ACKNOWLEDGED",
                    "full_cancellation": false,
                    "send_webhook": true,
                    "item_list": [
                      {
                        "id": 55510011,
                        "item_quantity": 2,
                        "confirmed_quantity": 2,
                        "reason": ""
                      },
                      {
                        "id": 55510012,
                        "item_quantity": 1,
                        "confirmed_quantity": 0,
                        "reason": "OUT_OF_STOCK"
                      }
                    ]
                  },
                  {
                    "order_id": 90114460,
                    "order_number": "TT-90213-A",
                    "sap_reference": "SAP-0099212",
                    "shipment_id": 4477125,
                    "status": "CANCELLED",
                    "full_cancellation": true,
                    "send_webhook": false,
                    "item_list": [
                      {
                        "id": 55510020,
                        "item_quantity": 3,
                        "confirmed_quantity": 0,
                        "reason": "WAREHOUSE_CLOSED"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement processed. WmsOrderServiceImpl checks is2xxSuccessful() at line 216 and inspects the top-level `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderAcknowledgeResponse"
                },
                "example": {
                  "error": null,
                  "orders": [
                    {
                      "order_id": 90114455,
                      "order_number": "TT-90210-A",
                      "state": "ACKNOWLEDGED",
                      "status": "Acknowledged",
                      "created_at": "2026-08-15T10:22:35Z",
                      "updated_at": "2026-08-15T17:00:12Z",
                      "order_date": "2026-08-15T10:22:31Z",
                      "marketplace_seller_id": "SELLER-8891",
                      "line_items": [
                        {
                          "id": 55510011,
                          "sku": "SKU-RED-M",
                          "quantity": 2,
                          "status": "Acknowledged",
                          "mp_item_codes": [
                            "IC-90210-1",
                            "IC-90210-2"
                          ],
                          "mp_tracking_numbers": []
                        },
                        {
                          "id": 55510012,
                          "sku": "SKU-BLU-L",
                          "quantity": 1,
                          "status": "Cancelled",
                          "mp_item_codes": [
                            "IC-90210-3"
                          ],
                          "mp_tracking_numbers": []
                        }
                      ]
                    },
                    {
                      "order_id": 90114460,
                      "order_number": "TT-90213-A",
                      "state": "CANCELLED",
                      "status": "Cancelled",
                      "created_at": "2026-08-15T11:00:00Z",
                      "updated_at": "2026-08-15T17:00:12Z",
                      "order_date": "2026-08-15T10:58:00Z",
                      "marketplace_seller_id": "SELLER-8891",
                      "line_items": [
                        {
                          "id": 55510020,
                          "sku": "SKU-GRN-S",
                          "quantity": 3,
                          "status": "Cancelled",
                          "mp_item_codes": [],
                          "mp_tracking_numbers": []
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Acknowledgement rejected. The error may also arrive on a 200 body as the `error` / `error_message` field (@JsonAlias).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderAcknowledgeResponse"
                },
                "example": {
                  "error": "confirmed_quantity exceeds item_quantity for order item 55510011",
                  "orders": []
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; WmsConnectorGlobalUtility.handleError schedules a retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "acknowledge_orders failed",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/async_create_orders": {
      "post": {
        "operationId": "asyncCreateOrders",
        "summary": "Bulk asynchronous order creation (feed based)",
        "tags": [
          "Orders"
        ],
        "description": "Submits a batch of new or historical orders as an async feed and receives a feed_id back. Called by connector/marketplace-connector OipOrdersImpl.handleBulkOrderRequests at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:335, reached from pushBulkNewOrders (line 271) and pushBulkHistoricalOrders (line 295). The store_code query parameter is added via a LinkedMultiValueMap at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:316. Body is Gson-serialized, so wire keys are the raw Java field names of OrderRequestDTO.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-connector (OipOrdersImpl.handleBulkOrderRequests) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:335"
        ],
        "parameters": [
          {
            "name": "store_code",
            "in": "query",
            "required": true,
            "description": "SelluSeller store code, added via MultiValueMap at OipOrdersImpl.java:316.",
            "schema": {
              "type": "string"
            },
            "example": "TIKTOK_ID_01"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderAsyncCreateRequest"
              },
              "example": {
                "orders": [
                  {
                    "order_number": "TT-90210-A",
                    "store_code": "TIKTOK_ID_01",
                    "marketplace_code": "tiktok",
                    "email": "buyer@example.com",
                    "payment_method": "cash on delivery",
                    "cod": true,
                    "currency_code": "IDR",
                    "order_date": "2026-08-15 10:22:31",
                    "items_total": 250000.0,
                    "order_total": 262000.0,
                    "payment_total": 262000.0,
                    "order_status": "New",
                    "is_historical_order": false,
                    "customer_details": {
                      "first_name": "Budi",
                      "last_name": "Santoso",
                      "customer_email": "buyer@example.com"
                    },
                    "order_items": [
                      {
                        "line_item_id": "TT-90210-A-1",
                        "item_sku": "SKU-RED-M",
                        "item_quantity": 2,
                        "item_price": 125000.0,
                        "paid_price": 250000.0,
                        "item_codes": [
                          "IC-90210-1",
                          "IC-90210-2"
                        ],
                        "warehouse_code": "ID-WH-01"
                      }
                    ]
                  },
                  {
                    "order_number": "TT-90212-A",
                    "store_code": "TIKTOK_ID_01",
                    "marketplace_code": "tiktok",
                    "payment_method": "credit_card",
                    "cod": false,
                    "currency_code": "IDR",
                    "order_date": "2026-08-15 11:02:04",
                    "items_total": 99000.0,
                    "order_total": 105000.0,
                    "payment_total": 105000.0,
                    "order_status": "New",
                    "is_historical_order": true,
                    "order_items": [
                      {
                        "line_item_id": "TT-90212-A-1",
                        "item_sku": "SKU-GRN-S",
                        "item_quantity": 1,
                        "item_price": 99000.0,
                        "paid_price": 99000.0,
                        "item_codes": [
                          "IC-90212-1"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feed accepted for async processing. Handled by AsyncFeedProcessingImpl.handleAsyncResponses (OipOrdersImpl.java:350).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderAsyncApiResponse"
                },
                "example": {
                  "message": "Feed created successfully",
                  "feed_id": "FEED-2026-08-15-000431"
                }
              }
            }
          },
          "422": {
            "description": "Feed rejected for validation reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Unprocessable Entity",
                  "error_message": "store_code is required",
                  "status": 422
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the OMS_OIP rate limiter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded for OMS_OIP",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; the feed is retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "Feed could not be queued",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/async_shipping_details": {
      "post": {
        "operationId": "asyncCreateOrderShippingDetails",
        "summary": "Asynchronous variant of shipping_details (TikTok / Tokopedia)",
        "tags": [
          "Orders"
        ],
        "description": "Identical payload to /rest/v1/orders/shipping_details but processed asynchronously. Selected only when the store's marketplace code starts with 'tiktok' or 'tokopedia' (branch at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:906); the call is issued by OipOrdersImpl.createShipmentDetails at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:910 with HttpMethod.POST (line 912). No query parameters. Body Gson-serialized at OipOrdersImpl.java:893. The response is deserialized into the same CreateShippingDetailsResponseDTO class as the synchronous endpoint.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-connector (OipOrdersImpl.createShipmentDetails, TikTok/Tokopedia branch) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:910"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderShippingDetailsRequest"
              },
              "example": {
                "shipping_details": {
                  "status": "success",
                  "tracking_number": "TIKTOK-TRK-559901",
                  "failure_reason": "",
                  "shipping_lable": {
                    "document_source": "base64",
                    "document_content": "JVBERi0xLjQKJcTl8uXrp..."
                  },
                  "invoice": {
                    "document_source": "base64",
                    "document_content": "JVBERi0xLjQKJdPr6eEK..."
                  },
                  "order_items": [
                    {
                      "id": "55510011",
                      "item_quantity": 2
                    },
                    {
                      "id": "55510012",
                      "item_quantity": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async shipping-details request accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderShippingDetailsResponse"
                },
                "example": {
                  "success": true,
                  "message": "Shipping details queued for asynchronous processing",
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "order_item_ids": [
                    55510011,
                    55510012
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Async shipping-details request created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderShippingDetailsResponse"
                },
                "example": {
                  "success": true,
                  "message": "Feed accepted",
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "order_item_ids": [
                    55510011,
                    55510012
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Async request rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderShippingDetailsResponse"
                },
                "example": {
                  "success": false,
                  "message": "tracking_number is required",
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "order_item_ids": []
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "async_shipping_details failed",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/push_unsynchronized_order": {
      "post": {
        "operationId": "pushUnsynchronizedOrder",
        "summary": "Report an order that could not be synchronised to the downstream system",
        "tags": [
          "Orders"
        ],
        "description": "Raises an unsynchronised-order alert in OMS when a WMS or marketplace push fails. Called by connector/wms-connector WmsOrderServiceImpl.pushUnsynchronizedOrder at connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:276 (HttpMethod.POST via OmsRequestHandler.execute at line 287, body gson.toJson at line 279, response read as JsonNode) and by selluseller-connector OrderServiceExtendedImpl.pushUnsynchronizedOrder at selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1817 (postForEntity at line 1831). ss-connector has no PUSH_UNSYNCHRONIZED_ORDER constant. No query parameters. Gson wire keys: order_id, error_message, order_number, event_type — note that selluseller-connector's PushUnsynchOrderTO declares the field as orderNumber with no @SerializedName, so that caller emits `orderNumber` instead of `order_number`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "wms-connector (WmsOrderServiceImpl.pushUnsynchronizedOrder) → connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:276",
          "selluseller-connector (OrderServiceExtendedImpl.pushUnsynchronizedOrder) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1817"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUnsyncRequest"
              },
              "example": {
                "order_id": "90114455",
                "order_number": "TT-90210-A",
                "orderNumber": "TT-90210-A",
                "error_message": "WMS rejected order: warehouse ID-WH-01 is closed",
                "event_type": "CREATE_ORDER"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsynchronised order recorded. WmsOrderServiceImpl only checks is2xxSuccessful() (line 297) and treats the body as an opaque JsonNode.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUnsyncResponse"
                },
                "example": {
                  "success": true,
                  "message": "Unsynchronized order logged",
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "event_type": "CREATE_ORDER"
                }
              }
            }
          },
          "422": {
            "description": "Payload rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Unprocessable Entity",
                  "error_message": "order_id is required",
                  "status": 422
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; retryHandler / OipException reschedules the message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "push_unsynchronized_order failed",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/return": {
      "post": {
        "operationId": "createReturnOrder",
        "summary": "Create a return order against an existing order",
        "tags": [
          "Orders"
        ],
        "description": "Creates the return order in OMS for the listed items. Called by connector/marketplace-connector OipOrdersImpl.createReturnOrderOnOMS at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:1661 (HttpMethod.POST at line 1663), by ss-connector OrderServiceExtendedImpl.pushReturnOrdersToSS at ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1312 (restTemplate.exchange HttpMethod.POST at line 1408) and by selluseller-connector OrderServiceImpl.pushReturnOrders at selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceImpl.java:2227 (exchange HttpMethod.POST at line 2246). No query parameters. Body Gson-serialized (gson.toJson at OipOrdersImpl.java:1656), so the wire keys are the raw field names id / order_date / order_items / return_order_number and, per item, line_item_id / item_codes / quantity / reason plus @SerializedName shipping_type / shipping_method / tracking_number.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-connector (OipOrdersImpl.createReturnOrderOnOMS) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:1661",
          "ss-connector (OrderServiceExtendedImpl.pushReturnOrdersToSS) → ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1312",
          "selluseller-connector (OrderServiceImpl.pushReturnOrders) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceImpl.java:2227"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderReturnCreateRequest"
              },
              "example": {
                "id": "90114455",
                "order_date": "2026-08-15 10:22:31",
                "return_order_number": "TT-90210-A-R1",
                "order_items": [
                  {
                    "line_item_id": "55510011",
                    "item_codes": [
                      "IC-90210-1"
                    ],
                    "quantity": 1,
                    "reason": "DAMAGED",
                    "shipping_type": "PICKUP",
                    "shipping_method": "Standard",
                    "tracking_number": "JNE-RET-0099"
                  },
                  {
                    "line_item_id": "55510012",
                    "item_codes": [
                      "IC-90210-3"
                    ],
                    "quantity": 1,
                    "reason": "WRONG_ITEM",
                    "shipping_type": "DROPOFF",
                    "shipping_method": "Standard",
                    "tracking_number": "JNE-RET-0100"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return order created. A non-null `error` field on a 200 body is treated as a failure (OipOrdersImpl.java:1675).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderReturnCreateResponse"
                },
                "example": {
                  "order_id": 90114999,
                  "order_number": "TT-90210-A-R1",
                  "parent_order_number": "TT-90210-A",
                  "state": "RETURN_INITIATED",
                  "status": "Return Initiated",
                  "statuses": [
                    "Return Initiated"
                  ],
                  "created_at": "2026-08-16T09:12:00Z",
                  "updated_at": "2026-08-16T09:12:00Z",
                  "order_at": "2026-08-15T10:22:31Z",
                  "store_code": "TIKTOK_ID_01",
                  "marketplace_code": "tiktok",
                  "marketplace_seller_id": "SELLER-8891",
                  "items_count": 2,
                  "order_items": [
                    {
                      "order_item_id": 55519911,
                      "line_item_id": "55510011",
                      "sku": "SKU-RED-M",
                      "quantity": 1,
                      "status": "Return Initiated",
                      "item_codes": [
                        "IC-90210-1"
                      ],
                      "shipment_number": "TT-90210-A-R1"
                    },
                    {
                      "order_item_id": 55519912,
                      "line_item_id": "55510012",
                      "sku": "SKU-BLU-L",
                      "quantity": 1,
                      "status": "Return Initiated",
                      "item_codes": [
                        "IC-90210-3"
                      ],
                      "shipment_number": "TT-90210-A-R1"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Return order number already taken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Conflict",
                  "error_message": "Return order number has already been taken",
                  "status": 409
                }
              }
            }
          },
          "422": {
            "description": "Return rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Unprocessable Entity",
                  "error_message": "Line item 55510011 is not eligible for return",
                  "status": 422
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; OipException triggers redelivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "return order creation failed",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/shipping_details": {
      "post": {
        "operationId": "createOrderShippingDetails",
        "summary": "Push tracking number, shipping label and invoice for order items",
        "tags": [
          "Orders"
        ],
        "description": "Marks order items ready-to-ship / shipped and attaches the shipping label and invoice documents. Called by connector/marketplace-connector OipOrdersImpl.createShipmentDetails at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:920 (HttpMethod.POST at line 922, taken for every marketplace except TikTok and Tokopedia which use async_shipping_details), by connector/wms-connector WmsOrderServiceImpl.createShipmentDetails at connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:601 (POST at line 609), by ss-connector OrderServiceExtendedImpl.createShipmentDetail at ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:929 (postForEntity at line 952) and by selluseller-connector OrderServiceExtendedImpl.createShipmentDetail at selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:316 (postForEntity at line 351). No query parameters. Body Gson-serialized (gson.toJson at OipOrdersImpl.java:893 and WmsOrderServiceImpl.java:606): note the wire key shipping_lable (typo preserved from @SerializedName).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-connector (OipOrdersImpl.createShipmentDetails) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:920",
          "wms-connector (WmsOrderServiceImpl.createShipmentDetails) → connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:601",
          "ss-connector (OrderServiceExtendedImpl.createShipmentDetail) → ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:929",
          "selluseller-connector (OrderServiceExtendedImpl.createShipmentDetail) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:316",
          "selluseller-connector (OrderServiceExtendedImpl.createShipmentDetailForCarrier) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:442",
          "selluseller-connector (OrderServiceImpl.updateOrderStatusWithShippingDetails) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceImpl.java:1508"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderShippingDetailsRequest"
              },
              "example": {
                "shipping_details": {
                  "id": "90114455",
                  "status": "success",
                  "tracking_number": "JNE0099887766",
                  "failure_reason": "",
                  "update_invoice_only": false,
                  "shipping_lable": {
                    "document_source": "base64",
                    "document_content": "JVBERi0xLjQKJcTl8uXrp..."
                  },
                  "invoice": {
                    "document_source": "url",
                    "document_content": "https://cdn.example.com/invoices/TT-90210-A.pdf"
                  },
                  "order_items": [
                    {
                      "id": "55510011",
                      "sku": "SKU-RED-M",
                      "quantity": 2,
                      "item_quantity": 2,
                      "lineItemId": "TT-90210-A-1",
                      "itemCodes": [
                        "IC-90210-1",
                        "IC-90210-2"
                      ],
                      "isFblOrder": false
                    },
                    {
                      "id": "55510012",
                      "sku": "SKU-BLU-L",
                      "quantity": 1,
                      "item_quantity": 1,
                      "lineItemId": "TT-90210-A-2",
                      "itemCodes": [
                        "IC-90210-3"
                      ],
                      "isFblOrder": false
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipping details recorded. OipOrdersImpl checks explicitly for HttpStatus.OK or HttpStatus.CREATED (OipOrdersImpl.java:931).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderShippingDetailsResponse"
                },
                "example": {
                  "success": true,
                  "message": "Shipping details updated successfully",
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "order_item_ids": [
                    55510011,
                    55510012
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Shipping details created. WmsOrderServiceImpl.java:612 checks for HttpStatus.CREATED explicitly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderShippingDetailsResponse"
                },
                "example": {
                  "success": true,
                  "message": "Shipping details created",
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "order_item_ids": [
                    55510011,
                    55510012
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Shipping details rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderShippingDetailsResponse"
                },
                "example": {
                  "success": false,
                  "message": "Order item 55510011 is not in a shippable state",
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "order_item_ids": []
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; OipException / retryHandler triggers redelivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "shipping_details failed",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/update_cancelled_order_stock": {
      "post": {
        "operationId": "updateCancelledOrderStock",
        "summary": "Adjust stock after an order cancellation (putaway of sellable / damaged units)",
        "tags": [
          "Orders"
        ],
        "description": "Tells OMS how many units of each cancelled line item went back as sellable versus damaged. Called by selluseller-connector OrderServiceExtendedImpl.updateStockAfterCancellation at selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:2101 (restTemplate.exchange with HttpMethod.POST at line 2130), reached from the @RabbitListener updateCancelledOrderStock at line 2070. The constant UPDATE_CANCEL_ORDER_STOCK exists only in selluseller-connector/src/main/java/com/anchanto/selluseller/utils/CommonConstants.java:20 — ss-connector has no such constant. No query parameters. The body goes through a Gson round-trip (gson.fromJson(gson.toJson(...), HttpEntity.class)), so the wire keys are the Gson names: eventParametersDTO, id, putaway_method, skip_quantity_adjustment_in_oms, items with line_item_id / sellable / damaged.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "selluseller-connector (OrderServiceExtendedImpl.updateStockAfterCancellation) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:2101"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateCancelledStockRequest"
              },
              "example": {
                "id": 90114455,
                "putaway_method": "AUTO",
                "skip_quantity_adjustment_in_oms": false,
                "eventParametersDTO": {
                  "event_type": "CANCELLED_ORDER_STOCK",
                  "source": "WMS",
                  "reference_id": "TT-90210-A"
                },
                "items": [
                  {
                    "line_item_id": "55510011",
                    "sellable": 1,
                    "damaged": 1
                  },
                  {
                    "line_item_id": "55510012",
                    "sellable": 1,
                    "damaged": 0
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock adjustment accepted. selluseller-connector reads the response as a raw String and only inspects the status code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUpdateCancelledStockResponse"
                },
                "example": {
                  "success": true,
                  "message": "Cancelled order stock updated",
                  "order_id": 90114455,
                  "updated_items": [
                    {
                      "line_item_id": "55510011",
                      "sellable": 1,
                      "damaged": 1
                    },
                    {
                      "line_item_id": "55510012",
                      "sellable": 1,
                      "damaged": 0
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Adjustment rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Unprocessable Entity",
                  "error_message": "sellable + damaged exceeds the cancelled quantity for 55510011",
                  "status": 422
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; OipException triggers redelivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "update_cancelled_order_stock failed",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/{id}": {
      "get": {
        "operationId": "getOrderById",
        "summary": "Fetch a single order by its SelluSeller order id",
        "tags": [
          "Orders"
        ],
        "description": "Reads the full order document from OMS. Called by wms-integrations-legacy XilnexService.getOrderDetailsFromSS at wms-integrations/wms-integrations-legacy/src/main/java/com/anchanto/wms/integration/xilnex/service/XilnexService.java:686 (restManager.get, response String -> DataDTO, explicit is2xxSuccessful() check else IllegalArgumentException), by wms-integrations-legacy DynamodWmsService.createInvoiceOnDynamod at wms-integrations/wms-integrations-legacy/src/main/java/com/anchanto/wms/integration/dynamod/service/DynamodWmsService.java:1467 (restManager.get(..., JsonNode.class), guarded by is2xxSuccessful()), and by marketplace-integration TataCliq flows at marketplace-integration/src/main/java/com/anchanto/marketplace/integration/theTataCliq/workers/fetchers/orders/ProcessedOrders.java:446 and marketplace-integration/src/main/java/com/anchanto/marketplace/integration/theTataCliq/workers/fetchers/orders/CompletedOrders.java:745. No query parameters are added at any of these call sites. Response is Jackson-deserialized, so wire keys are the @JsonProperty values.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "wms-integrations-legacy (XilnexService.getOrderDetailsFromSS) → wms-integrations/wms-integrations-legacy/src/main/java/com/anchanto/wms/integration/xilnex/service/XilnexService.java:686",
          "wms-integrations-legacy (DynamodWmsService.createInvoiceOnDynamod) → wms-integrations/wms-integrations-legacy/src/main/java/com/anchanto/wms/integration/dynamod/service/DynamodWmsService.java:1467",
          "marketplace-integration (TataCliq ProcessedOrders.getReturnedOrderFromSS) → marketplace-integration/src/main/java/com/anchanto/marketplace/integration/theTataCliq/workers/fetchers/orders/ProcessedOrders.java:446",
          "marketplace-integration (TataCliq CompletedOrders.setDetailsOfManifest) → marketplace-integration/src/main/java/com/anchanto/marketplace/integration/theTataCliq/workers/fetchers/orders/CompletedOrders.java:745"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "SelluSeller order id.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 90114455
          }
        ],
        "responses": {
          "200": {
            "description": "Order document, optionally nested under a `data` node (DataDTO has a self-referencing `data` field).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailResponse"
                },
                "example": {
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "market_place_order_number": "90210",
                  "parent_order_number": null,
                  "marketplace_code": "tiktok",
                  "marketplace_name": "TikTok Shop",
                  "store_code": "TIKTOK_ID_01",
                  "store_name": "TikTok Indonesia",
                  "country_code": "ID",
                  "seller_currency": "IDR",
                  "payment_method": "cash on delivery",
                  "is_cod": true,
                  "price": 262000.0,
                  "item_total": 250000.0,
                  "payment_total": 262000.0,
                  "shipping_amount": "12000.0",
                  "items_count": 1,
                  "status": "PACKED",
                  "state": "PACKED",
                  "statuses": [
                    "New",
                    "Paid",
                    "Packed"
                  ],
                  "order_date": "2026-08-15T10:22:31Z",
                  "order_date_in_smp_timezone": "2026-08-15 17:22:31",
                  "created_at": "2026-08-15T10:22:35Z",
                  "updated_at": "2026-08-15T12:41:09Z",
                  "marketplace_seller_id": "SELLER-8891",
                  "warehouse_code": "ID-WH-01",
                  "branch_code": "JKT-01",
                  "tax_code": "PPN11",
                  "company": "Anchanto Retail",
                  "is_full_tax": false,
                  "customer_id": 771102,
                  "customer_email": "buyer@example.com",
                  "customer_first_name": "Budi",
                  "customer_last_name": "Santoso",
                  "remarks": "Fragile",
                  "delivery_info": "Leave at guard house",
                  "gift_option": false,
                  "gift_message": "",
                  "fulfilment_by_marketplace": false,
                  "order_origin": "MARKETPLACE",
                  "shipping_address": {
                    "first_name": "Budi",
                    "last_name": "Santoso",
                    "address_line1": "Jl. Sudirman No. 12",
                    "address_line2": "Blok B",
                    "city": "Jakarta",
                    "state": "DKI Jakarta",
                    "postcode": "10220",
                    "country_code": "ID",
                    "email": "buyer@example.com",
                    "primary_phone": "+628123456789"
                  },
                  "billing_address": {
                    "first_name": "Budi",
                    "last_name": "Santoso",
                    "address_line1": "Jl. Sudirman No. 12",
                    "city": "Jakarta",
                    "postcode": "10220",
                    "country_code": "ID"
                  },
                  "pickup_address": {
                    "address_line1": "Warehouse 1, Cakung",
                    "city": "Jakarta",
                    "postcode": "13910",
                    "country_code": "ID"
                  },
                  "seller_address": {
                    "address_line1": "Menara Anchanto",
                    "city": "Jakarta",
                    "postcode": "12190",
                    "country_code": "ID"
                  },
                  "shipping_method": {
                    "id": 4411,
                    "name": "Standard",
                    "code": "STD"
                  },
                  "order_items": [
                    {
                      "order_item_id": 55510011,
                      "line_item_id": "TT-90210-A-1",
                      "sku": "SKU-RED-M",
                      "inventory_sku": "INV-RED-M",
                      "name": "Red T-Shirt M",
                      "quantity": 2,
                      "status": "PACKED",
                      "item_price": "125000.0",
                      "paid_price": 250000.0,
                      "currency": "IDR",
                      "shipping_amount": "12000.0",
                      "tax_amount": 25000.0,
                      "seller_discount": 0.0,
                      "channel_discount": 0.0,
                      "courier_code": "JNE",
                      "shipment_provider": "JNE",
                      "shipping_type": "DROPSHIP",
                      "tracking_code": "JNE0099887766",
                      "mp_tracking_numbers": [
                        "JNE0099887766"
                      ],
                      "item_codes": [
                        "IC-90210-1",
                        "IC-90210-2"
                      ],
                      "shipment_number": "SHP-77120",
                      "warehouse_code": "ID-WH-01"
                    }
                  ],
                  "statuses_changed_at": null,
                  "generic_order_tables": []
                }
              }
            }
          },
          "404": {
            "description": "Order id not found. XilnexService throws IllegalArgumentException on any non-2xx.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Not Found",
                  "error_message": "Order 90114455 does not exist",
                  "status": 404
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "failed to fetch order details",
                  "status": 500
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateOrderDetails",
        "summary": "Update order details (amounts, items, customer, addresses)",
        "tags": [
          "Orders"
        ],
        "description": "The 'update order details' write on the order resource. Called by connector/marketplace-connector OipOrdersImpl.updateOrderDetails at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:2251 with HttpMethod.PUT (see OipOrdersImpl.java:2253), and by selluseller-connector OrderServiceExtendedImpl.updateOrderDetails at selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1650 (restTemplate.exchange with HttpMethod.PUT at line 1677). Despite the constant name GET_ORDER_BY_ID in selluseller-connector CommonConstants, the verb at the live call site is PUT. Body is Gson-serialized: wire keys are UpdateOrderDetailsDTO's raw field names (isOrderItemChange, orderNumber, items_total, ...) except order_extra_data which carries @SerializedName.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-connector (OipOrdersImpl.updateOrderDetails) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:2251",
          "selluseller-connector (OrderServiceExtendedImpl.updateOrderDetails) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1650",
          "selluseller-connector (OrderServiceExtendedImpl.updateOrderStatusAndDetails) → selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1922"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "SelluSeller order id.",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 90114455
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdateDetailsRequest"
              },
              "example": {
                "order": {
                  "isOrderItemChange": false,
                  "orderNumber": "TT-90210-A",
                  "items_total": 240000.0,
                  "order_total": 252000.0,
                  "payment_total": 252000.0,
                  "payment_method": "cash on delivery",
                  "cod": true,
                  "special_instructions": "Deliver after 6pm",
                  "customer_details": {
                    "first_name": "Budi",
                    "last_name": "Santoso",
                    "customer_email": "buyer@example.com"
                  },
                  "customer_addresses": [
                    {
                      "address_type": "shipping",
                      "first_name": "Budi",
                      "last_name": "Santoso",
                      "address_line1": "Jl. Sudirman No. 12",
                      "address_city": "Jakarta",
                      "address_state": "DKI Jakarta",
                      "postcode": "10220",
                      "country_code": "ID",
                      "primary_phone": "+628123456789"
                    }
                  ],
                  "order_items": [
                    {
                      "line_item_id": "TT-90210-A-1",
                      "item_sku": "SKU-RED-M",
                      "item_quantity": 2,
                      "item_price": 120000.0,
                      "paid_price": 240000.0,
                      "item_codes": [
                        "IC-90210-1",
                        "IC-90210-2"
                      ]
                    }
                  ],
                  "order_extra_data": [
                    {
                      "sku": "SKU-RED-M",
                      "data": [
                        {
                          "key_name": "label_note",
                          "key_value": "handle with care"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated. selluseller-connector reads only the `statuses[0]` node from the body (OrderServiceExtendedImpl.java:1677 onward).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreateResponse"
                },
                "example": {
                  "order_id": 90114455,
                  "order_number": "TT-90210-A",
                  "state": "PAID",
                  "status": "Paid",
                  "statuses": [
                    "Paid"
                  ],
                  "created_at": "2026-08-15T10:22:35Z",
                  "updated_at": "2026-08-15T13:05:11Z",
                  "order_at": "2026-08-15T10:22:31Z",
                  "store_code": "TIKTOK_ID_01",
                  "marketplace_code": "tiktok",
                  "price": 252000.0,
                  "items_count": 1,
                  "order_items": [
                    {
                      "order_item_id": 55510011,
                      "line_item_id": "TT-90210-A-1",
                      "sku": "SKU-RED-M",
                      "quantity": 2,
                      "status": "Paid",
                      "paid_price": 240000.0,
                      "item_codes": [
                        "IC-90210-1",
                        "IC-90210-2"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Update rejected. OipOrdersImpl throws OrderUpdateRequestException (OipOrdersImpl.java:2188).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Unprocessable Entity",
                  "error_message": "Order has already moved past PAID",
                  "status": 422
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; selluseller-connector throws OipException to force redelivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Too Many Requests",
                  "error_message": "Rate limit exceeded",
                  "status": 429
                }
              }
            }
          },
          "500": {
            "description": "OMS internal error; retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderErrorResponse"
                },
                "example": {
                  "error": "Internal Server Error",
                  "error_message": "Order update failed",
                  "status": 500
                }
              }
            }
          }
        }
      }
    },
    "/rest/v1/orders/{id}/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order fully or partially",
        "tags": [
          "Orders"
        ],
        "description": "Cancels the listed line items on an order. Called by connector/marketplace-connector OipOrdersImpl.pushCancelledOrders at connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:600 (HttpMethod.POST at line 602; marketplace_code param added at line 594), by connector/wms-connector WmsOrderServiceImpl.pushCancelledOrders at connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:366 (POST at line 379; marketplace_code param at lines 369-370), by ss-connector OrderServiceExtendedImpl.pushCancelledOrderToSS at ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:502 (postForEntity at line 597) and by selluseller-connector OrderServiceExtendedImpl.pushCancelledOrders at selluseller-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:1373 (postForEntity at line 1393). Both connector modules Gson-serialize the body (gson.toJson at OipOrdersImpl.java:596 / WmsOrderServiceImpl.java:377), so the wire keys are order_items / cancellation_reason / item_quantity / item_codes from @SerializedName, NOT the @JsonProperty camelCase names. In ss-connector and selluseller-connector the query params are appended by raw string concatenation rather than UriComponentsBuilder.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-jpluger-callers": [
          "marketplace-connector (OipOrdersImpl.pushCancelledOrders) → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/service/orders/OipOrdersImpl.java:600",
          "wms-connector (WmsOrderServiceImpl.pushCancelledOrders) → connector/wms-connector/src/main/java/com/anchanto/connector/wms/service/orders/WmsOrderServiceImpl.java:366",
          "ss-connector (OrderServiceExtendedImpl.pushCancelledOrderToSS) → ss-connector/src/main/java/com/anchanto/selluseller/services/order/OrderServiceExtendedImpl.java:502",
[...]
