{
  "swagger": "2.0",
  "info": {
    "title": "Anchanto OMS (SelluSeller) Open API",
    "description": "## Anchanto Order Management System (SelluSeller) Open API\n\nUnified specification consolidating all SelluSeller OMS Open API endpoints:\n- **Order Management:** Single and asynchronous order creation, lifecycle transitions, status updates, invoices, and cancellations.\n- **Inventory Management:** Stock balance queries, v1 & v2 absolute/delta stock updates, and warehouse stock location mappings.\n- **Catalogue & Taxonomy:** Product listings, prices, images, kit mappings, brands, categories, and attributes.\n- **Distribution Orders (Distro):** Bulk fulfillment, package management, pickup timeslots, and return management.\n- **Shipping & Carriers:** Shipping methods, carrier tracking, and SMP marketplace carrier mappings.\n- **Store Integrations:** Store credentials, metadata sync timestamps, and marketplace connections.\n- **Outbound Webhooks:** Real-time event notifications published by OMS on order lifecycle, shipment details, and inventory changes.\n",
    "version": "1.0.0",
    "contact": {
      "name": "Anchanto Developer Support",
      "url": "https://help.anchanto.com/support/home"
    }
  },
  "host": "openapi-omsqa.anchanto.com",
  "basePath": "/",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer token authentication format: 'Bearer {token}'"
    },
    "client": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://openapi-omsqa.anchanto.com/oauth/authorize",
      "tokenUrl": "https://openapi-omsqa.anchanto.com/oauth/token",
      "scopes": {
        "public": "Public API access scope"
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and user token operations"
    },
    {
      "name": "Orders",
      "description": "Order creation, lifecycle updates, tracking, cancellation, and fulfillment"
    },
    {
      "name": "Distro Orders",
      "description": "Distribution orders, bulk dispatch, timeslots, and packages"
    },
    {
      "name": "Inventory Products",
      "description": "Inventory management, v1 & v2 stock updates, and locations"
    },
    {
      "name": "Catalogues",
      "description": "Product catalogue listings, prices, images, and kit mappings"
    },
    {
      "name": "Kit Products",
      "description": "Kit and bundle product definitions"
    },
    {
      "name": "Catalogue Taxonomy",
      "description": "Brands, categories, and category attributes"
    },
    {
      "name": "Stores",
      "description": "Store configurations, credentials, and metadata sync"
    },
    {
      "name": "Marketplaces",
      "description": "Marketplace integrations and stock listings"
    },
    {
      "name": "Warehouses",
      "description": "Warehouse entities and stock bin locations"
    },
    {
      "name": "Shipping",
      "description": "Shipping methods and Seller-Marketplace shipping carrier mappings"
    },
    {
      "name": "Finance & Misc",
      "description": "Payouts, transactions, manifest uploads, promotions, and reports"
    },
    {
      "name": "Webhooks",
      "description": "Outbound webhook event notifications published by OMS"
    }
  ],
  "paths": {
    "/Event:AsyncProcess-AsyncCreateCatalogue": {
      "post": {
        "summary": "Async process completion: Create Catalogue",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_AsyncProcess_AsyncCreateCatalogue",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:AsyncProcess-AsyncCreateOrder": {
      "post": {
        "summary": "Async process completion: Create Orders",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_AsyncProcess_AsyncCreateOrder",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:AsyncProcess-AsyncCreateTransaction": {
      "post": {
        "summary": "Async process completion: Create Transactions",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_AsyncProcess_AsyncCreateTransaction",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:AsyncProcess-AsyncInventoryProduct": {
      "post": {
        "summary": "Async process completion: Create Inventory Products",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_AsyncProcess_AsyncInventoryProduct",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:AsyncProcess-AsyncUpdateStock": {
      "post": {
        "summary": "Async process completion: Inventory Product Update Stock",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_AsyncProcess_AsyncUpdateStock",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:AuthAssets": {
      "post": {
        "summary": "On Assets Authorization in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_AuthAssets",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:AwbDetailUpdate": {
      "post": {
        "summary": "On shipping lable & tracking update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_AwbDetailUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:BulkActivityCompletionUpdate": {
      "post": {
        "summary": "On Bulk Activity Completion in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_BulkActivityCompletionUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:CancelApproveOrderStatusUpdate": {
      "post": {
        "summary": "On cancel approve order status update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_CancelApproveOrderStatusUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:CatalogueList,CatalogueDelist": {
      "post": {
        "summary": "On catalogue list / Catalogue Delist in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_CatalogueList,CatalogueDelist",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:CatalogueUpdate": {
      "post": {
        "summary": "On catalogue update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_CatalogueUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:CreateInventoryProduct": {
      "post": {
        "summary": "On inventory product creation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_CreateInventoryProduct",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:CreateManifest": {
      "post": {
        "summary": "On new Manifest creation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_CreateManifest",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:CreateTaxonAsset": {
      "post": {
        "summary": "On Create Taxon Asset in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_CreateTaxonAsset",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:DelayedShipping": {
      "post": {
        "summary": "On Order Delayed Shipping",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_DelayedShipping",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:DoCancellation": {
      "post": {
        "summary": "On distribution order cancellation",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "description": "Outbound webhook when a distribution order is cancelled.",
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Webhook callback URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_DoCancellation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:DoCreation": {
      "post": {
        "summary": "On distribution order creation",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "description": "Outbound webhook when a distribution order is created.",
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Webhook callback URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_DoCreation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:DoReturn": {
      "post": {
        "summary": "On distribution order return",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "description": "Outbound webhook when a distribution order return is completed.",
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Webhook callback URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_DoReturn",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:DoShipmentUpdate": {
      "post": {
        "summary": "On distribution order shipment update",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "description": "Outbound webhook when a distribution order shipment is updated.",
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Webhook callback URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_DoShipmentUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:EanFileUpload": {
      "post": {
        "summary": "On uploading EAN file for a SellerMarketplace in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_EanFileUpload",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:FetchCanceledOrders": {
      "post": {
        "summary": "Fetch canceled orders from marketplace in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_FetchCanceledOrders",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:FetchDeliveredOrders": {
      "post": {
        "summary": "Fetch delivered orders from marketplace in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_FetchDeliveredOrders",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:FetchMpWarehouseList": {
      "post": {
        "summary": "On Marketplace warehouse mapping with selluseller warehouse",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_FetchMpWarehouseList",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:FetchOrders": {
      "post": {
        "summary": "Fetch orders from marketplace in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_FetchOrders",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:FetchProducts": {
      "post": {
        "summary": "Fetch products from marketplace in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_FetchProducts",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:FetchProductsWithSkus": {
      "post": {
        "summary": "On fetching products with SKUs from marketplace",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_FetchProductsWithSkus",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:GenerateStockDiscrepancyReport": {
      "post": {
        "summary": "On stock discrepancy report generation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_GenerateStockDiscrepancyReport",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:InitialProductAndOrderSyncComplete": {
      "post": {
        "summary": "On initial product and order sync completion in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_InitialProductAndOrderSyncComplete",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:KitProductCreateOrUpdate": {
      "post": {
        "summary": "On kit product creation or updation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_KitProductCreateOrUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:LogisticsPartnerConnection": {
      "post": {
        "summary": "On logistics partner connection in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_LogisticsPartnerConnection",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:LogisticsPartnerOrderUpdate": {
      "post": {
        "summary": "On order state change to RTS/Shipped in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_LogisticsPartnerOrderUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnEanSearch": {
      "post": {
        "summary": "On searching a EAN number for a marketplace product in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnEanSearch",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnFailedDelivery": {
      "post": {
        "summary": "On failed delivery in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnFailedDelivery",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnFetchProductDetail": {
      "post": {
        "summary": "On fetching product detail from axcel",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnFetchProductDetail",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnInventoryProductUpdation": {
      "post": {
        "summary": "On inventory product updation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnInventoryProductUpdation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnLostInTransit": {
      "post": {
        "summary": "On order lost in transit in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnLostInTransit",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnManualSapPosting": {
      "post": {
        "summary": "On manual SAP posting in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnManualSapPosting",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnManualSapPostingByFile": {
      "post": {
        "summary": "On manual SAP posting by file in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnManualSapPostingByFile",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnMarketplaceProductCreation": {
      "post": {
        "summary": "On marketplace product creation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnMarketplaceProductCreation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnMarketplaceProductDeletion": {
      "post": {
        "summary": "On marketplace product deletion in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnMarketplaceProductDeletion",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnMarketplaceProductListing": {
      "post": {
        "summary": "On marketplace product listing in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnMarketplaceProductListing",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnMarketplaceProductRejection": {
      "post": {
        "summary": "On marketplace product rejection in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnMarketplaceProductRejection",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnMarketplaceProductUpdation": {
      "post": {
        "summary": "On marketplace product updation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnMarketplaceProductUpdation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnOrderCancelInProcess": {
      "post": {
        "summary": "On order cancel in process in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnOrderCancelInProcess",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnOrderInTransit": {
      "post": {
        "summary": "On order status changed to in transit in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnOrderInTransit",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnShipAddressUpdate": {
      "post": {
        "summary": "On shipping address update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnShipAddressUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnShipmentCreation": {
      "post": {
        "summary": "On shipment creation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnShipmentCreation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnStockUpdate": {
      "post": {
        "summary": "On stock update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnStockUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OnStoreTokenExpiry": {
      "post": {
        "summary": "On store token expiry notification in OMS. Fired at 30, 15, 5, and 2 days before auth token expiry, and again on the expiry day (0).",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OnStoreTokenExpiry",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OrderApproveOrReject": {
      "post": {
        "summary": "On Order Approve or Reject by Seller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OrderApproveOrReject",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OrderCreation": {
      "post": {
        "summary": "On order creation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OrderCreation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OrderDelivered": {
      "post": {
        "summary": "On order delivered in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OrderDelivered",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OrderReturn": {
      "post": {
        "summary": "On order return in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OrderReturn",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OrderSplit": {
      "post": {
        "summary": "On Order split in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OrderSplit",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OrderStatusChange": {
      "post": {
        "summary": "On order status change (Unpaid to Paid) in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OrderStatusChange",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:OrderStatusupdate": {
      "post": {
        "summary": "On order status update (Ready to ship) in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_OrderStatusupdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:PendingOrderStateChange": {
      "post": {
        "summary": "On order status update from pending in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_PendingOrderStateChange",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:PushTransactionDetails": {
      "post": {
        "summary": "Every Hour push unpushed transaction details",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_PushTransactionDetails",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:RTSError": {
      "post": {
        "summary": "On Ready to Ship (RTS) error for a shipment",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_RTSError",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:ReturnApproveOrderStatusUpdate": {
      "post": {
        "summary": "On return approve order status update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_ReturnApproveOrderStatusUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:ReturnCompletion": {
      "post": {
        "summary": "On  Return order in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_ReturnCompletion",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:ReturnDisputeOrderStatusUpdate": {
      "post": {
        "summary": "On return dispute order status update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_ReturnDisputeOrderStatusUpdate",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:ReturnOrderCreation": {
      "post": {
        "summary": "On return order creation in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_ReturnOrderCreation",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:SalesReportShipmentDetails": {
      "post": {
        "summary": "On shipment complete or cancelled — sales report order details",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "description": "Outbound webhook when a shipment reaches complete or completed cancellation. Payload contains Sales Report Order Details rows for all shipments on the order (camelCase). Opt-in per seller.",
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Webhook callback URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_SalesReportShipmentDetails",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:SetStatusOnMp": {
      "post": {
        "summary": "Set status on marketplace",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_SetStatusOnMp",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:ShipmentRelease": {
      "post": {
        "summary": "On shipment release",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_ShipmentRelease",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:ShipmentWithhold": {
      "post": {
        "summary": "On shipment withhold",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_ShipmentWithhold",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:ShippingLableAndInvoice": {
      "post": {
        "summary": "On Shipping lable & Invoice update",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_ShippingLableAndInvoice",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:StoreConnection": {
      "post": {
        "summary": "On new store connection in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_StoreConnection",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:StoreDisconnect": {
      "post": {
        "summary": "On store disconnect in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_StoreDisconnect",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:UpdateInventory": {
      "post": {
        "summary": "On inventory/stock update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_UpdateInventory",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:UpdatePrice": {
      "post": {
        "summary": "On price update in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_UpdatePrice",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:UploadManifestFailure": {
      "post": {
        "summary": "While failure on manifest upload through api",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_UploadManifestFailure",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/Event:WarehouseConnection": {
      "post": {
        "summary": "On new warehouse connection in SelluSeller",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "callback_url",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          }
        },
        "operationId": "post_Event_WarehouseConnection",
        "consumes": [
          "application/json"
        ]
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "createOAuthToken",
        "summary": "Exchange an authorization code for an OMS access token",
        "tags": [
          "Auth"
        ],
        "security": [],
        "description": "OAuth2 authorization_code grant against SelluSeller/OMS. Called during the SelluSeller app-install callback. All parameters travel in a JSON request body (Content-Type: application/json, Accept: */*) - NOT in the query string and NOT form-urlencoded. The body is a POJO handed to restManager.post(url, headers, dto, JsonNode.class), so Jackson serialisation applies and @JsonProperty wins: client_id, client_secret, grant_type, code, redirect_uri. grant_type is injected from the ${GRANT_TYPE} property, which is 'authorization_code' in every environment properties file. JPluger reads only 'access_token' out of the response. Calling modules: marketplace-connector (connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/publisher/AuthenticationService.java:140-153), wms-connector (connector/wms-connector/src/main/java/com/anchanto/connector/wms/publisherService/AuthenticationService.java:126-134), marketplace-core (marketplace-integrations/marketplace-core/src/main/java/com/anchanto/marketplace/core/service/AuthenticationService.java:226-247), carrier-integration (carrier-integration/src/main/java/com/anchanto/carrier/integration/service/AuthenticationService.java:134-154).",
        "x-jpluger-callers": [
          "marketplace-connector → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/publisher/AuthenticationService.java:148",
          "marketplace-connector → connector/marketplace-connector/src/main/java/com/anchanto/connector/marketplace/utils/MpConstants.java:48",
          "jpluger-connector → connector/jpluger-connector/src/main/java/com/anchanto/connector/selluseller/utils/JplugerConstants.java:11",
          "wms-connector → connector/wms-connector/src/main/java/com/anchanto/connector/wms/publisherService/AuthenticationService.java:134",
          "marketplace-core → marketplace-integrations/marketplace-core/src/main/java/com/anchanto/marketplace/core/service/AuthenticationService.java:241",
          "marketplace-core-model → marketplace-integrations/marketplace-core-model/src/main/java/com/anchanto/marketplace/core/util/GlobalConstant.java:285",
          "carrier-integration → carrier-integration/src/main/java/com/anchanto/carrier/integration/service/AuthenticationService.java:147",
          "carrier-integrations → carrier-integrations/carrier-core/src/main/java/com/anchanto/carrier/core/utils/GlobalConstant.java:19",
          "wms-integrations-legacy → wms-integrations/wms-integrations-legacy/src/main/java/com/anchanto/wms/integration/service/AuthenticationService.java:155",
          "marketplace-integrations-legacy → marketplace-integrations/marketplace-integrations-legacy/src/main/java/com/anchanto/marketplace/integration/service/AuthenticationService.java:184",
          "marketplace-integration → marketplace-integration/src/main/java/com/anchanto/marketplace/integration/controller/ConnectionController.java:381"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/OAuthTokenRequest",
              "example": {
                "client_id": "a3f9c1e07b5d42a8b6e1d9c4f0a25b73e8d1c6a94f27b30e5d8c1a6b47f92e03",
                "client_secret": "7b2e5d1a9c4f60b83e7d2a5c1f9048b6d3e7a1c5f0b94d26e8a3c7f1b5d09e42",
                "grant_type": "authorization_code",
                "code": "9c4d1f7a3b8e2506d1f4a7c9b3e5028d",
                "redirect_uri": "https://jplugger-dev.selluseller.com:3004/jpluger/mp/callback"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access token issued.",
            "schema": {
              "$ref": "#/definitions/OAuthTokenResponse",
              "example": {
                "access_token": "f1a6c2d8e40b7935a1c6d2f8b04e7395c1a6d2f8b04e7395c1a6d2f8b04e7395",
                "token_type": "Bearer",
                "expires_in": 7200,
                "refresh_token": "3e9b5c1a7f024d68b3e9c5a1f7d02468b3e9c5a1f7d02468b3e9c5a1f7d02468",
                "scope": "public",
                "created_at": 1755216000
              }
            },
            "examples": {
              "application/json": {
                "access_token": "f1a6c2d8e40b7935a1c6d2f8b04e7395c1a6d2f8b04e7395c1a6d2f8b04e7395",
                "token_type": "Bearer",
                "expires_in": 7200,
                "refresh_token": "3e9b5c1a7f024d68b3e9c5a1f7d02468b3e9c5a1f7d02468b3e9c5a1f7d02468",
                "scope": "public",
                "created_at": 1755216000
              }
            }
          },
          "401": {
            "description": "Invalid client credentials or expired authorization code.",
            "schema": {
              "$ref": "#/definitions/CommonErrorResponse",
              "example": {
                "error": "invalid_grant",
                "error_description": "The provided authorization grant is invalid, expired, revoked, or was issued to another client.",
                "status": 401,
                "message": "The provided authorization grant is invalid, expired, revoked, or was issued to another client.",
                "summary": "Unauthorized"
              }
            },
            "examples": {
              "application/json": {
                "error": "invalid_grant",
                "error_description": "The provided authorization grant is invalid, expired, revoked, or was issued to another client.",
                "status": 401,
                "message": "The provided authorization grant is invalid, expired, revoked, or was issued to another client.",
                "summary": "Unauthorized"
              }
            }
          },
          "400": {
            "description": "Malformed token request.",
            "schema": {
              "$ref": "#/definitions/CommonErrorResponse",
              "example": {
                "error": "invalid_request",
                "error_description": "Missing required parameter: code",
                "status": 400,
                "message": "Missing required parameter: code",
                "summary": "Bad Request"
              }
            },
            "examples": {
              "application/json": {
                "error": "invalid_request",
                "error_description": "Missing required parameter: code",
                "status": 400,
                "message": "Missing required parameter: code",
                "summary": "Bad Request"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/rest/v1/brands": {
      "post": {
        "summary": "Create Brand",
        "tags": [
          "Catalogues"
        ],
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "store_code",
            "in": "query",
            "description": "This is an unique selluseller code/store code",
            "required": true,
            "example": "SS0000051211"
          },
          {
            "name": "brand",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "brand": {
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Brand name",
                      "example": "loreal"
                    },
                    "code": {
                      "type": "string",
                      "description": "Brand code",
                      "example": "A12oc"
                    },
                    "presentation": {
                      "type": "string",
                      "description": "Brand's presentation",
                      "example": "loreal"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "is active Brand?",
                      "example": true
                    }
                  },
                  "required": [
                    "name",
                    "presentation"
                  ]
                }
              },
              "required": [
                "brand"
              ]
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Brand created. Deserialised into CreateBrandResponseDTO.",
            "schema": {
              "$ref": "#/definitions/BrandResponse",
              "example": {
                "id": 71204,
                "name": "Aurora Home",
                "code": "AURORA_HOME",
                "presentation": "Aurora Home",
                "marketplace_code": "lazada_sg",
                "active": true,
                "created_at": "2026-08-15T04:35:02.000Z",
                "updated_at": "2026-08-15T04:35:02.000Z"
              }
            },
            "examples": {
              "application/json": {
                "id": 71204,
                "name": "Aurora Home",
                "code": "AURORA_HOME",
                "presentation": "Aurora Home",
                "marketplace_code": "lazada_sg",
                "active": true,
                "created_at": "2026-08-15T04:35:02.000Z",
                "updated_at": "2026-08-15T04:35:02.000Z"
              }
            }
          }
        },
        "operationId": "post_rest_v1_brands",
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "summary": "Get Brand",
        "tags": [
          "Catalogues"
        ],
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "marketplace_code",
            "in": "query",
            "description": "This is an unique marketplace code",
            "required": true,
            "example": "lazada_sg"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            },
            "examples": {
              "application/json": {
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "get_rest_v1_brands",
        "produces": [
          "application/json"
        ]
      }
    },
    "/rest/v1/brands/bulk_create": {
      "post": {
        "summary": "Create Bulk Brand",
        "tags": [
          "Catalogues"
        ],
        "consumes": [
          "application/json"
        ],
        "security": [
          {
            "client": []
          }
        ],
        "parameters": [
          {
            "name": "store_code",
            "in": "query",
            "description": "This is an unique selluseller code/store code",
            "required": true,
            "example": "SS0000051211"
          },
          {
            "name": "brands",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "brands": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Brand name",
                        "example": "Addoxy"
                      },
                      "code": {
                        "type": "string",
                        "description": "Brand code",
                        "example": "Addoxy"
                      },
                      "presentation": {
                        "type": "string",
                        "description": "Brand's presentation",
                        "example": "Addoxy"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "is active Brand?",
                        "example": true
                      }
                    },
                    "required": [
                      "name",
                      "presentation"
                    ]
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Bulk brand creation accepted. Body is consumed as a raw String by JPluger.",
            "schema": {
[...]
