{
  "openapi": "3.0.3",
  "info": {
    "title": "LotteON API Specification (English)",
    "description": "Comprehensive OpenAPI 3.0.3 specification for LotteON E-Commerce API Platform translated into English.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://openapi.lotteon.com",
      "description": "LotteON Open API Production Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "OpenApiKey",
        "description": "LotteON Seller API Key authentication header"
      }
    }
  },
  "tags": [
    {
      "name": "Adjustment / Settlement"
    },
    {
      "name": "Claim / Cancellation"
    },
    {
      "name": "Common"
    },
    {
      "name": "Customer Service Center"
    },
    {
      "name": "Delivery / Shipping"
    },
    {
      "name": "Display / TV Home Shopping"
    },
    {
      "name": "Goods / Products"
    },
    {
      "name": "Order"
    },
    {
      "name": "Partner / Correspondent"
    },
    {
      "name": "Product Attributes"
    },
    {
      "name": "Promotion / Coupons"
    },
    {
      "name": "Smart Pick"
    }
  ],
  "paths": {
    "/v1/openapi/contract/v1/et/updateTrader": {
      "post": {
        "summary": "Edit top business partners",
        "description": "This is an API that allows affiliates to edit their basic information in integrated EC.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "Response data (0 len)",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer code/number (18 len)"
                  },
                  "rpbtrEmlAddr": {
                    "type": "string",
                    "description": "Contact person email address (50 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:'82'] (20 len)"
                  },
                  "rpbtrMphnNo": {
                    "type": "string",
                    "description": "Person in charge mobile phone number (20 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Telephone country code [default:'82'] (20 len)"
                  },
                  "bzplcCaddrNo": {
                    "type": "string",
                    "description": "Business contact number (20 len)"
                  },
                  "faxNatnNoCd": {
                    "type": "string",
                    "description": "Fax country code [default:'82'] (20 len)"
                  },
                  "rprtFaxNo": {
                    "type": "string",
                    "description": "Main fax number (20 len)"
                  },
                  "prstMsgUseYn": {
                    "type": "string",
                    "description": "Whether to use gift message [Y: used, N: not used] (1 len)"
                  },
                  "dlvrMsgYn": {
                    "type": "string",
                    "description": "Delivery message usage status [Y: used, N: unused] (1 len)"
                  },
                  "shopCnvMsgUseYn": {
                    "type": "string",
                    "description": "Whether to use store delivery message [Y: used, N: not used] (1 len)"
                  },
                  "hpDvDdUseYn": {
                    "type": "string",
                    "description": "Whether to use desired delivery date [Y: used, N: not used] (1 len)"
                  },
                  "ovsDvYn": {
                    "type": "string",
                    "description": "Overseas shipping [Y: used, N: unused] (1 len)"
                  },
                  "cnslAccpPdDealYn": {
                    "type": "string",
                    "description": "Consultation reception product handling status [Y: used, N: unused] (1 len)"
                  },
                  "stffEusePdDealYn": {
                    "type": "string",
                    "description": "Whether to treat products exclusively for employees [Y: used, N: not used] (1 len)"
                  },
                  "nldyOprStrtTm": {
                    "type": "string",
                    "description": "Weekday operation start time [HH24MM] (4 len)"
                  },
                  "nldyOprEndTm": {
                    "type": "string",
                    "description": "Weekday operation end time [HH24MM] (4 len)"
                  },
                  "satAwrkYn": {
                    "type": "string",
                    "description": "Saturday work status [Y: working, N: not working] (1 len)"
                  },
                  "satOprStrtTm": {
                    "type": "string",
                    "description": "Saturday operation start time [HH24MM] (4 len)"
                  },
                  "satOprEndTm": {
                    "type": "string",
                    "description": "Saturday operation closing time [HH24MM] (4 len)"
                  },
                  "rtmCtngOprYn": {
                    "type": "string",
                    "description": "Real-time chat operation [Y: operating, N: not operating] (1 len)"
                  },
                  "rtmCtngSatAwrkYn": {
                    "type": "string",
                    "description": "Real-time chat Saturday work status [Y: working, N: not working] (1 len)"
                  },
                  "rtmCtngNldyOprStrtTm": {
                    "type": "string",
                    "description": "Real-time chat weekday operation start time [HH24MM] (4 len)"
                  },
                  "rtmCtngNldyOprEndTm": {
                    "type": "string",
                    "description": "Real-time chatting weekday operation end time [HH24MM] (4 len)"
                  },
                  "rtmCtngSatOprStrtTm": {
                    "type": "string",
                    "description": "Real-time chat Saturday operation start time [HH24MM] (4 len)"
                  },
                  "rtmCtngSatOprEndTm": {
                    "type": "string",
                    "description": "Real-time chat Saturday operation end time [HH24MM] (4 len)"
                  },
                  "strPicUseYn": {
                    "type": "string",
                    "description": "Whether to use store pick [default:'N'] (1 len)"
                  },
                  "rvsPicUseYn": {
                    "type": "string",
                    "description": "Whether to use reverse pick [default:'N'] (1 len)"
                  },
                  "crssPicUseYn": {
                    "type": "string",
                    "description": "Whether to use crosspick [default:'N'] (1 len)"
                  },
                  "strCd": {
                    "type": "string",
                    "description": "Dot code (Elotte) (20 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/lrtr/registLrTrader": {
      "post": {
        "summary": "Subcontractor registration",
        "description": "This is an API that allows affiliates to register new customers of affiliates in integrated EC.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account code/number (17 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer code/number (18 len)"
                  },
                  "lrtrNm": {
                    "type": "string",
                    "description": "Sub-contractor name (200 len)"
                  },
                  "IrtrTxStatCd": {
                    "type": "string",
                    "description": "Sub-customer transaction status code [01: Transaction in progress, 02: Transaction ended, 03: Transaction suspended] (50 len)"
                  },
                  "rprtStfNm": {
                    "type": "string",
                    "description": "Representative employee name (100 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Phone number country code [default:82] (20 len)"
                  },
                  "rpbtrTelNo": {
                    "type": "string",
                    "description": "Telephone number (20 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:82] (20 len)"
                  },
                  "rpbtrMphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (20 len)"
                  },
                  "emlAddr": {
                    "type": "string",
                    "description": "Email (200 len)"
                  },
                  "tskStrtTm": {
                    "type": "string",
                    "description": "Business start time [HH24MM] (4 len)"
                  },
                  "tskEndTm": {
                    "type": "string",
                    "description": "Business end time [HH24MM] (4 len)"
                  },
                  "strPicUseYn": {
                    "type": "string",
                    "description": "Whether to use store pick [default:'Y'] (1 len)"
                  },
                  "rvsPicUseYn": {
                    "type": "string",
                    "description": "Whether to use reverse pick [default:'Y'] (1 len)"
                  },
                  "crssPicUseYn": {
                    "type": "string",
                    "description": "Whether to use crosspick [default:'Y'] (1 len)"
                  },
                  "strCd": {
                    "type": "string",
                    "description": "Point code (20 len)"
                  },
                  "strShpCd": {
                    "type": "string",
                    "description": "Store type code (Logistics Center: 01, Complex Store: 02, Virtual Store: 03, Standalone Store: 04, Fresh Center: 05, Premium Market: 06) (20 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "afflLrtrCd",
                  "afflTrCd",
                  "lrtrNm",
                  "IrtrTxStatCd",
                  "rprtStfNm",
                  "emlAddr"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/lrtr/updateLrTrader": {
      "post": {
        "summary": "Edit sub-customers",
        "description": "This is an API that allows affiliates to register new customers of affiliates in integrated EC.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account code/number (17 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer code/number (18 len)"
                  },
                  "lrtrNm": {
                    "type": "string",
                    "description": "Sub-contractor name (200 len)"
                  },
                  "IntrTxStatCd": {
                    "type": "string",
                    "description": "Sub-customer transaction status code [01: Transaction in progress, 02: Transaction ended, 03: Transaction suspended] (50 len)"
                  },
                  "rprtStfNm": {
                    "type": "string",
                    "description": "Representative employee name (100 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Phone number country code [default:82] (20 len)"
                  },
                  "rpbtrTelNo": {
                    "type": "string",
                    "description": "Telephone number (20 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:82] (20 len)"
                  },
                  "rpbtrMphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (20 len)"
                  },
                  "emlAddr": {
                    "type": "string",
                    "description": "Email (200 len)"
                  },
                  "tskStrtTm": {
                    "type": "string",
                    "description": "Business start time [HH24MM] (4 len)"
                  },
                  "tskEndTm": {
                    "type": "string",
                    "description": "Business end time [HH24MM] (4 len)"
                  },
                  "strPicUseYn": {
                    "type": "string",
                    "description": "Whether to use store pick [default:'N'] (1 len)"
                  },
                  "rvsPicUseYn": {
                    "type": "string",
                    "description": "Whether to use reverse pick [default:'N'] (1 len)"
                  },
                  "crssPicUseYn": {
                    "type": "string",
                    "description": "Whether to use crosspick [default:'N'] (1 len)"
                  },
                  "strCd": {
                    "type": "string",
                    "description": "Point code (20 len)"
                  },
                  "strShpCd": {
                    "type": "string",
                    "description": "Store type code (Logistics Center: 01, Complex Store: 02, Virtual Store: 03, Standalone Store: 04, Fresh Center: 05, Premium Market: 06) (20 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "afflLrtrCd",
                  "afflTrCd",
                  "lrtrNm",
                  "IntrTxStatCd",
                  "rprtStfNm",
                  "emlAddr"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/lrtr/selectLrTrader": {
      "post": {
        "summary": "Sub-customer inquiry",
        "description": "API to query information of sub-customers in the integrated EC of affiliates",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "Response data (0 len)",
                      "properties": {}
                    },
                    "lntrNm": {
                      "type": "string",
                      "description": "Sub-contractor name (200 len)"
                    },
                    "lntrTxStatCd": {
                      "type": "string",
                      "description": "Sub-customer status code [01: Transaction in progress, 02: Transaction ended, 03: Transaction suspended] (50 len)"
                    },
                    "rprtStfNm": {
                      "type": "string",
                      "description": "Representative employee name (100 len)"
                    },
                    "telNatnNoCd": {
                      "type": "string",
                      "description": "Phone number country code [default:82] (20 len)"
                    },
                    "rpbtrTelNo": {
                      "type": "string",
                      "description": "Telephone number (20 len)"
                    },
                    "mphnNatnNoCd": {
                      "type": "string",
                      "description": "Mobile phone country code [default:82] (20 len)"
                    },
                    "rpbtrMphnNo": {
                      "type": "string",
                      "description": "Mobile phone number (20 len)"
                    },
                    "emlAddr": {
                      "type": "string",
                      "description": "Email address (200 len)"
                    },
                    "tskStrTm": {
                      "type": "string",
                      "description": "Business start time [HH24MM] (4 len)"
                    },
                    "tskEndTm": {
                      "type": "string",
                      "description": "Business end time [HH24MM] (4 len)"
                    },
                    "strPicUseYn": {
                      "type": "string",
                      "description": "Whether to use smart pick [default:'N'] (1 len)"
                    },
                    "rvsPicUseYn": {
                      "type": "string",
                      "description": "Whether to use reverse pick [default:'N'] (1 len)"
                    },
                    "crssPiceUseYn": {
                      "type": "string",
                      "description": "Whether to use crosspick [default:'N'] (1 len)"
                    },
                    "strCd": {
                      "type": "string",
                      "description": "Point code (20 len)"
                    },
                    "strShpCd": {
                      "type": "string",
                      "description": "Store type code (logistics outlet: 01, complex store: 02, virtual store: 03, single store: 04, fresh center: 05, premium market: 06) (20 len)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account code/number (17 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer code/number (18 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "afflLrtrCd",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/dvp/registDvp": {
      "post": {
        "summary": "Registration of shipping/returning address",
        "description": "This is an API that allows affiliates to register their shipping/return locations in Integrated EC.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "dvpNo": {
                    "type": "string",
                    "description": "'PLE' + delivery address number (11 len)"
                  },
                  "dvpTypCd": {
                    "type": "string",
                    "description": "Shipping address type code [Collection address: 01, Shipping address: 02] (1 len)"
                  },
                  "dvpNm": {
                    "type": "string",
                    "description": "Delivery address (100 len)"
                  },
                  "zipNo": {
                    "type": "string",
                    "description": "Postal code (if not present, '99999') (7 len)"
                  },
                  "zipAddr": {
                    "type": "string",
                    "description": "Mailing address ('none' if not available) (200 len)"
                  },
                  "dtlAddr": {
                    "type": "string",
                    "description": "Detailed address ('-' if not present) (200 len)"
                  },
                  "stnmZipNo": {
                    "type": "string",
                    "description": "Road name/postal code ('99999' if not available) (6 len)"
                  },
                  "stnmZipAddr": {
                    "type": "string",
                    "description": "Street name and postal address ('none' if not available) (200 len)"
                  },
                  "stnmDtlAddr": {
                    "type": "string",
                    "description": "Road name address (if not present, '-') (200 len)"
                  },
                  "rpbtrNm": {
                    "type": "string",
                    "description": "Name of person in charge (100 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:'82'] (20 len)"
                  },
                  "mphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (15 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Contact country code [default:'82'] (20 len)"
                  },
                  "telNo": {
                    "type": "string",
                    "description": "Contact (20 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (18 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account number (18 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "dvpNo",
                  "dvpTypCd",
                  "dvpNm",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/dvp/updateDvp": {
      "post": {
        "summary": "Edit shipping/return address",
        "description": "This is an API that allows affiliates to modify the affiliate's shipping/return address in the integrated EC.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "dvpNo": {
                    "type": "string",
                    "description": "'PLE' + delivery address number (11 len)"
                  },
                  "dvpTypCd": {
                    "type": "string",
                    "description": "Shipping address type code [Collection address: 01, Shipping address: 02] (1 len)"
                  },
                  "dvpNm": {
                    "type": "string",
                    "description": "Delivery address (100 len)"
                  },
                  "zipNo": {
                    "type": "string",
                    "description": "Postal code (if not present, '99999') (7 len)"
                  },
                  "zipAddr": {
                    "type": "string",
                    "description": "Mailing address ('none' if not available) (200 len)"
                  },
                  "dtlAddr": {
                    "type": "string",
                    "description": "Detailed address ('-' if not present) (200 len)"
                  },
                  "stnmZipNo": {
                    "type": "string",
                    "description": "Road name/postal code ('99999' if not available) (6 len)"
                  },
                  "stnmZipAddr": {
                    "type": "string",
                    "description": "Street name and postal address ('none' if not available) (200 len)"
                  },
                  "stnmDtlAddr": {
                    "type": "string",
                    "description": "Road name address (if not present, '-') (200 len)"
                  },
                  "rpbtrNm": {
                    "type": "string",
                    "description": "Name of person in charge (100 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:'82'] (20 len)"
                  },
                  "mphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (15 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Contact country code [default:'82'] (20 len)"
                  },
                  "telNo": {
                    "type": "string",
                    "description": "Contact (20 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (18 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account number (18 len)"
                  },
                  "useYn": {
                    "type": "string",
                    "description": "Usage [default:'Y'] (1 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "dvpNo",
                  "dvpTypCd",
                  "dvpNm",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/dvp/deleteDvp": {
      "post": {
        "summary": "Delete shipping/returning address",
        "description": "This is an API that deletes the affiliate's shipping/return address from the integrated EC.\nInstead of deleting the API, you can delete the store center.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Customer code/number (18 len)"
                  },
                  "dvpNo": {
                    "type": "string",
                    "description": "'PLE' + delivery address number (30 len)"
                  },
                  "dvpTypCd": {
                    "type": "string",
                    "description": "Shipping address type code [Collection address: 01, Shipping address: 02] (1 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "afflTrCd",
                  "dvpNo",
                  "dvpTypCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/dvp/getDvpList": {
      "post": {
        "summary": "Check list of shipping/returning locations",
        "description": "This is an API that searches affiliates for information on shipping/returning locations registered in Integrated EC.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "Response data (0 len)",
                      "properties": {}
                    },
                    "dvpNo": {
                      "type": "string",
                      "description": "'PLE&;PLE'+Delivery address number (11 len)"
                    },
                    "dvpTypCd": {
                      "type": "string",
                      "description": "Shipping address type code [Collection address: 01, Shipping address: 02] (1 len)"
                    },
                    "dvpNm": {
                      "type": "string",
                      "description": "Delivery address (100 len)"
                    },
                    "zipNo": {
                      "type": "string",
                      "description": "Postal code (7 len)"
                    },
                    "zipAddr": {
                      "type": "string",
                      "description": "Postal address (200 len)"
                    },
                    "dtlAddr": {
                      "type": "string",
                      "description": "Detailed address (200 len)"
                    },
                    "stnmZipNo": {
                      "type": "string",
                      "description": "Road NameZip Code (6 len)"
                    },
                    "stnmZipAddr": {
                      "type": "string",
                      "description": "Road name postal address (200 len)"
                    },
                    "stnmDtlAddr": {
                      "type": "string",
                      "description": "Detailed address for stealing bases (200 len)"
                    },
                    "rpbtrNm": {
                      "type": "string",
                      "description": "Name of person in charge (100 len)"
                    },
                    "mphnNatnNoCd": {
                      "type": "string",
                      "description": "Mobile phone country code [default:'82'] (20 len)"
                    },
                    "mphnNo": {
                      "type": "string",
                      "description": "Mobile phone number (20 len)"
                    },
                    "telNatnBoCd": {
                      "type": "string",
                      "description": "Contact country code [defaul:'82'] (20 len)"
                    },
                    "telNo": {
                      "type": "string",
                      "description": "Contact (20 len)"
                    },
                    "afflLrtrCd": {
                      "type": "string",
                      "description": "Sub-account number (18 len)"
                    },
                    "useYn": {
                      "type": "string",
                      "description": "Usage [default:'Y'] (1 len)"
                    },
                    "rprtYn": {
                      "type": "string",
                      "description": "Representative shipping/collection location [default:'N'] (1 len)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflCd": {
                    "type": "string",
                    "description": "LE: Lotte Department Store\n\n LF: Lotte Super\n\n LM:Lotte Mart\n\n LH: Lotte Hi-Mart\n\n LB: LOHB\n\n LI: Lotte iMall (Lotte Home Shopping)\n\n LO:Lotte ON (2 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (18 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account number (17 len)"
                  }
                },
                "required": [
                  "afflCd",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/et/updateTraderSr": {
      "post": {
        "summary": "Edit seller account",
        "description": "This is an API that modifies the basic information of a seller's top customers.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "Response data (0 len)",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (20 len)"
                  },
                  "rpbtrEmlAddr": {
                    "type": "string",
                    "description": "Contact person email address (50 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:'82'] (20 len)"
                  },
                  "rpbtrMphnNo": {
                    "type": "string",
                    "description": "Person in charge mobile phone number (20 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Telephone country code [default:'82'] (20 len)"
                  },
                  "bzplcCaddrNo": {
                    "type": "string",
                    "description": "Business contact number (20 len)"
                  },
                  "faxNatnNoCd": {
                    "type": "string",
                    "description": "Fax country code [default:'82'] (20 len)"
                  },
                  "rprtFaxNo": {
                    "type": "string",
                    "description": "Main fax number (20 len)"
                  },
                  "prstMsgUseYn": {
                    "type": "string",
                    "description": "Whether to use gift message [Y: used, N: not used] (1 len)"
                  },
                  "dlvrMsgYn": {
                    "type": "string",
                    "description": "Delivery message usage [Y: used, N: unused] (1 len)"
                  },
                  "shopCnvMsgUseYn": {
                    "type": "string",
                    "description": "Whether to use store delivery message [Y: used, N: not used] (1 len)"
                  },
                  "hpDvDdUseYn": {
                    "type": "string",
                    "description": "Whether to use desired delivery date [Y: used, N: not used] (1 len)"
                  },
                  "ovsDvYn": {
                    "type": "string",
                    "description": "Overseas shipping [Y: used, N: unused] (1 len)"
                  },
                  "cnslAccpPdDealYn": {
                    "type": "string",
                    "description": "Consultation reception product handling status [Y: used, N: unused] (1 len)"
                  },
                  "stffEusePdDealYn": {
                    "type": "string",
                    "description": "Whether to treat products exclusively for employees [Y: used, N: not used] (1 len)"
                  },
                  "nldyOprStrtTm": {
                    "type": "string",
                    "description": "Weekday operation start time [HH24MM] (4 len)"
                  },
                  "nldyOprEndTm": {
                    "type": "string",
                    "description": "Weekday operation end time [HH24MM] (4 len)"
                  },
                  "satAwrkYn": {
                    "type": "string",
                    "description": "Saturday work status [Y: working, N: not working] (4 len)"
                  },
                  "satOprStrtTm": {
                    "type": "string",
                    "description": "Saturday operation start time [HH24MM] (4 len)"
                  },
                  "satOprEndTm": {
                    "type": "string",
                    "description": "Saturday operation closing time [HH24MM] (4 len)"
                  },
                  "rtmCtngOprYn": {
                    "type": "string",
                    "description": "Real-time chat operation [Y: operating, N: not operating] (1 len)"
                  },
                  "rtmCtngSatAwrkYn": {
                    "type": "string",
                    "description": "Real-time chat Saturday work status [Y: working, N: not working] (1 len)"
                  },
                  "rtmCtngNldyOprStrtTm": {
                    "type": "string",
                    "description": "Real-time chat weekday operation start time [HH24MM] (4 len)"
                  },
                  "rtmCtngNldyOprEndTm": {
                    "type": "string",
                    "description": "Real-time chatting weekday operation end time [HH24MM] (4 len)"
                  },
                  "rtmCtngSatOprStrtTm": {
                    "type": "string",
                    "description": "Real-time chat Saturday operation start time [HH24MM] (4 len)"
                  },
                  "rtmCtngSatOprEndTm": {
                    "type": "string",
                    "description": "Real-time chat Saturday operation end time [HH24MM] (4 len)"
                  }
                },
                "required": [
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/lrtr/registLrTraderSr": {
      "post": {
        "summary": "Seller sub-customer registration",
        "description": "This is an API that registers new sub-customers of a seller.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (18 len)"
                  },
                  "lrtrNm": {
                    "type": "string",
                    "description": "Sub-contractor name (200 len)"
                  },
                  "IrtrTxStatCd": {
                    "type": "string",
                    "description": "Sub-customer transaction status code [01: Transaction in progress, 02: Transaction ended, 03: Transaction suspended] (50 len)"
                  },
                  "rprtStfNm": {
                    "type": "string",
                    "description": "Representative employee name (100 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Phone number country code [default:82] (20 len)"
                  },
                  "telNatnCd": {
                    "type": "string",
                    "description": "Phone number country code [default:KR] (20 len)"
                  },
                  "rpbtrTelNo": {
                    "type": "string",
                    "description": "Telephone number (20 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:82] (20 len)"
                  },
                  "mphnNatnCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:KR] (20 len)"
                  },
                  "rpbtrMphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (20 len)"
                  },
                  "emlAddr": {
                    "type": "string",
                    "description": "Email address (200 len)"
                  },
                  "tskStrtTm": {
                    "type": "string",
                    "description": "Business start time [HH24MM] (4 len)"
                  },
                  "tskEndTm": {
                    "type": "string",
                    "description": "Business end time [HH24MM] (4 len)"
                  },
                  "rvsPicUseYn": {
                    "type": "string",
                    "description": "Whether to use reverse pick [default:'N'] (1 len)"
                  },
                  "crssPicUseYn": {
                    "type": "string",
                    "description": "Whether to use crosspick [default:'Y'] (1 len)"
                  }
                },
                "required": [
                  "afflTrCd",
                  "lrtrNm",
                  "IrtrTxStatCd",
                  "rprtStfNm",
                  "emlAddr"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/lrtr/updateLrTraderSr": {
      "post": {
        "summary": "Edit seller sub-accounts",
        "description": "This is an API that modifies a seller’s existing sub-customers.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account number (17 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (18 len)"
                  },
                  "lrtrNm": {
                    "type": "string",
                    "description": "Sub-contractor name (200 len)"
                  },
                  "IntrTxStatCd": {
                    "type": "string",
                    "description": "Sub-customer transaction status code [01: Transaction in progress, 02: Transaction ended, 03: Transaction suspended] (50 len)"
                  },
                  "rprtStfNm": {
                    "type": "string",
                    "description": "Representative employee name (100 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Phone number country code [default:82] (20 len)"
                  },
                  "telNatnCd": {
                    "type": "string",
                    "description": "Phone number country code [default:KR] (20 len)"
                  },
                  "rpbtrTelNo": {
                    "type": "string",
                    "description": "Telephone number (20 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:82] (20 len)"
                  },
                  "mphnNatnCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:KR] (20 len)"
                  },
                  "rpbtrMphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (20 len)"
                  },
                  "emlAddr": {
                    "type": "string",
                    "description": "Email address (200 len)"
                  },
                  "tskStrtTm": {
                    "type": "string",
                    "description": "Business start time [HH24MM] (4 len)"
                  },
                  "tskEndTm": {
                    "type": "string",
                    "description": "Business end time [HH24MM] (4 len)"
                  },
                  "rvsPicUseYn": {
                    "type": "string",
                    "description": "Whether to use reverse pick [default:'N'] (1 len)"
                  },
                  "crssPicUseYn": {
                    "type": "string",
                    "description": "Whether to use crosspick [default:'N'] (1 len)"
                  }
                },
                "required": [
                  "afflLrtrCd",
                  "afflTrCd",
                  "lrtrNm",
                  "IntrTxStatCd",
                  "rprtStfNm",
                  "emlAddr"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/lrtr/selectLrTraderSr": {
      "post": {
        "summary": "Seller sub-customer search",
        "description": "This is an API that searches the seller’s sub-customers.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    },
                    "lntrNm": {
                      "type": "string",
                      "description": "Sub-contractor name (200 len)"
                    },
                    "lntrTxStatCd": {
                      "type": "string",
                      "description": "Sub-customer status code [01: Transaction in progress, 02: Transaction ended, 03: Transaction suspended] (50 len)"
                    },
                    "rprtStfNm": {
                      "type": "string",
                      "description": "Representative employee name (100 len)"
                    },
                    "telNatnNoCd": {
                      "type": "string",
                      "description": "Phone number country code [default:82] (20 len)"
                    },
                    "rpbtrTelNo": {
                      "type": "string",
                      "description": "Telephone number (20 len)"
                    },
                    "mphnNatnNoCd": {
                      "type": "string",
                      "description": "Mobile phone country code [default:82] (20 len)"
                    },
                    "rpbtrMphnNo": {
                      "type": "string",
                      "description": "Mobile phone number (20 len)"
                    },
                    "emlAddr": {
                      "type": "string",
                      "description": "Email address (200 len)"
                    },
                    "tskStrTm": {
                      "type": "string",
                      "description": "Business start time [HH24MM] (4 len)"
                    },
                    "tskEndTm": {
                      "type": "string",
                      "description": "Business end time [HH24MM] (4 len)"
                    },
                    "strPicUseYn": {
                      "type": "string",
                      "description": "Whether to use smart pick [default:'N'] (1 len)"
                    },
                    "rvsPicUseYn": {
                      "type": "string",
                      "description": "Whether to use reverse pick [default:'N'] (1 len)"
                    },
                    "crssPiceUseYn": {
                      "type": "string",
                      "description": "Whether to use crosspick [default:'N'] (1 len)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account code/number (20 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer code/number (20 len)"
                  }
                },
                "required": [
                  "afflLrtrCd",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/dvp/registDvpSr": {
      "post": {
        "summary": "Register seller shipping/return address",
        "description": "This is an API that registers the seller’s shipping/returning address.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dvpTypCd": {
                    "type": "string",
                    "description": "Shipping address type code [Collection address: 01, Shipping address: 02] (2 len)"
                  },
                  "dvpNm": {
                    "type": "string",
                    "description": "Delivery address (100 len)"
                  },
                  "zipNo": {
                    "type": "string",
                    "description": "Postal code (if not present, '99999') (7 len)"
                  },
                  "zipAddr": {
                    "type": "string",
                    "description": "Mailing address ('none' if not available) (200 len)"
                  },
                  "dtlAddr": {
                    "type": "string",
                    "description": "Detailed address ('-' if not present) (200 len)"
                  },
                  "stnmZipNo": {
                    "type": "string",
                    "description": "Road name/postal code ('99999' if not available) (6 len)"
                  },
                  "stnmZipAddr": {
                    "type": "string",
                    "description": "Street name and postal address ('none' if not available) (200 len)"
                  },
                  "stnmDtlAddr": {
                    "type": "string",
                    "description": "Road name address (if not present, '-') (200 len)"
                  },
                  "rpbtrNm": {
                    "type": "string",
                    "description": "Name of person in charge (100 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:'82'] (20 len)"
                  },
                  "mphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (15 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Contact country code [default:'82'] (20 len)"
                  },
                  "telNo": {
                    "type": "string",
                    "description": "Contact (20 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (18 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account number (18 len)"
                  }
                },
                "required": [
                  "dvpTypCd",
                  "dvpNm",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/dvp/updateDvpSr": {
      "post": {
        "summary": "Edit seller shipping/return address",
        "description": "This is an API that modifies the seller's shipping/returning address.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (Default limit: 1,000 requests per minute per OpenApiKey)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying request"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - System error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dvpNo": {
                    "type": "string",
                    "description": "'PLO' + delivery address number (11 len)"
                  },
                  "dvpTypCd": {
                    "type": "string",
                    "description": "Shipping address type code [Collection address: 01, Shipping address: 02] (2 len)"
                  },
                  "dvpNm": {
                    "type": "string",
                    "description": "Delivery address (100 len)"
                  },
                  "zipNo": {
                    "type": "string",
                    "description": "Postal code (if not present, '99999') (7 len)"
                  },
                  "zipAddr": {
                    "type": "string",
                    "description": "Mailing address ('none' if not available) (200 len)"
                  },
                  "dtlAddr": {
                    "type": "string",
                    "description": "Detailed address ('-' if not present) (200 len)"
                  },
                  "stnmZipNo": {
                    "type": "string",
                    "description": "Road name/postal code ('99999' if not available) (6 len)"
                  },
                  "stnmZipAddr": {
                    "type": "string",
                    "description": "Street name and postal address ('none' if not available) (200 len)"
                  },
                  "stnmDtlAddr": {
                    "type": "string",
                    "description": "Road name address (if not present, '-') (200 len)"
                  },
                  "rpbtrNm": {
                    "type": "string",
                    "description": "Name of person in charge (100 len)"
                  },
                  "mphnNatnNoCd": {
                    "type": "string",
                    "description": "Mobile phone country code [default:'82'] (20 len)"
                  },
                  "mphnNo": {
                    "type": "string",
                    "description": "Mobile phone number (15 len)"
                  },
                  "telNatnNoCd": {
                    "type": "string",
                    "description": "Contact country code [default:'82'] (20 len)"
                  },
                  "telNo": {
                    "type": "string",
                    "description": "Contact (20 len)"
                  },
                  "afflTrCd": {
                    "type": "string",
                    "description": "Top customer number (18 len)"
                  },
                  "afflLrtrCd": {
                    "type": "string",
                    "description": "Sub-account number (18 len)"
                  },
                  "useYn": {
                    "type": "string",
                    "description": "Usage [default:'Y'] (1 len)"
                  }
                },
                "required": [
                  "dvpNo",
                  "dvpTypCd",
                  "dvpNm",
                  "afflTrCd"
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/openapi/contract/v1/dvp/deleteDvpSr": {
      "post": {
        "summary": "Delete seller shipping/return address",
        "description": "This is an API that deletes the seller’s shipping/returning address.\nThis API is a service that will not be provided after 2021.07.13 due to a policy change.\nThe delete function can be processed in the “Seller Information > Delivery Information Management” menu after logging into the Store Center.",
        "tags": [
          "Partner / Correspondent"
        ],
        "x-provenance": {
          "returnCode": "Quoted directly from LotteON API Portal Section 7 (Status Codes & Return Messages)",
          "rateLimit": "Quoted from LotteON Open API platform rate limit quota (1,000 requests/min per OpenApiKey)"
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returnCode": {
                      "type": "string",
                      "description": "Result code quoted from LotteON portal error contract table: 0000=Success, 9999=System Error, 1001=Required field missing, 1002=Invalid data format, 1003=Invalid common code, 2001=Business logic error",
                      "enum": [
                        "0000",
                        "9999",
                        "1001",
                        "1002",
                        "1003",
                        "2001"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message (1000 len)"
                    },
                    "subMessages": {
                      "type": "array",
                      "description": "Response detailed sub-message array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "dataCount": {
                      "type": "integer",
                      "description": "Total matching record count across all pages in the dataset (used for calculating total page count during pagination loop termination)"
                    },
                    "data": {
                      "type": "object",
                      "description": "response data",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Unregistered or invalid OpenAPI Key"
          },
          "403": {
            "description": "Forbidden - Access denied"
          },
          "404": {
            "description": "Not Found - Invalid request path"
          },
          "429": {
[...]
