{
  "swagger": "2.0",
  "info": {
    "title": "Anchanto WMS Open API (Unified V1, V2 & Async)",
    "description": "## Anchanto Warehouse Management System (WMS Wareo3) Open API\n\nThis unified specification consolidates all Open API interfaces for Anchanto WMS:\n- **Open API V2 (Warehouse Actions):** Multitenant warehouse & customer scoped APIs (`/rest/v2/customers/{customer_code}/...`). Authenticated via **OAuth 2.0 Access Token** (`/oauth/token`).\n- **Open API V1 (Seller Actions):** Company/seller scoped operations (`/rest/v1/...`). Authenticated via **JWT Token** (`/rest/v1/tokens/generate`).\n- **Open API Async:** High-throughput bulk ingest endpoints (`/async/v2/...`) accepting up to 50 items/500KB per payload, delivering status callbacks.\n- **Webhooks (Event Notifications):** Outbound webhook events (`Event:*`) published by WMS for real-time order lifecycle, inventory movements, GRN receipts, and shipment progress.\n\n### Key Conventions\n- **Header vs Body:** `warehouse-code` is passed as a **HEADER** (kebab-case) for operations targeting a physical warehouse facility. `warehouse_code` in request bodies is the snake_case payload field.\n- **Validation Errors:** WMS returns HTTP **422 Unprocessable Entity** for schema and business validation rejections, not 400.\n- **Identifiers:** Identifiers such as `data.return_order_number` and `order_number` are echoed by the server and persisted by integrations.\n",
    "version": "2.4.0",
    "contact": {
      "name": "Anchanto Developer Support",
      "url": "https://help.anchanto.com/support/home"
    }
  },
  "host": "wms-api.anchanto.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Enter Bearer <token> (JWT token for Seller Manager APIs, OAuth2 token for Warehouse APIs)"
    }
  },
  "tags": [
    {
      "name": "[Auth] Authorization Tokens",
      "description": "Token generation APIs for OAuth (Customer scope) and JWT (Seller Manager scope)"
    },
    {
      "name": "[V2] B2B Order APIs",
      "description": "Warehouse B2B Order processing, carton details, status updates, and dispatch"
    },
    {
      "name": "[V2] B2C Order APIs",
      "description": "Warehouse B2C Order processing, status updates, cancel, shipping docs, and tracking"
    },
    {
      "name": "[V2] Buyer APIs",
      "description": "B2B buyer profiles, codes, and credit terms"
    },
    {
      "name": "[V2] Company APIs",
      "description": "Tenant company settings and organizational hierarchy"
    },
    {
      "name": "[V2] Consignment APIs",
      "description": "Inbound consignments, GRN receipts, and evidence tracking"
    },
    {
      "name": "[V2] Kit Product APIs",
      "description": "Bundle and kit product definitions and sub-product mapping"
    },
    {
      "name": "[V2] LPN APIs",
      "description": "License Plate Number generation, assignment, and tracking"
    },
    {
      "name": "[V2] LPN Container APIs",
      "description": "LPN container packing, movement, and sealing"
    },
    {
      "name": "[V2] Packaging Materials APIs",
      "description": "Carton types, packaging materials, and tare weights"
    },
    {
      "name": "[V2] Product APIs",
      "description": "Warehouse product catalog management, batches, stocks, and status"
    },
    {
      "name": "[V2] PutawayList APIs",
      "description": "Warehouse putaway task lists and handover operations"
    },
    {
      "name": "[V2] Reports APIs",
      "description": "Export reports, asynchronous report generation, and download links"
    },
    {
      "name": "[V2] Retail Store APIs",
      "description": "Offline retail and omnichannel store order management"
    },
    {
      "name": "[V2] STO Order APIs",
      "description": "Stock Transfer Order APIs at warehouse level"
    },
    {
      "name": "[V2] Stock Location APIs",
      "description": "Stock levels by location, bin, and warehouse zones"
    },
    {
      "name": "[V2] Stock Take APIs",
      "description": "Physical inventory counts and cycle count reconciliation"
    },
    {
      "name": "[V2] Stock Transfer APIs",
      "description": "Stock movement requests and inter-warehouse transfers"
    },
    {
      "name": "[V2] Supplier APIs",
      "description": "Vendor profiles, codes, and inbound relationship management"
    },
    {
      "name": "[V2] VAS Configuration APIs",
      "description": "Value Added Services (VAS) rules, gift wrapping, tagging"
    },
    {
      "name": "[V2] Warehouse APIs",
      "description": "Warehouse entity details, operational settings, and zones"
    },
    {
      "name": "[V1] B2B Order APIs",
      "description": "Seller Manager B2B Order creation, updates, and items"
    },
    {
      "name": "[V1] B2C Order APIs",
      "description": "Seller Manager B2C Order updates, cancellation, and line operations"
    },
    {
      "name": "[V1] Buyer APIs",
      "description": "Seller buyer profiles"
    },
    {
      "name": "[V1] Consignment APIs",
      "description": "Seller inbound consignments and tracking"
    },
    {
      "name": "[V1] Customer Billings APIs",
      "description": "Billing rates, invoicing, and service fees"
    },
    {
      "name": "[V1] Installable Apps APIs",
      "description": "Third-party and marketplace app connections"
    },
    {
      "name": "[V1] Kit Product APIs",
      "description": "Seller kit and bundle product management"
    },
    {
      "name": "[V1] LPN APIs",
      "description": "Seller LPN management"
    },
    {
      "name": "[V1] LPN Container APIs",
      "description": "Seller LPN container management"
    },
    {
      "name": "[V1] OMS Reports APIs",
      "description": "Order Management System historical reporting"
    },
    {
      "name": "[V1] Product APIs",
      "description": "Seller product creation, catalog sync, and image updates"
    },
    {
      "name": "[V1] PutawayList APIs",
      "description": "Seller putaway list handover and items"
    },
    {
      "name": "[V1] STO Order APIs",
      "description": "Seller Manager Stock Transfer Orders"
    },
    {
      "name": "[V1] Stock Location APIs",
      "description": "Seller stock locations and stock queries"
    },
    {
      "name": "[V1] Stock Take APIs",
      "description": "Seller stock take requests"
    },
    {
      "name": "[V1] Stock Transfer APIs",
      "description": "Seller stock transfer operations"
    },
    {
      "name": "[V1] Supplier APIs",
      "description": "Seller supplier profiles"
    },
    {
      "name": "[V1] VAS Configuration APIs",
      "description": "Seller VAS rules"
    },
    {
      "name": "[V1] Warehouse APIs",
      "description": "Seller warehouse lists and mappings"
    },
    {
      "name": "[Async] Customer Bulk Operations",
      "description": "Bulk async order, product, and consignment ingestion (OAuth scoped)"
    },
    {
      "name": "[Async] Seller Bulk Operations",
      "description": "Bulk async order, product, and consignment ingestion (Seller Manager scoped)"
    },
    {
      "name": "[Webhooks] Event Notifications",
      "description": "Asynchronous event webhooks published by WMS (inventory, orders, GRN, shipments)"
    },
    {
      "name": "[Webhooks] Webhook Authentication",
      "description": "HMAC secret keys and webhook verification settings"
    }
  ],
  "paths": {
    "/rest/v2/customers/{customer_code}/b2c_orders/{order_number}/cartons_details": {
      "get": {
        "summary": "Get B2c Order Cartons Details",
        "tags": [
          "[V2] B2C Order APIs"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer (company) code"
          },
          {
            "name": "order_number",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Order number"
          },
          {
            "name": "shipment_number",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter cartons to a single shipment number"
          }
        ],
        "responses": {
          "200": {
            "description": "Cartons details successfully fetched",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "shipment_number_filter": {
                      "type": "string",
                      "nullable": true,
                      "description": "Echo of the shipment_number query param, if provided"
                    },
                    "shipments": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "shipment_number": {
                            "type": "string",
                            "description": "Shipment number"
                          },
                          "shipment_status": {
                            "type": "string",
                            "description": "Shipment state"
                          },
                          "cartons": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "carton_number": {
                                  "type": "string",
                                  "description": "Carton number"
                                },
                                "tracking_number": {
                                  "type": "string",
                                  "description": "Carton tracking number"
                                },
                                "awb_no": {
                                  "type": "string",
                                  "description": "Carton AWB number"
                                },
                                "carton_status": {
                                  "type": "string",
                                  "description": "Carton status: pending/completed/return_completed/out_from_warehouse/return_pending"
                                },
                                "carton_created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Carton creation date"
                                },
                                "carton_updated_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Carton last update date"
                                },
                                "dimensions": {
                                  "type": "object",
                                  "properties": {
                                    "length_cm": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "width_cm": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "height_cm": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "weight_kg": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "weight_source": {
                                      "type": "string",
                                      "description": "gross/net"
                                    }
                                  }
                                },
                                "carton_items": {
                                  "type": "array",
                                  "items": {
                                    "properties": {
                                      "item_sku": {
                                        "type": "string"
                                      },
                                      "item_name": {
                                        "type": "string"
                                      },
                                      "item_quantity": {
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "item_batch": {
                                        "type": "string",
                                        "description": "Batch number of the item, if batch-tracked"
                                      },
                                      "item_base_line_number": {
                                        "type": "integer",
                                        "description": "Base line number of the item (groups split lines of the same original order line)"
                                      },
                                      "item_line_number": {
                                        "type": "integer",
                                        "description": "Line number of the item on the order"
                                      },
                                      "item_expiry": {
                                        "type": "string",
                                        "format": "date",
                                        "description": "Batch expiry date, if batch-tracked"
                                      }
                                    }
                                  }
                                },
                                "carton_label": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Signed, time-limited shipping label URL"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "pdf/zpl"
                                    },
                                    "expires_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                },
                                "packaging_materials": {
                                  "type": "array",
                                  "items": {
                                    "properties": {
                                      "sku": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "quantity": {
                                        "type": "integer"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "number": {
                      "type": "string",
                      "description": "Order number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "value": "Signature verification raised | Nil JSON web token"
                }
              }
            }
          }
        },
        "operationId": "get_rest_v2_customers_customer_code_b2c_orders_order_number_cartons_details"
      }
    },
    "/rest/v2/customers/{customer_code}/b2b_orders/{order_number}/cartons_details": {
      "get": {
        "summary": "Get B2b Order Cartons Details",
        "tags": [
          "[V2] B2B Order APIs"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer (company) code"
          },
          {
            "name": "order_number",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Order number"
          },
          {
            "name": "shipment_number",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter cartons to a single shipment number"
          }
        ],
        "responses": {
          "200": {
            "description": "Cartons details successfully fetched",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "shipment_number_filter": {
                      "type": "string",
                      "nullable": true,
                      "description": "Echo of the shipment_number query param, if provided"
                    },
                    "shipments": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "shipment_number": {
                            "type": "string",
                            "description": "Shipment number"
                          },
                          "shipment_status": {
                            "type": "string",
                            "description": "Shipment state"
                          },
                          "cartons": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "carton_number": {
                                  "type": "string",
                                  "description": "Carton number"
                                },
                                "tracking_number": {
                                  "type": "string",
                                  "description": "Carton tracking number"
                                },
                                "awb_no": {
                                  "type": "string",
                                  "description": "Carton AWB number"
                                },
                                "carton_status": {
                                  "type": "string",
                                  "description": "Carton status: pending/completed/return_completed/out_from_warehouse/return_pending"
                                },
                                "carton_created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Carton creation date"
                                },
                                "carton_updated_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Carton last update date"
                                },
                                "dimensions": {
                                  "type": "object",
                                  "properties": {
                                    "length_cm": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "width_cm": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "height_cm": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "weight_kg": {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    "weight_source": {
                                      "type": "string",
                                      "description": "gross/net"
                                    }
                                  }
                                },
                                "carton_items": {
                                  "type": "array",
                                  "items": {
                                    "properties": {
                                      "item_sku": {
                                        "type": "string"
                                      },
                                      "item_name": {
                                        "type": "string"
                                      },
                                      "item_quantity": {
                                        "type": "number",
                                        "format": "float"
                                      },
                                      "item_batch": {
                                        "type": "string",
                                        "description": "Batch number of the item, if batch-tracked"
                                      },
                                      "item_base_line_number": {
                                        "type": "integer",
                                        "description": "Base line number of the item (groups split lines of the same original order line)"
                                      },
                                      "item_line_number": {
                                        "type": "integer",
                                        "description": "Line number of the item on the order"
                                      },
                                      "item_expiry": {
                                        "type": "string",
                                        "format": "date",
                                        "description": "Batch expiry date, if batch-tracked"
                                      }
                                    }
                                  }
                                },
                                "carton_label": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Signed, time-limited shipping label URL"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "pdf/zpl"
                                    },
                                    "expires_at": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  }
                                },
                                "packaging_materials": {
                                  "type": "array",
                                  "items": {
                                    "properties": {
                                      "sku": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "quantity": {
                                        "type": "integer"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "order_number": {
                      "type": "string",
                      "description": "Order number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "value": "Signature verification raised | Nil JSON web token"
                }
              }
            }
          }
        },
        "operationId": "get_rest_v2_customers_customer_code_b2b_orders_order_number_cartons_details"
      }
    },
    "/rest/v2/customers/{customer_code}/products": {
      "parameters": [
        {
          "name": "customer_code",
          "in": "path",
          "type": "string",
          "required": true,
          "description": "Customer/Company code"
        }
      ],
      "post": {
        "summary": "Create product",
        "tags": [
          "[V2] Product APIs"
        ],
        "description": "Use this API to create a Product in Anchanto WMS.\n\n<b>Copy & Paste the JSON below in the Request Body:</b>\n<pre>\n{\n  \\\"product\\\": {\n    \\\"name\\\": \\\"Wireless Mouse\\\",\n    \\\"sku\\\": \\\"MOUSE-001\\\",\n    \\\"storage_type\\\": \\\"standard\\\",\n    \\\"base_uom_code\\\": \\\"PCS\\\",\n    \\\"product_type\\\": \\\"product\\\",\n    \\\"product_sales_informations_attributes\\\": [\n      {\n        \\\"currency_code\\\": \\\"USD\\\",\n        \\\"selling_price\\\": 25.00,\n        \\\"cost_price\\\": 15.00,\n        \\\"retail_price\\\": 30.00\n      }\n    ],\n    \\\"product_dimensions_attributes\\\": [\n      {\n        \\\"length_cm\\\": 10,\n        \\\"width_cm\\\": 5,\n        \\\"height_cm\\\": 3,\n        \\\"weight_gm\\\": 150,\n        \\\"no_of_units\\\": 1\n      }\n    ],\n    \\\"product_localizations_attributes\\\": [\n      {\n        \\\"country_iso\\\": \\\"US\\\",\n        \\\"name\\\": \\\"Wireless Mouse\\\",\n        \\\"mark_as_default\\\": true\n      }\n    ]\n  }\n}\n</pre>\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer/Company code [REQUIRED]"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code [REQUIRED]"
          },
          {
            "name": "params",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "product": {
                  "type": "object",
                  "required": [
                    "name",
                    "storage_type",
                    "sku",
                    "base_uom_code",
                    "product_localizations_attributes"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the product [REQUIRED]",
                      "maxLength": 255
                    },
                    "supplier_code": {
                      "type": "string",
                      "description": "Supplier code at WMS, if any supplier for this product [OPTIONAL]",
                      "maxLength": 80
                    },
                    "brand_code": {
                      "type": "string",
                      "description": "Brand code at WMS [OPTIONAL]",
                      "maxLength": 80
                    },
                    "storage_type": {
                      "type": "string",
                      "description": "Type of storage required to store this product [REQUIRED]",
                      "enum": [
                        "temp_controlled",
                        "standard",
                        "flammable"
                      ]
                    },
                    "product_type": {
                      "type": "string",
                      "description": "Type of product [OPTIONAL]",
                      "enum": [
                        "product",
                        "parent_product",
                        "sample_product",
                        "kit_product",
                        "packaging_material"
                      ]
                    },
                    "sku": {
                      "type": "string",
                      "description": "Sku of this product [REQUIRED]",
                      "maxLength": 255
                    },
                    "mfupc": {
                      "type": "string",
                      "description": "Mfupc of this product [OPTIONAL]",
                      "maxLength": 255
                    },
                    "unique_serial_no": {
                      "type": "boolean",
                      "description": "Product will be uniquelly identified using unique serial number if true [OPTIONAL]"
                    },
                    "imei_number": {
                      "type": "boolean",
                      "description": "Product will be uniquelly identified using IMEI number if true [OPTIONAL]"
                    },
                    "batch_management": {
                      "type": "boolean",
                      "description": "Product support  batch_management if true [OPTIONAL]"
                    },
                    "expiry_management": {
                      "type": "boolean",
                      "description": "Product managed by expiry. Note: if this is true then batch_management automatically get selected [OPTIONAL]"
                    },
                    "temperature_scale": {
                      "type": "string",
                      "description": "Temperature scale for temp_controlled storage type [CONDITIONAL]",
                      "enum": [
                        "c",
                        "f"
                      ]
                    },
                    "temperature_unit": {
                      "type": "integer",
                      "description": "Temperature unit for temp_controlled storage type [CONDITIONAL]"
                    },
                    "outbound_serial_number": {
                      "type": "boolean",
                      "description": "Indicates if outbound serial numbers are required [OPTIONAL]"
                    },
                    "base_uom_code": {
                      "type": "string",
                      "description": "This is base unit of measurement code(eg: CM for centi meter). Note:: if not given then WMS will use a default one(CM) [REQUIRED]",
                      "maxLength": 20
                    },
                    "stock_take_cycle": {
                      "type": "boolean",
                      "description": "Product will go under periodic cycle stock take if true [OPTIONAL]"
                    },
                    "stock_take_cycle_days": {
                      "type": "integer",
                      "description": "Frequency of cycle stock take in days [OPTIONAL]",
                      "minimum": 1
                    },
                    "country_of_origin_iso": {
                      "type": "string",
                      "description": "Iso(2 letter) of country of origin of this product [OPTIONAL]",
                      "maxLength": 2,
                      "pattern": "^[A-Z]{2}$"
                    },
                    "category_id": {
                      "type": "integer",
                      "description": "Category ID in the warehouse from the warehouse-code header. If invalid, the field is ignored. Takes precedence over category_name. [OPTIONAL]"
                    },
                    "category_name": {
                      "type": "string",
                      "description": "Category name in the warehouse from the warehouse-code header. Used only when category_id is not provided. If invalid, the field is ignored. [OPTIONAL]",
                      "maxLength": 255
                    },
                    "low_threshold": {
                      "type": "integer",
                      "description": "Threshold number of stocks for this product in warehouse. Note: Default will be 1 if not given [OPTIONAL]",
                      "minimum": 0
                    },
                    "buffer_stock": {
                      "type": "integer",
                      "description": "Buffer stock for this product. Note: Default will be 1 if not given [OPTIONAL]",
                      "minimum": 0
                    },
                    "min_no_of_units": {
                      "type": "integer",
                      "description": "Min no units for this product. Note: Default will be 1 if not given [OPTIONAL]",
                      "minimum": 1
                    },
                    "max_no_of_units": {
                      "type": "integer",
                      "description": "Max no units for this product. Note: Default will be 1 if not given [OPTIONAL]",
                      "minimum": 1
                    },
                    "enabled_udfs": {
                      "type": "string",
                      "description": "UDF field names which can be enabled for this product. Separate by comma. [OPTIONAL]",
                      "maxLength": 255
                    },
                    "packaging_material_id": {
                      "type": "integer",
                      "description": "ID of the packing material to associate with this product. Must match an existing packing material in the warehouse from the warehouse-code header. If invalid, the field is ignored. Takes precedence over packaging_material_name when both are provided. [OPTIONAL]"
                    },
                    "packaging_material_name": {
                      "type": "string",
                      "description": "Name of the packing material to associate with this product. Must match an existing packing material name in the warehouse from the warehouse-code header. If invalid, the field is ignored. [OPTIONAL]"
                    },
                    "product_sales_informations_attributes": {
                      "type": "array",
                      "description": "Sales information. If omitted, WMS will create a default record with 1.0 price and company currency. [OPTIONAL]",
                      "items": {
                        "required": [
                          "currency_code"
                        ],
                        "properties": {
                          "currency_code": {
                            "type": "string",
                            "description": "Currency used for this product (eg: INR for India) [REQUIRED]",
                            "maxLength": 10
                          },
                          "selling_price": {
                            "type": "decimal",
                            "description": "Selling price for this product [OPTIONAL]",
                            "minimum": 0
                          },
                          "retail_price": {
                            "type": "decimal",
                            "description": "Retail price for this product [OPTIONAL]",
                            "minimum": 0
                          },
                          "cost_price": {
                            "type": "decimal",
                            "description": "Cost price for this product [REQUIRED]",
                            "minimum": 0
                          },
                          "uom_code": {
                            "type": "string",
                            "description": "Unit of measurement code for which these prices are applicable. (If not given base uom will be considered) [OPTIONAL]",
                            "maxLength": 20
                          }
                        }
                      }
                    },
                    "product_dimensions_attributes": {
                      "type": "array",
                      "description": "Product dimensions and UPCs. If omitted, WMS will create a default record with 1x1x1x1 dimensions. [OPTIONAL]",
                      "items": {
                        "required": [],
                        "properties": {
                          "upc": {
                            "type": "string",
                            "description": "Universal Product Code (Barcode). If not given WMS will generate one. [OPTIONAL]",
                            "maxLength": 255
                          },
                          "uom_code": {
                            "type": "string",
                            "description": "Unit of measurement [OPTIONAL]",
                            "maxLength": 20
                          },
                          "length_cm": {
                            "type": "integer",
                            "description": "Length in CM [OPTIONAL, default: 1]",
                            "minimum": 0
                          },
                          "width_cm": {
                            "type": "integer",
                            "description": "Width in CM [OPTIONAL, default: 1]",
                            "minimum": 0
                          },
                          "height_cm": {
                            "type": "integer",
                            "description": "Height in CM [OPTIONAL, default: 1]",
                            "minimum": 0
                          },
                          "weight_gm": {
                            "type": "integer",
                            "description": "Weight in GM [OPTIONAL, default: 1]",
                            "minimum": 0
                          },
                          "no_of_units": {
                            "type": "integer",
                            "description": "No Of Units [OPTIONAL, default: 1]",
                            "minimum": 1
                          }
                        }
                      }
                    },
                    "product_price_tiers_attributes": {
                      "type": "array",
                      "description": "Tiered pricing for bulk orders [OPTIONAL]",
                      "items": {
                        "required": [
                          "min_units",
                          "unit_selling_price"
                        ],
                        "properties": {
                          "max_units": {
                            "type": "integer",
                            "description": "Maximum units for this tier [OPTIONAL]"
                          },
                          "min_units": {
                            "type": "integer",
                            "description": "Minimum units for this tier [REQUIRED]"
                          },
                          "unit_selling_price": {
                            "type": "number",
                            "description": "Selling price for this tier [REQUIRED]"
                          },
                          "tag": {
                            "type": "string",
                            "description": "Tag for the price tier (e.g., Wholesale) [OPTIONAL]",
                            "maxLength": 80
                          }
                        }
                      }
                    },
                    "product_uoms_attributes": {
                      "type": "array",
                      "description": "Multi-UOM configuration for the product [OPTIONAL]",
                      "items": {
                        "required": [
                          "uom_code",
                          "conversion_factor"
                        ],
                        "properties": {
                          "uom_code": {
                            "type": "string",
                            "description": "Unit of Measurement code [REQUIRED]",
                            "maxLength": 20
                          },
                          "barcode": {
                            "type": "string",
                            "description": "UPC/Barcode for this UOM [OPTIONAL]",
                            "maxLength": 255
                          },
                          "conversion_factor": {
                            "type": "number",
                            "description": "Conversion factor relative to base UOM [REQUIRED]",
                            "minimum": 0.0001
                          }
                        }
                      }
                    },
                    "product_additional_field_attributes": {
                      "type": "object",
                      "description": "Additional custom fields values [OPTIONAL]",
                      "properties": {
                        "values": {
                          "type": "string",
                          "description": "JSON string of additional field values [OPTIONAL]"
                        }
                      }
                    },
                    "product_shelf_life_attributes": {
                      "type": "object",
                      "properties": {
                        "product_life": {
                          "type": "integer",
                          "description": "Product Life in Days [OPTIONAL]"
                        },
                        "inbound_life": {
                          "type": "integer",
                          "description": "Inbound Life in Days [OPTIONAL]"
                        },
                        "outbound_life": {
                          "type": "integer",
                          "description": "Outbound Life in Days [OPTIONAL]"
                        }
                      }
                    },
                    "product_localizations_attributes": {
                      "type": "array",
                      "items": {
                        "required": [
                          "country_iso",
                          "name"
                        ],
                        "properties": {
                          "country_iso": {
                            "type": "string",
                            "description": "Country iso(eg: IN for india) [REQUIRED]",
                            "maxLength": 2,
                            "pattern": "^[A-Z]{2}$"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of Product in above country language [REQUIRED]",
                            "maxLength": 255
                          },
                          "mark_as_default": {
                            "type": "boolean",
                            "description": "Use this Name in WMS if true [OPTIONAL]"
                          }
                        }
                      }
                    },
                    "product_hs_attributes": {
                      "type": "array",
                      "description": "Note:: If no country provided then entered Hs code will be considered as default for all countries",
                      "items": {
                        "required": [
                          "hs_code"
                        ],
                        "properties": {
                          "country_iso": {
                            "type": "string",
                            "description": "Country iso(eg: IN for india) [OPTIONAL]"
                          },
                          "hs_code": {
                            "type": "string",
                            "description": "HS Tariff code [REQUIRED]"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "product"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "Product created | Warehouse product created",
                  "description": "Warehouse product(product lisiting in respective warehouse) create if not created"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "failure"
                },
                "message": {
                  "type": "string",
                  "example": "Product could not be created"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "This will contain possible errors"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "failure"
                },
                "message": {
                  "type": "string",
                  "example": "Internal server error"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "example": "Signature verification raised | Nil JSON web token"
                }
              }
            }
          }
        },
        "operationId": "post_rest_v2_customers_customer_code_products"
      },
      "get": {
        "summary": "Get products",
        "tags": [
          "[V2] Product APIs"
        ],
        "description": "Use this API to fetch a list of Products.\n\n<b>Copy & Paste the URL below in the Request URL:</b>\n<pre>\n/rest/v2/customers/{customer_code}/products\n</pre>\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer/Company code [REQUIRED]"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code [REQUIRED]"
          }
        ],
        "responses": {
          "200": {
            "description": "Index - Products successfully fetched",
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "string",
                  "example": "success"
                },
                "status_code": {
                  "type": "integer",
                  "example": "1000"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Product ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the product",
                        "maxLength": 255,
                        "minLength": 2
                      },
                      "sku": {
                        "type": "string",
                        "description": "Sku of this product",
                        "maxLength": 255
                      },
                      "mfupc": {
                        "type": "string",
                        "description": "Mfupc of this product"
                      },
                      "product_type": {
                        "type": "string",
                        "description": "Type of product",
                        "enum": [
                          "product",
                          "parent_product",
                          "sample_product",
                          "kit_product",
                          "packaging_material"
                        ]
                      },
                      "unique_serial_no": {
                        "type": "boolean",
                        "description": "Product will be uniquelly identified using unique serial number if true"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Product creation date"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Product updation date"
                      },
                      "imei_number": {
                        "type": "boolean",
                        "description": "Product will be uniquelly identified using IMEI number if true"
                      },
                      "batch_management": {
                        "type": "boolean",
                        "description": "Product support  batch_management if true"
                      },
                      "expiry_management": {
                        "type": "boolean",
                        "description": "Product managed by expiry."
                      },
                      "remark": {
                        "type": "string",
                        "description": "Remark of this product"
                      },
                      "stock_take_cycle": {
                        "type": "boolean",
                        "description": "Product will go under periodic cycle stock take if true"
                      },
                      "stock_take_cycle_days": {
                        "type": "integer",
                        "description": "Frequency of cycle stock take in days"
                      },
                      "enabled_udfs": {
                        "type": "string",
                        "description": "UDF field names which can be enabled for this product"
                      },
                      "state": {
                        "type": "string",
                        "description": "State of this product"
                      },
                      "packaging_material_id": {
                        "type": "integer",
                        "description": "Packaging material ID"
                      },
                      "outbound_batch": {
                        "type": "boolean",
                        "description": "Product Outbound batch"
                      },
                      "outbound_expiry": {
                        "type": "boolean",
                        "description": "Product Outbound expiry"
                      },
                      "outbound_serial_number": {
                        "type": "boolean",
                        "description": "Product Outbound serial number"
                      },
                      "parent_id": {
                        "type": "integer",
                        "description": "Parent product ID"
                      },
                      "base_uom": {
                        "type": "object",
                        "properties": {
                          "display_name": {
                            "type": "string",
                            "description": "Display name of UOM"
                          },
                          "code": {
                            "type": "string",
                            "description": "UOM code"
                          }
                        }
                      },
                      "product_sales_information": {
                        "type": "object",
                        "properties": {
                          "cost_price": {
                            "type": "number",
                            "description": "Cost price"
                          },
                          "selling_price": {
                            "type": "number",
                            "description": "Selling price"
                          },
                          "retail_price": {
                            "type": "number",
                            "description": "Retail price"
                          }
                        }
                      }
                    },
                    "type": "object"
                  }
                },
                "meta": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "get_rest_v2_customers_customer_code_products"
      }
    },
    "/rest/v2/customers/{customer_code}/products/{sku}": {
      "parameters": [
        {
          "name": "customer_code",
          "in": "path",
          "type": "string",
          "required": true,
          "description": "Customer/Company code"
        }
      ],
      "put": {
        "summary": "Update product",
        "tags": [
          "[V2] Product APIs"
        ],
        "description": "Use this API to update an existing Product in Anchanto WMS.\n\n<b>Copy & Paste the JSON below in the Request Body:</b>\n<pre>\n{\n  \\\"product\\\": {\n    \\\"name\\\": \\\"Wireless Mouse V2\\\",\n    \\\"product_sales_informations_attributes\\\": [\n      {\n        \\\"currency_code\\\": \\\"USD\\\",\n        \\\"selling_price\\\": 28.00\n      }\n    ]\n  }\n}\n</pre>\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer/Company code [REQUIRED]"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code [REQUIRED]"
          },
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Sku of product to be updated [REQUIRED]"
          },
          {
            "name": "params",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "product": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the product [OPTIONAL]"
                    },
                    "supplier_code": {
                      "type": "string",
                      "description": "Supplier code at WMS, if any supplier for this product [OPTIONAL]"
                    },
                    "brand_code": {
                      "type": "string",
                      "description": "Brand code at WMS [OPTIONAL]"
                    },
                    "storage_type": {
                      "type": "string",
                      "description": "Type of storage required to store this product [OPTIONAL]",
                      "enum": [
                        "temp_controlled",
                        "standard",
                        "flammable"
                      ]
                    },
                    "product_type": {
                      "type": "string",
                      "description": "Type of product [OPTIONAL]",
                      "enum": [
                        "product",
                        "parent_product",
                        "sample_product",
                        "kit_product",
                        "packaging_material"
                      ]
                    },
                    "mfupc": {
                      "type": "string",
                      "description": "Mfupc of this product [OPTIONAL]"
                    },
                    "unique_serial_no": {
                      "type": "boolean",
                      "description": "Product will be uniquelly identified using unique serial number if true [OPTIONAL]"
                    },
                    "imei_number": {
                      "type": "boolean",
                      "description": "Product will be uniquelly identified using IMEI number if true [OPTIONAL]"
                    },
                    "batch_management": {
                      "type": "boolean",
                      "description": "Product support  batch_management if true [OPTIONAL]"
                    },
                    "expiry_management": {
                      "type": "boolean",
                      "description": "Product managed by expiry. Note: if this is true then batch_management automatically get selected [OPTIONAL]"
                    },
                    "temperature_scale": {
                      "type": "string",
                      "description": "Temperature scale [OPTIONAL]",
                      "enum": [
                        "c",
                        "f"
                      ]
                    },
                    "temperature_unit": {
                      "type": "integer",
                      "description": "Temperature unit [OPTIONAL]"
                    },
                    "outbound_serial_number": {
                      "type": "boolean",
                      "description": "Indicates if outbound serial numbers are required [OPTIONAL]"
                    },
                    "base_uom_code": {
                      "type": "string",
                      "description": "This is base unit of measurement code [OPTIONAL]"
                    },
                    "stock_take_cycle": {
                      "type": "boolean",
                      "description": "Product will go under periodic cycle stock take if true [OPTIONAL]"
                    },
                    "stock_take_cycle_days": {
                      "type": "integer",
                      "description": "Frequency of cycle stock take in days [OPTIONAL]"
                    },
                    "country_of_origin_iso": {
                      "type": "string",
                      "description": "Iso(2 letter) of country of origin of this product [OPTIONAL]",
                      "maxLength": 2,
                      "pattern": "^[A-Z]{2}$"
                    },
                    "category_id": {
                      "type": "integer",
                      "description": "Category ID in the warehouse from the warehouse-code header. If invalid, the field is ignored. Takes precedence over category_name. [OPTIONAL]"
                    },
                    "category_name": {
                      "type": "string",
                      "description": "Category name in the warehouse from the warehouse-code header. Used only when category_id is not provided. If invalid, the field is ignored. [OPTIONAL]",
                      "maxLength": 255
                    },
                    "low_threshold": {
                      "type": "integer",
                      "description": "Threshold number of stocks for this product in warehouse [OPTIONAL]"
                    },
                    "buffer_stock": {
                      "type": "integer",
                      "description": "Buffer stock for this product [OPTIONAL]"
                    },
                    "min_no_of_units": {
                      "type": "integer",
                      "description": "Min no units for this product [OPTIONAL]"
                    },
                    "max_no_of_units": {
                      "type": "integer",
                      "description": "Max no units for this product [OPTIONAL]"
                    },
                    "enabled_udfs": {
                      "type": "string",
                      "description": "UDF field names which can be enabled for this product. Separate by comma. [OPTIONAL]",
                      "maxLength": 255
                    },
                    "packaging_material_id": {
                      "type": "integer",
                      "description": "ID of the packing material to associate with this product. Must match an existing packing material in the warehouse from the warehouse-code header. If invalid, the field is ignored. Takes precedence over packaging_material_name when both are provided. [OPTIONAL]"
                    },
                    "packaging_material_name": {
                      "type": "string",
                      "description": "Name of the packing material to associate with this product. Must match an existing packing material name in the warehouse from the warehouse-code header. If invalid, the field is ignored. [OPTIONAL]"
                    },
                    "product_sales_informations_attributes": {
                      "type": "array",
                      "items": {
                        "required": [
                          "currency_code",
                          "cost_price"
                        ],
                        "properties": {
                          "currency_code": {
                            "type": "string",
                            "description": "Currency used for this product (eg: INR for India) [REQUIRED]"
                          },
                          "selling_price": {
                            "type": "decimal",
                            "description": "Selling price for this product [OPTIONAL]"
                          },
                          "retail_price": {
                            "type": "decimal",
                            "description": "Retail price for this product [OPTIONAL]"
                          },
                          "cost_price": {
                            "type": "decimal",
                            "description": "Cost price for this product [REQUIRED]"
                          },
                          "uom_code": {
                            "type": "string",
                            "description": "Unit of measurement code for which these prices are applicable. (If not given base uom will be considered) [OPTIONAL]"
                          },
                          "new_record": {
                            "type": "boolean",
                            "description": "New SalesInformation to create/not [OPTIONAL]"
                          },
                          "record_id": {
                            "type": "integer",
                            "description": "Product SalesInformation Id To Update [OPTIONAL]"
                          }
                        }
                      }
                    },
                    "product_dimensions_attributes": {
                      "type": "array",
                      "items": {
                        "required": [
                          "length_cm",
                          "width_cm",
                          "height_cm",
                          "weight_gm",
                          "no_of_units"
                        ],
                        "properties": {
                          "uom_code": {
                            "type": "string",
                            "description": "Unit of measurement [OPTIONAL]"
                          },
                          "upc": {
                            "type": "string",
                            "description": "Universal product code"
                          },
                          "length_cm": {
                            "type": "integer",
                            "description": "Length in CM [REQUIRED]"
                          },
                          "width_cm": {
                            "type": "integer",
                            "description": "Width in CM [REQUIRED]"
                          },
                          "height_cm": {
                            "type": "integer",
                            "description": "Height in CM [REQUIRED]"
                          },
                          "weight_gm": {
                            "type": "integer",
                            "description": "Weight in GM [REQUIRED]"
                          },
                          "no_of_units": {
                            "type": "integer",
                            "description": "No Of Units [REQUIRED]"
                          },
                          "new_record": {
                            "type": "boolean",
                            "description": "New Dimension to create/not [OPTIONAL]"
                          },
                          "record_id": {
                            "type": "integer",
                            "description": "Product Dimension Id To Update [OPTIONAL]"
                          }
                        }
                      }
                    },
                    "product_shelf_life_attributes": {
                      "type": "object",
                      "properties": {
                        "product_life": {
                          "type": "integer",
                          "description": "Product Life in Days [OPTIONAL]"
                        },
                        "inbound_life": {
                          "type": "integer",
                          "description": "Inbound Life in Days [OPTIONAL]"
                        },
                        "outbound_life": {
                          "type": "integer",
                          "description": "Outbound Life in Days [OPTIONAL]"
                        }
                      }
                    },
                    "product_localizations_attributes": {
                      "type": "array",
                      "items": {
                        "required": [
                          "country_iso",
                          "name"
                        ],
                        "properties": {
                          "country_iso": {
                            "type": "string",
                            "description": "Country iso(eg: IN for india) [REQUIRED]"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of Product in above country language [REQUIRED]"
                          },
                          "mark_as_default": {
                            "type": "boolean",
                            "description": "Use this Name in WMS if true [OPTIONAL]"
                          }
                        }
                      }
                    },
                    "product_hs_attributes": {
                      "type": "array",
                      "description": "Note:: If no country provided then entered Hs code will be considered as default for all countries",
                      "items": {
                        "required": [
                          "hs_code"
                        ],
                        "properties": {
                          "country_iso": {
                            "type": "string",
                            "description": "Country iso(eg: IN for india) [OPTIONAL]",
                            "maxLength": 2,
                            "pattern": "^[A-Z]{2}$"
                          },
                          "hs_code": {
                            "type": "string",
                            "description": "HS Tariff code [REQUIRED]",
                            "maxLength": 30
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "product"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product successfully updated",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "Product updated"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "failure"
                },
                "message": {
                  "type": "string",
                  "example": "Product not found!"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "failure"
                },
                "message": {
                  "type": "string",
                  "example": "Product could not be updated"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "This will contain possible errors"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "failure"
                },
                "message": {
                  "type": "string",
                  "example": "Internal server error"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "example": "Signature verification raised | Nil JSON web token"
                }
              }
            }
          }
        },
        "operationId": "put_rest_v2_customers_customer_code_products_sku"
      },
      "get": {
        "summary": "Get Product Details",
        "tags": [
          "[V2] Product APIs"
        ],
        "description": "Use this API to fetch details of a specific Product.\n\n<b>Copy & Paste the URL below in the Request URL:</b>\n<pre>\n/rest/v2/customers/{customer_code}/products/{sku}\n</pre>\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer/Company code [REQUIRED]"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code [REQUIRED]"
          },
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Sku of product [REQUIRED]"
          }
        ],
        "responses": {
          "200": {
            "description": "Show - Product successfully fetched",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "123"
                    },
                    "type": {
                      "type": "string",
                      "example": "b2c_order_details"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Product ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the product",
                          "maxLength": 255,
                          "minLength": 2
                        },
                        "sku": {
                          "type": "string",
                          "description": "Sku of this product",
                          "maxLength": 255
                        },
                        "mfupc": {
                          "type": "string",
                          "description": "Mfupc of this product"
                        },
                        "product_type": {
                          "type": "string",
                          "description": "Type of product",
                          "enum": [
                            "product",
                            "parent_product",
                            "sample_product",
                            "kit_product",
                            "packaging_material"
                          ]
                        },
                        "unique_serial_no": {
                          "type": "boolean",
                          "description": "Product will be uniquelly identified using unique serial number if true"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Product creation date"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Product updation date"
                        },
                        "imei_number": {
                          "type": "boolean",
                          "description": "Product will be uniquelly identified using IMEI number if true"
                        },
                        "batch_management": {
                          "type": "boolean",
                          "description": "Product support  batch_management if true"
                        },
                        "expiry_management": {
                          "type": "boolean",
                          "description": "Product managed by expiry."
                        },
                        "remark": {
                          "type": "string",
                          "description": "Remark of this product"
                        },
                        "stock_take_cycle": {
                          "type": "boolean",
                          "description": "Product will go under periodic cycle stock take if true"
                        },
                        "stock_take_cycle_days": {
                          "type": "integer",
                          "description": "Frequency of cycle stock take in days"
                        },
                        "enabled_udfs": {
                          "type": "string",
                          "description": "UDF field names which can be enabled for this product"
                        },
                        "state": {
                          "type": "string",
                          "description": "State of this product"
                        },
                        "packaging_material_id": {
                          "type": "integer",
                          "description": "Packaging material ID"
                        },
                        "outbound_batch": {
                          "type": "boolean",
                          "description": "Product Outbound batch"
                        },
                        "outbound_expiry": {
                          "type": "boolean",
                          "description": "Product Outbound expiry"
                        },
                        "outbound_serial_number": {
                          "type": "boolean",
                          "description": "Product Outbound serial number"
                        },
                        "parent_id": {
                          "type": "integer",
                          "description": "Parent product ID"
                        },
                        "base_uom": {
                          "type": "object",
                          "properties": {
                            "display_name": {
                              "type": "string",
                              "description": "Display Name of Base unit of measurement",
                              "minLength": 2
                            },
                            "code": {
                              "type": "string",
                              "description": "Code of Base unit of measurement",
                              "maxLength": 40,
                              "minLength": 2
                            }
                          }
                        },
                        "product_sales_information": {
                          "type": "object",
                          "properties": {
                            "cost_price": {
                              "type": "integer",
                              "description": "Cost price of this product"
                            },
                            "selling_price": {
                              "type": "integer",
                              "description": "Selling price of this product"
                            },
                            "retail_price": {
                              "type": "integer",
                              "description": "Retail price of this product"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "summary": {
                  "type": "string"
                },
                "status_code": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "operationId": "get_rest_v2_customers_customer_code_products_sku"
      }
    },
    "/rest/v2/customers/{customer_code}/products/stocks": {
      "parameters": [
        {
          "name": "customer_code",
          "in": "path",
          "type": "string",
          "required": true,
          "description": "Customer/Company code"
        }
      ],
      "post": {
        "summary": "Fetch available stock of products",
        "tags": [
          "[V2] Product APIs"
        ],
        "description": "Use this API to fetch stock of the products in Anchanto WMS. By calling this API, users can retrieve information about the current inventory levels of various products in the warehouse.\n\n      ### \ud83d\udccb Request Template (Copy & Paste)\n      ```json\n      {\n        \"fetch\": [\n          { \"sku\": \"SKU123\" },\n          { \"sku\": \"SKU456\" }\n        ]\n      }\n      ```\n      ",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer/Company code"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code [REQUIRED]"
          },
          {
            "name": "params",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "fetch": {
                  "type": "array",
                  "items": {
                    "required": [
                      "sku"
                    ],
                    "properties": {
                      "sku": {
                        "type": "string",
                        "description": "Sku of the product"
                      }
                    }
                  }
                }
              },
              "required": [
                "fetch"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stock fetched OK",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "success",
                  "value": "success"
                },
                "message": {
                  "type": "string",
                  "example": "",
                  "value": "Empty string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "response": {
                        "type": "string",
                        "example": "success",
                        "value": "success/failure"
                      },
                      "message": {
                        "type": "string",
                        "example": "Stock fetched",
                        "value": "Could not fetch stocks/Stock fetched"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string",
                            "description": "Product SKU",
                            "maxLength": 255
                          },
                          "available_stock": {
                            "type": "integer",
                            "description": "Value would be null if there is error in fetching stocks"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "It would be empty if stock fetched otherwise possible errors"
                            },
                            "description": "Errors if stock retrieval fails"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "failure"
                },
                "message": {
                  "type": "string",
                  "example": "Internal server error"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "example": "Signature verification raised | Nil JSON web token",
                  "value": "Signature verification raised | Nil JSON web token"
                }
              }
            }
          }
        },
        "operationId": "post_rest_v2_customers_customer_code_products_stocks"
      }
    },
    "/rest/v2/customers/{customer_code}/products/fetch": {
      "parameters": [
        {
          "name": "customer_code",
          "in": "path",
          "type": "string",
          "required": true,
          "description": "Customer/Company code"
        }
      ],
      "post": {
        "summary": "Fetch products",
        "tags": [
          "[V2] Product APIs"
        ],
        "description": "Use this API to fetch product details based on various filter criteria.\n\n<b>Copy & Paste the JSON below in the Request Body:</b>\n<pre>\n{\n  \\\"CreateAfter\\\": \\\"2023-01-01T00:00:00Z\\\",\n  \\\"Limit\\\": 10,\n  \\\"Offset\\\": 0\n}\n</pre>\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer/Company code [REQUIRED]"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code [REQUIRED]"
          },
          {
            "name": "params",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [],
              "properties": {
                "CreateAfter": {
                  "type": "string",
                  "description": "Product Created After this DateTime [OPTIONAL]"
                },
                "CreatedBefore": {
                  "type": "string",
                  "description": "Product Created Before this DateTime [OPTIONAL]"
                },
                "UpdatedAfter": {
                  "type": "string",
                  "description": "Product Updated After this DateTime [OPTIONAL]"
                },
                "UpdatedBefore": {
                  "type": "string",
                  "description": "Product Updated Before this DateTime [OPTIONAL]"
                },
                "Limit": {
                  "type": "integer",
                  "description": "Limit of response [OPTIONAL]"
                },
                "Offset": {
                  "type": "integer",
                  "description": "Offset of response [OPTIONAL]"
                },
                "skus": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of skus in company [OPTIONAL]"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product successfully fetched",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "enum": [
                    "success"
                  ],
                  "description": "Response status"
                },
                "message": {
                  "type": "string",
                  "example": "Products fetched",
                  "description": "Products fetched"
                },
                "data": {
                  "type": "object",
                  "items": {
                    "type": "object",
                    "properties": {}
                  },
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "enum": [
                    "failure"
                  ],
                  "description": "Response status"
                },
                "message": {
                  "type": "string",
                  "example": "Product could not be fetched"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "This will contain possible errors"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "string",
                  "example": "failure"
                },
                "message": {
                  "type": "string",
                  "example": "Internal server error"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "example": "Signature verification raised | Nil JSON web token"
                }
              }
            }
          }
        },
        "operationId": "post_rest_v2_customers_customer_code_products_fetch"
      }
    },
    "/rest/v2/customers/{customer_code}/products/stock_movement_history/{sku}": {
      "parameters": [
        {
          "name": "customer_code",
          "in": "path",
          "type": "string",
          "required": true,
          "description": "Customer/Company code"
        }
      ],
      "get": {
        "summary": "Get Stock Movement History",
        "tags": [
          "[V2] Product APIs"
        ],
        "description": "Use this API to fetch the stock movement history of a specific Product.\n\nNote: Live V2 company route is not mounted; use V1\n`/rest/v1/products/stock_movement_history/{sku}` until a V2 company route exists.\n\n<b>Copy & Paste the URL below in the Request URL:</b>\n<pre>\n/rest/v2/customers/{customer_code}/products/stock_movement_history/{sku}?page[number]=1&page[size]=10&start_date=1/1/2023&end_date=12/31/2023\n</pre>\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Authorization Token"
          },
          {
            "name": "customer_code",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer/Company code [REQUIRED]"
          },
          {
            "name": "warehouse-code",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "Warehouse Code [REQUIRED]"
          },
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Sku of product [REQUIRED]"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Start date (M/D/YYYY) [OPTIONAL]"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "End date (M/D/YYYY) [OPTIONAL]"
          },
          {
            "name": "page_number",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Page number [OPTIONAL]"
          },
          {
            "name": "page_size",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Page size [OPTIONAL]"
          }
        ],
        "responses": {
          "200": {
            "description": "No stock movements found",
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "string",
                  "description": "Success message",
                  "example": "Success"
                },
                "status_code": {
                  "type": "integer",
                  "description": "Response status code",
                  "example": 1000
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "Date of stock movement",
                        "example": "29 Mar, 2022"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of movement",
                        "example": "Opening Balance"
                      },
                      "remarks": {
                        "type": "string",
                        "description": "Remarks for the stock movement",
                        "example": "Stock on the first day of the month"
                      },
                      "uom": {
                        "type": "string",
                        "description": "Unit of measurement",
                        "example": "Pieces"
                      },
                      "location": {
                        "type": "string",
                        "description": "Location of stock movement",
                        "example": "-"
                      },
[...]
