{"swagger":"2.0","info":{"version":"0.2","title":"eton WMS API","description":"# Introduction\n\neton WMS External API enables clients to integrate their systems directly with eton's warehouse management platform. Once connected, order data is synchronized in near real-time — allowing eton to fulfill orders with minimal lead time and maximum accuracy.\n\nThe API also allows eton to share live inventory information with clients across the network, including brand manufacturers and retailers.\n\nThis portal provides technical guidance to help you integrate quickly and confidently. There are two integration surfaces:\n\n\n### External API\n\nA RESTful API for creating and managing operational resources such as Sale Orders and Purchase Orders, as well as retrieving reference data including products, addresses, inventory, and more.\n\n\n### Webhook API\n\nAn event-driven notification system that delivers HTTP POST callbacks from eton to your registered endpoint whenever a relevant event occurs. The request body contains a JSON payload describing the event.\n\nSee the full <a href=\"https://docs.google.com/document/d/1MdKd0HTTej5pjVm4I_NtyZW96zSynltWN98EGzwld1A/edit?usp=sharing\" target=\"_blank\">Webhook documentation</a> for event types and payload schemas.\n\n## Authorization\n\neton WMS External API uses **OAuth 2.0 Client Credentials** flow. Request a Bearer access token from the eton identity server and include it in the `Authorization` header of every API call.\n\n### Token Endpoint\n\n`POST {STS_HOST}/connect/token/`\n\n> Contact eton support to obtain the correct `STS_HOST` URL for your environment (UAT or Production).\n\n### Request Parameters\n\n| Field | Type | Description |\n|---|---|---|\n| `grant_type` | String | Must be `client_credentials` |\n| `scope` | String | Must be `externalapi` |\n| `client_id` | String | Your Client ID, issued by eton |\n| `client_secret` | String | Your Client Secret, issued by eton |\n\n### Success Response (200)\n\n| Field | Type | Description |\n|---|---|---|\n| `access_token` | String | Bearer token to include in every API request |\n| `expires_in` | Number | Token lifetime in **seconds** from the time of issue |\n| `token_type` | String | Always `Bearer` |\n\n```json\n{\n  \"access_token\": \"eyJ0eXAiOiJKV1Qi...\",\n  \"expires_in\": 86400,\n  \"token_type\": \"Bearer\"\n}\n```\n\n### Using the Token\n\nPass the token in the `Authorization` header of every request:\n\n```\nAuthorization: Bearer <access_token>\n```\n\n> Tokens expire after `expires_in` seconds. Request a new token before it expires to avoid `401 Unauthorized` errors on subsequent calls.\n\n### Errors\n\n| 400 Bad Request | Invalid `client_id` or `client_secret` |\n| 401 Unauthorized | Token is missing, expired, or invalid |\n\n## Security & IP Whitelisting\n\nTo ensure maximum security, eton WMS External API enforces **IP Whitelisting** in addition to OAuth 2.0 authentication.\n\n*   **Requirement:** All integration partners must provide their public static IP addresses (or CIDR ranges) to the eton support team.\n*   **Enforcement:** Any request originating from an IP address not present in the whitelist will be rejected with a `403 Forbidden` error, even if a valid Bearer token is provided.\n*   **Update Process:** If your system's outgoing IP changes, please notify eton support immediately to update your whitelist and avoid service interruption.\n","contact":{"name":"eton support","email":"support@eton.vn"}},"host":"api.eton.vn","paths":{"/api/v0.2/address/schemes":{"get":{"tags":["Address"],"summary":"Get address scheme definitions","description":"Returns the two supported address schemes and their GEO lookup hierarchy.\r\n            \r\n**ADM3** — Province-level addressing (no district):\r\n            \r\n    Country → Province → Ward\r\n            \r\nLookup flow:\r\n1. GET /address/countries\r\n2. GET /address/{countryId}/provinces\r\n3. GET /address/provinces/{provinceCode}/wards\r\n            \r\n**ADM4** — District-level addressing:\r\n            \r\n    Country → Province → District → Ward\r\n            \r\nLookup flow:\r\n1. GET /address/countries\r\n2. GET /address/{countryId}/provinces\r\n3. GET /address/provinces/{provinceCode}/districts\r\n4. GET /address/districts/{districtCode}/wards","operationId":"GetAddressSchemes","consumes":[],"produces":[],"parameters":[],"responses":{"200":{"description":"Success"}}}},"/api/v0.2/address/countries":{"get":{"tags":["Address"],"summary":"Get Countries","operationId":"PagingCountries","consumes":[],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Addresses.PagingCountriesModelResult"},"examples":{"application/json":{"TotalPages":1,"TotalRecords":1,"PageIndex":1,"RecordsPerPage":20,"Data":[{"Id":"VN","Name":"Việt Nam"}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/address/{countryId}/provinces":{"get":{"tags":["Address"],"summary":"Get Provinces","operationId":"PagingProvinces","consumes":[],"produces":["application/json"],"parameters":[{"name":"countryId","in":"path","description":"Country Id. Refer [Countries](#operation/PagingCountries)","required":true,"type":"string"},{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Addresses.PagingProvincesModelResult"},"examples":{"application/json":{"TotalPages":1,"TotalRecords":1,"PageIndex":1,"RecordsPerPage":20,"Data":[{"Code":"01","Name":"Thành phố Hà Nội"}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/address/provinces/{provinceCode}/wards":{"get":{"tags":["Address"],"summary":"Get Wards by Province (ADM3)","description":"**ADM3 scheme.** Returns all wards that belong to the given province.\r\n            \r\nUse this endpoint when building an ADM3 address — wards are selected directly\r\nunder the province with no district intermediary.\r\n            \r\nFor ADM4 addresses, use `GET /address/districts/{districtCode}/wards` instead.","operationId":"PagingWardsByProvince","consumes":[],"produces":["application/json"],"parameters":[{"name":"provinceCode","in":"path","description":"Province code. Refer [Provinces](#operation/PagingProvinces)","required":true,"type":"string"},{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Addresses.PagingWardsByProvinceModelResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/address/provinces/{provinceCode}/districts":{"get":{"tags":["Address"],"summary":"Get Districts by Province (ADM4)","description":"**ADM4 scheme.** Returns districts that belong to the given province.\r\n            \r\nUse the returned district codes to call `GET /address/districts/{districtCode}/wards`\r\nfor the next step in ADM4 address building.\r\n            \r\nFor ADM3 addresses, skip this step and use `GET /address/provinces/{provinceCode}/wards` directly.","operationId":"PagingDistricts","consumes":[],"produces":["application/json"],"parameters":[{"name":"provinceCode","in":"path","description":"Province code. Refer [Provinces](#operation/PagingProvinces)","required":true,"type":"string"},{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Addresses.PagingDistrictsModelResult"},"examples":{"application/json":{"TotalPages":1,"TotalRecords":1,"PageIndex":1,"RecordsPerPage":20,"Data":[{"Code":"760","Name":"Quận 1"},{"Code":"761","Name":"Quận 12"}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/address/districts/{districtCode}/wards":{"get":{"tags":["Address"],"summary":"Get Wards by District (ADM4)","description":"**ADM4 scheme.** Returns wards that belong to the given district.\r\n            \r\nFor ADM3 addresses, use `GET /address/provinces/{provinceCode}/wards` instead —\r\nwards are selected directly under the province with no district step.","operationId":"PagingWards","consumes":[],"produces":["application/json"],"parameters":[{"name":"districtCode","in":"path","description":"District code. Refer [Districts](#operation/PagingDistricts)","required":true,"type":"string"},{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Addresses.PagingWardsModelResult"},"examples":{"application/json":{"TotalPages":1,"TotalRecords":1,"PageIndex":1,"RecordsPerPage":20,"Data":[{"Code":"26734","Name":"Phường Tân Định"},{"Code":"26737","Name":"Phường Đa Kao"}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/brands/{code}":{"get":{"tags":["Brand"],"summary":"Get Brand By Code","operationId":"GetBrandByCode","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Brands.GetBrandByCodeModelResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"put":{"tags":["Brand"],"summary":"Update Brand","operationId":"UpdateBrand","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Brand Code","required":true,"type":"string"},{"name":"model","in":"body","description":"Brand Updating Model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Brands.UpdateBrandModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"delete":{"tags":["Brand"],"summary":"Delete Brand","operationId":"DeleteBrand","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Brand Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/brands":{"get":{"tags":["Brand"],"summary":"Get Available Brands","operationId":"GetBrands","consumes":[],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Brands.PagingBrandsModelResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"post":{"tags":["Brand"],"summary":"Create New Brand","operationId":"CreateBrand","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Brand Creating Model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Brands.CreateSingleBrandModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/categories":{"get":{"tags":["Category"],"summary":"Get Product Categories","operationId":"PagingCategories","consumes":[],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Categories.PagingCategoriesModelResult"},"examples":{"application/json":{"TotalPages":1,"TotalRecords":1,"PageIndex":1,"RecordsPerPage":20,"Data":[{"Code":"BOOK","Name":"Book","ClientId":1,"ParentId":null}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"post":{"tags":["Category"],"summary":"Create New Category","operationId":"CreateCategory","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Category creating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Categories.CreateSingleCategoryModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/categories/{code}":{"get":{"tags":["Category"],"summary":"Get Category By Code","operationId":"GetByCode","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Category code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Categories.GetCategoryByCodeModelResult"},"examples":{"application/json":{"Id":2,"Code":"BOOK","Name":"Book","ParentId":1,"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"put":{"tags":["Category"],"summary":"Update Category","operationId":"UpdateCategory","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Category code","required":true,"type":"string"},{"name":"model","in":"body","description":"Category updating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Categories.UpdateCategoryModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"delete":{"tags":["Category"],"summary":"Delete Category","operationId":"DeleteCategory","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Category code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/categories/{code}/attributes":{"post":{"tags":["Category"],"summary":"Create Category Attributes","operationId":"CreateAttributes","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Category code","required":true,"type":"string"},{"name":"model","in":"body","description":"Category Attributes creating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Categories.CreateAttributesModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/categories/{code}/units":{"post":{"tags":["Category"],"summary":"Add Units for Category","operationId":"CreateUnits","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Category code","required":true,"type":"string"},{"name":"model","in":"body","description":"Category Units creating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Categories.CreateUnitsModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/clientbranches":{"get":{"tags":["ClientBranch"],"summary":"Get Client Branches","operationId":"PagingClientBranch","consumes":[],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ClientBranches.PagingClientBranchModelResult"},"examples":{"application/json":{"TotalPages":13,"TotalRecords":25,"PageIndex":1,"RecordsPerPage":2,"Data":[{"Name":"MBV1","Code":"MBV1","IsActive":true,"ContactAddress":"Trần Quốc Thảo,  11, Phường 14, Quận 3, Hồ Chí Minh, Việt Nam","ContactPhone":"1234567890","ContactName":"MBV1","ShippingNote":null},{"Name":"MBV4","Code":"MBV4","IsActive":true,"ContactAddress":null,"ContactPhone":"1234567890","ContactName":"MBV4","ShippingNote":null}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"post":{"tags":["ClientBranch"],"summary":"Create New Branch","operationId":"CreateClientBranch","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Creating Branch model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ClientBranches.ClientBranchModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/clientbranches/{code}":{"get":{"tags":["ClientBranch"],"summary":"Get Client Branch By Code","operationId":"GetClientBranch","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Branch Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ClientBranches.ClientBranchDetailModelResult"},"examples":{"application/json":{"Name":"MBV1","Code":"MBV1","IsActive":true,"ContactAddress":"Trần Quốc Thảo,  11, Phường 14, Quận 3, Hồ Chí Minh, Việt Nam","ContactPhone":"1234567890","ContactName":"MBV1","ShippingNote":"Giao hàng hành chính, T2 -> T6. Gọi Mr A 0123xxxxxx"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"put":{"tags":["ClientBranch"],"summary":"Update Branch","operationId":"UpdateClientBranch","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Branch code","required":true,"type":"string"},{"name":"model","in":"body","description":"Branch updating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ClientBranch.UpdateClientBranchModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/clientbranches/{code}/activate":{"patch":{"tags":["ClientBranch"],"summary":"Activate Branch","operationId":"ActivateClientBranch","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Branch code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/clientbranches/{code}/deactivate":{"patch":{"tags":["ClientBranch"],"summary":"Deactivate Branch","operationId":"DeactivateClientBranch","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Branch code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/order/fulfill/pack":{"post":{"tags":["Fulfillment"],"summary":"Mark order item as packed","operationId":"OrderPacked","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"updateModel","in":"body","description":"Pack fulfillment model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.Fulfillment.FFMPackModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/order/readytoship":{"post":{"tags":["Fulfillment"],"summary":"Mark order as ready to ship","operationId":"OrderRTS","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"updateModel","in":"body","description":"Ready-to-ship fulfillment model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.Fulfillment.FFMRTSModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/order/delivering":{"post":{"tags":["Fulfillment"],"summary":"Mark order as out for delivery","operationId":"OrderDelivered","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"updateModel","in":"body","description":"Delivering fulfillment model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.Fulfillment.FFMDeliveringModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/order/delivered":{"post":{"tags":["Fulfillment"],"summary":"Mark order as delivered","operationId":"OrderDelivered","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"updateModel","in":"body","description":"Delivered fulfillment model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.Fulfillment.FFMDeliveredModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/order/failed_delivery":{"post":{"tags":["Fulfillment"],"summary":"Mark order as failed delivery","operationId":"OrderFailedDelivery","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"updateModel","in":"body","description":"Failed delivery fulfillment model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.Fulfillment.FFMFailedDeliveryModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/fulfillmentservices":{"get":{"tags":["FulfillmentService"],"summary":"Get Fulfillment Services","operationId":"GetFulfillmentServices","consumes":[],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.FulfillmentService.PagingFulfillmentServiceModelResult"},"examples":{"application/json":{"TotalPages":10,"TotalRecords":10,"PageIndex":1,"RecordsPerPage":1,"Data":[{"Code":"Pack2h","Name":" Đóng gói 2h","Duration":2,"CreatedDate":"2026-08-11T16:32:39.2996756+07:00"}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/fulfillmentservices/{code}":{"get":{"tags":["FulfillmentService"],"summary":"Get Fulfillment Service by Code","operationId":"GetFulfillmentServiceByCode","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Fulfillment Service Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.FulfillmentService.FulfillmentServiceQueryResultModel"},"examples":{"application/json":{"Code":"Pack2h","Name":" Đóng gói 2h","Duration":2,"CreatedDate":"2026-08-11T16:32:39.30207+07:00"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/{listsku}":{"get":{"tags":["Inventory"],"summary":"Get Inventories by SKUs","operationId":"GetInventoriesBySKU","consumes":[],"produces":["application/json"],"parameters":[{"name":"listsku","in":"path","description":"Comma-separated list of SKUs (e.g. SKU001,SKU002,SKU003)","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoryBySKUModelResult"},"examples":{"application/json":{"Data":[{"SKU":"0201aaatuk","ClientSKU":null,"ProductName":"c Quandd","InStock":40000,"Available":39938,"PendingIn":304,"PendingOut":62,"Reserved":100,"Allocated":1000,"CategoryName":"Novel","CategoryCode":"Novel","BrandName":"Hazaline","BrandCode":"HZ","BalanceDetails":{"01":{"1":{"ConditionTypeCode":"1","ConditionTypeName":"New","InStock":20000,"Available":19938,"PendingIn":152,"PendingOut":62,"Reserved":50,"Allocated":900}},"02":{"1":{"ConditionTypeCode":"1","ConditionTypeName":"New","InStock":20000,"Available":20000,"PendingIn":152,"PendingOut":0,"Reserved":50,"Allocated":100}}}}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/category/{categoryCode}":{"get":{"tags":["Inventory"],"summary":"Get Inventories by CategoryCode","operationId":"GetInventoriesByCategory","consumes":[],"produces":["application/json"],"parameters":[{"name":"categoryCode","in":"path","description":"Category Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoryBySKUModelResult"},"examples":{"application/json":{"Data":[{"SKU":"0201aaatuk","ClientSKU":null,"ProductName":"c Quandd","InStock":40000,"Available":39938,"PendingIn":304,"PendingOut":62,"Reserved":100,"Allocated":1000,"CategoryName":"Novel","CategoryCode":"Novel","BrandName":"Hazaline","BrandCode":"HZ","BalanceDetails":{"01":{"1":{"ConditionTypeCode":"1","ConditionTypeName":"New","InStock":20000,"Available":19938,"PendingIn":152,"PendingOut":62,"Reserved":50,"Allocated":900}},"02":{"1":{"ConditionTypeCode":"1","ConditionTypeName":"New","InStock":20000,"Available":20000,"PendingIn":152,"PendingOut":0,"Reserved":50,"Allocated":100}}}}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/search":{"post":{"tags":["Inventory"],"summary":"Get Inventories by Criteria","operationId":"GetInventories","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Search inventories model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoriesModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoriesModelResult"},"examples":{"application/json":{"Data":[{"SKU":"0201aaatuk","ClientSKU":null,"ProductName":"c Quandd","InStock":40000,"Available":39938,"PendingIn":304,"PendingOut":62,"Reserved":100,"Allocated":1000,"CategoryName":"Novel","CategoryCode":"Novel","BrandName":"Hazaline","ProductId":11,"BrandCode":"HZ","BalanceDetails":{"01":{"1":{"ConditionTypeCode":"1","ConditionTypeName":"New","InStock":20000,"Available":19938,"PendingIn":152,"PendingOut":62,"Reserved":50,"Allocated":900}},"02":{"1":{"ConditionTypeCode":"1","ConditionTypeName":"New","InStock":20000,"Available":20000,"PendingIn":152,"PendingOut":0,"Reserved":50,"Allocated":100}}}}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/audit":{"post":{"tags":["Inventory"],"summary":"Get Inventory Audit","operationId":"GetInventoryAuditByDate","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Data request Model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoryAuditByDateModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoryAuditByDateModelResult"},"examples":{"application/json":{"Data":[{"WarehouseId":1,"WarehouseCode":"11","WarehouseName":"Arya FC","SKU":"247403919355104","ConditionTypeCode":1,"ConditionTypeName":"New","Inbound":10.0,"Outbound":0.0,"InStock":10.0,"Available":10.0,"Reserved":100,"Allocated":1000,"CategoryName":"Novel","CategoryCode":"Novel","BrandName":"Hazaline","BrandCode":"HZ"},{"WarehouseId":1,"WarehouseCode":"11","WarehouseName":"Arya FC","SKU":"245835802328081","ConditionTypeCode":1,"ConditionTypeName":"New","Inbound":100.0,"Outbound":0.0,"InStock":100.0,"Available":99.0,"Reserved":100,"Allocated":1000,"CategoryName":"Novel","CategoryCode":"Novel","BrandName":"Hazaline","BrandCode":"HZ"}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/expirydate-barcode":{"post":{"tags":["Inventory"],"summary":"Get ExpiryDate Inventories including barcode","operationId":"GetExpiryDateIncludedBarcodeInventories","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Data request model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetExpiryDateInventoryBySKUModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetExpiryDateIncludedBarcodeInventoryBySKUModelResult"},"examples":{"application/json":{"Data":[{"SKU":"SKU001","Barcode":"SKU001-001","ClientSKU":null,"ProductName":"Product 01","WarehouseCode":"11","ConditionTypeCode":"1","ConditionTypeName":"New","ExpiryDate":"2022-01-01","ManufactureDate":"2020-01-01","InStock":1,"Available":1,"PendingOut":0,"CategoryCode":"Novel","CategoryName":"Novel","BrandName":"HAZELINE","BrandCode":"HAZELINE"}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/expirydate":{"post":{"tags":["Inventory"],"summary":"Get ExpiryDate Inventories","description":"Maximum 100 SKUs per request.","operationId":"GetExpiryDateInventories","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Data request model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetExpiryDateInventoryBySKUModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetExpiryDateInventoryBySKUModelResult"},"examples":{"application/json":{"Data":[{"SKU":"SKU001","ClientSKU":null,"ProductName":"Product 01","WarehouseCode":"11","ConditionTypeCode":"1","ConditionTypeName":"New","ExpiryDate":"2022-01-01","InStock":1,"Available":1,"PendingOut":0,"CategoryCode":"Novel","CategoryName":"Novel","BrandName":"HAZELINE","BrandCode":"HAZELINE"},{"SKU":"SKU001","ClientSKU":null,"ProductName":"Product 01","WarehouseCode":"11","ConditionTypeCode":"1","ConditionTypeName":"New","ExpiryDate":"2022-06-01","InStock":1,"Available":1,"PendingOut":0,"CategoryCode":"Novel","CategoryName":"Novel","BrandName":"HAZELINE","BrandCode":"HAZELINE"},{"SKU":"SKU001","ClientSKU":null,"ProductName":"Product 01","WarehouseCode":"11","ConditionTypeCode":"30","ConditionTypeName":"Quarantine","ExpiryDate":"2022-01-01","InStock":1,"Available":1,"PendingOut":0,"CategoryCode":"Novel","CategoryName":"Novel","BrandName":"HAZELINE","BrandCode":"HAZELINE"}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/inventory-inbound-outbound":{"post":{"tags":["Inventory"],"summary":"Get inventory inbound and outbound movements","operationId":"GetInventoryInboundAndOutbound","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Data request model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoryInboundAndOutboundQueryModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.V02.GetInventoryInboundAndOutboundModelResult"},"examples":{"application/json":{"Data":[{"WarehouseName":"Q7 FC","TransDate":"2022-01-04T00:00:00","TransDesc":"SO_PACKED","ObjectCode":"SOETNH7VZ7E2J","ObjectType":"SaleOrder","ObjectExternalCode":"SOETNH7VZ7E2J","SKU":"ETN21122MGM4HA","ProductName":"quantest1","ClientPrivateSKU":"test12","ActualQty":-1.0,"CategoryName":"Novel","ConditionType":1,"ConditionTypeCode":"ConditionType_New","Brand":"HAZELINE","TransType":"So packed","RefExternalCode":"TMOMS21062024_0099","CategoryCode":"Novel","BrandCode":"HAZELINE","Allocated":100,"Reserved":100},{"WarehouseName":"Q7 FC","TransDate":"2022-01-04T00:00:00","TransDesc":"SO_PACKED","ObjectCode":"SOETNXBC2EXEM","ObjectType":"SaleOrder","ObjectExternalCode":"SOETNXBC2EXEM","SKU":"ETN21122MGM4HA","ProductName":"quantest1","ClientPrivateSKU":"test12","ActualQty":-1.0,"CategoryName":"Novel","ConditionType":1,"ConditionTypeCode":"ConditionType_New","Brand":"HAZELINE","TransType":"So packed","RefExternalCode":"TMOMS21062024_0099","CategoryCode":"Novel","BrandCode":"HAZELINE","Allocated":100,"Reserved":100}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/stockAllocation/create":{"post":{"tags":["Inventory"],"summary":"Create New Stock Allocation Session","operationId":"CreateStockAllocationSession","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Stock allocation session creating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.CreateStockAllocationSessionModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.CreateStockAllocationSessionModelResult"},"examples":{"application/json":{"Id":1,"Code":"SALAAD2406RRRIW","ErrorMessages":[],"HasError":false}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/stockAllocation/release":{"post":{"tags":["Inventory"],"summary":"Release all allocated stock for a session","operationId":"ReleaseStockAllocationSessionDetails","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Release stock allocation model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.ReleaseStockAllocationSessionDetailsModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.ReleaseStockAllocationSessionDetailsModelResult"},"examples":{"application/json":{"ErrorMessages":[],"HasError":false}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/stockAllocation/increase":{"post":{"tags":["Inventory"],"summary":"Increase the quantity of allocated stock for a particular session","operationId":"IncreaseStockAllocationSessionDetails","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Increase stock allocation session details model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.AdjustStockAllocationSessionDetailsModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.AdjustStockAllocationSessionDetailsModelResult"},"examples":{"application/json":{"ErrorMessages":[],"HasError":false}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/stockAllocation/decrease":{"post":{"tags":["Inventory"],"summary":"Decrease the quantity of allocated stock for a particular session","operationId":"DecreaseStockAllocationSessionDetails","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Decrease stock allocation session details model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.AdjustStockAllocationSessionDetailsModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.AdjustStockAllocationSessionDetailsModelResult"},"examples":{"application/json":{"ErrorMessages":[],"HasError":false}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/stockAllocation/{code}":{"get":{"tags":["Inventory"],"summary":"Get Stock Allocation Session By Code","operationId":"GetStockAllocationSessionInfoByCode","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"Session code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.GetStockAllocationSessionByCodeModelResult"},"examples":{"application/json":{"Id":1,"Code":"SALAAD24063FF6F","ClientId":3,"ClientBranchId":1,"ClientBranchCode":"DNA","ClientBranchDisplayName":"DNA Office","RefExternalCode":"SALAAD2406U6B3K","ExternalCode":"SALAAD2406U6B3K","Note":"","ScheduledReleaseDate":"2024-10-01T01:01:01","ReleasedName":"","ReleasedBy":null,"ReleasedDate":null,"CreatedBy":999,"CreatedName":"admin","CreatedDate":"2024-01-01T01:01:01","UpdatedBy":999,"UpdatedDate":"2024-01-01T01:01:01","Items":[{"SessionCode":"SALAAD24063FF6F","Status":"Allocated","StatusName":"Đã phân bổ","WarehouseId":1,"WarehouseCode":"05","WarehouseName":"Q7 FC","WarehouseDisplayName":"05-Q7 FC","ProductId":1,"ProductName":"My Book","SKU":"TSA01","ConditionType":1,"AllocatedQty":100.0,"ReleasedQty":0.0,"UsedQty":0.0,"CreatedName":"admin","CreatedBy":999,"CreatedDate":"2024-01-01T01:01:01","UpdatedBy":999,"UpdatedDate":"2024-01-01T01:01:01","ReleasedName":"","ReleasedBy":null,"ReleasedDate":null,"QtyUnitId":1,"QtyUnitName":"cai","ConditionTypeName":"Hàng mới","ConditionTypeDisplayName":"1 - Hàng mới","ClientBranchId":1,"ClientBranchCode":"DNA","ClientBranchDisplayName":"DNA Office","AvailableQty":1000.0,"BalanceAvailableQty":99999.0,"BalanceAllocatedAvailableQty":1000.0}],"ErrorMessages":[],"HasError":false}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/inventories/stockAllocation/search":{"post":{"tags":["Inventory"],"summary":"Search stock allocation sessions","operationId":"SearchStockAllocationSessionDetails","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Search criteria model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.SearchStockAllocationSessionDetailsModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.StockAllocationSession.SearchStockAllocationSessionDetailsModelResult"},"examples":{"application/json":{"TotalPages":1,"TotalRecords":1,"PageIndex":1,"RecordsPerPage":1,"Data":[{"SessionCode":"SALAAD240614TTZ","RefExternalCode":"SALAAD2406U6B3K","ExternalCode":"SALAAD2406U6B3K","Status":"Allocated","StatusName":"Allocated","WarehouseId":3,"WarehouseCode":"06","WarehouseName":"Brya FC","WarehouseDisplayName":"06-Brya FC","Sku":"MyBook","ProductId":1211,"ProductName":"Book","QtyUnitId":1,"QtyUnitName":"cai","AllocatedQty":50.0,"ReleasedQty":50.0,"ConditionType":1,"ConditionTypeName":"New","ConditionTypeDisplayName":"1 - New","CreatedDate":"2025-01-01T12:00:00","ReleasedDate":"2025-06-01T12:00:00","ScheduledReleaseDate":"2025-12-01T12:00:00","ClientBranchId":1,"ClientBranchCode":"DNA","ClientBranchName":"Da Nang Office","ClientBranchDisplayName":"DNA - Da Nang Office","UsedQty":0.0,"BalanceAvailableQty":0.0,"BalanceAllocatedAvailableQty":0.0},{"SessionCode":"SQWAAD240614TTZ","RefExternalCode":"QSSLAAD2406U6B3K","ExternalCode":"QLLAAD2406U6B3K","Status":"Allocated","StatusName":"Allocated","WarehouseId":2,"WarehouseCode":"05","WarehouseName":"Q7 FC","WarehouseDisplayName":"05-Q7 FC","Sku":"COFFEE","ProductId":1212,"ProductName":"Coffee","QtyUnitId":1,"QtyUnitName":"cai","AllocatedQty":100.0,"ReleasedQty":50.0,"ConditionType":1,"ConditionTypeName":"New","ConditionTypeDisplayName":"1 - New","CreatedDate":"2025-02-01T12:00:00","ReleasedDate":"2025-07-01T12:00:00","ScheduledReleaseDate":"2025-11-01T12:00:00","ClientBranchId":2,"ClientBranchCode":"HCM","ClientBranchName":"Ho Chi Minh Office","ClientBranchDisplayName":"HCM - Ho Chi Minh Office","UsedQty":0.0,"BalanceAvailableQty":0.0,"BalanceAllocatedAvailableQty":0.0}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products":{"get":{"tags":["Product"],"summary":"Get Products","operationId":"GetProducts","consumes":[],"produces":["application/json"],"parameters":[{"name":"CategoryCode","in":"query","required":false,"type":"string"},{"name":"Type","in":"query","required":false,"type":"string"},{"name":"IsGotExpiredDate","in":"query","required":false,"type":"boolean"},{"name":"StorageTypeCode","in":"query","required":false,"type":"string"},{"name":"IsActive","in":"query","required":false,"type":"boolean"},{"name":"PageIndex","in":"query","required":true,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.PagingProductsModelResult"},"examples":{"application/json":{"TotalPages":25,"TotalRecords":25,"PageIndex":1,"RecordsPerPage":1,"Data":[{"SKU":"MYBOOK","ClientSku":"MYBOOK","Name":"Alice in Wonderland","ManufacturerCode":"KD","ManufacturerName":"Kim Đồng","CategoryCode":"NOVEL","CategoryName":"Novel","Type":"Bundle","CreatedDate":"2026-08-10T16:32:41.5729026+07:00","LastReceivedDate":"2026-08-11T16:32:41.5729037+07:00","SKUVerified":true,"InventModel":"FIFO","UnitCode":"Book","Barcodes":[{"Barcode":"1234567890123","Type":"Single","IsActive":true}],"Lwh":null,"Weight":null,"QtyPerCase":null,"CaseLwh":null,"CaseWeight":null,"PackingNote":null,"ProductType":"Main","Details":[{"Name":"San pham A","Sku":"sku_A","ClientSku":null,"Qty":5.0,"UnitName":"Hộp","ItemType":"Main"},{"Name":"San pham B","Sku":"sku_B","ClientSku":null,"Qty":1.0,"UnitName":"Cái","ItemType":"Gift"}]}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"post":{"tags":["Product"],"summary":"Create Product","operationId":"CreateProduct","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"Product creating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.CreateSingleProductModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.CreateSingleProductModelResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}":{"get":{"tags":["Product"],"summary":"Get Product By SKU","operationId":"GetProductBySKU","consumes":[],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.ProductItemModel"},"examples":{"application/json":{"SKU":"MYBOOK","ClientSku":"MYBOOK","Name":"Alice in Wonderland","ManufacturerCode":"KD","ManufacturerName":"Kim Đồng","CategoryCode":"NOVEL","CategoryName":"Novel","Type":"Bundle","CreatedDate":"2026-08-10T16:32:41.6733543+07:00","LastReceivedDate":"2026-08-11T16:32:41.6733547+07:00","SKUVerified":true,"InventModel":"FIFO","UnitCode":"Book","Barcodes":[{"Barcode":"1234567890123","Type":"Single","IsActive":true}],"Lwh":null,"Weight":null,"QtyPerCase":null,"CaseLwh":null,"CaseWeight":null,"PackingNote":null,"ProductType":"Main","Details":[{"Name":"San pham A","Sku":"sku_A","ClientSku":null,"Qty":5.0,"UnitName":"Hộp","ItemType":"Main"},{"Name":"San pham B","Sku":"sku_B","ClientSku":null,"Qty":1.0,"UnitName":"Cái","ItemType":"Gift"}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"put":{"tags":["Product"],"summary":"Update Product By SKU","operationId":"UpdateProductBySKU","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"},{"name":"updateProductModel","in":"body","description":"Product updating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdateProductDto"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdateProductResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}},"delete":{"tags":["Product"],"summary":"Delete Product","operationId":"DeleteProduct","consumes":[],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{clientSku}/clientSku":{"get":{"tags":["Product"],"summary":"Get Product By Client SKU","operationId":"GetProductByClientSKU","consumes":[],"produces":["application/json"],"parameters":[{"name":"clientSku","in":"path","description":"Client Product Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.ProductItemModel"},"examples":{"application/json":{"SKU":"MYBOOK","ClientSku":"MYBOOK","Name":"Alice in Wonderland","ManufacturerCode":"KD","ManufacturerName":"Kim Đồng","CategoryCode":"NOVEL","CategoryName":"Novel","Type":"Bundle","CreatedDate":"2026-08-10T16:32:41.6857578+07:00","LastReceivedDate":"2026-08-11T16:32:41.6857588+07:00","SKUVerified":true,"InventModel":"FIFO","UnitCode":"Book","Barcodes":[{"Barcode":"1234567890123","Type":"Single","IsActive":true}],"Lwh":null,"Weight":null,"QtyPerCase":null,"CaseLwh":null,"CaseWeight":null,"PackingNote":null,"ProductType":"Main","Details":[{"Name":"San pham A","Sku":"sku_A","ClientSku":null,"Qty":5.0,"UnitName":"Hộp","ItemType":"Main"},{"Name":"San pham B","Sku":"sku_B","ClientSku":null,"Qty":1.0,"UnitName":"Cái","ItemType":"Gift"}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/multiple":{"post":{"tags":["Product"],"summary":"Create Multiple Products","operationId":"CreateMultipleProduct","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"List of Product creating model","required":false,"schema":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.CreateSingleProductModel"},"example":[{"Name":"Eton Logistics Handbook","ManufacturerCode":null,"BrandCode":null,"StorageTypeCode":"STANDARD","CategoryCode":"STATIONERY","Medias":null,"SKU":"PRD-2024-BOOK-01","UnitCode":null,"Details":null,"Barcodes":[{"Barcode":"8930001112223","BarcodeType":"Other"}],"Type":"Normal","WarehouseStorageType":"Ambient","ProductType":"Single","ClientSku":null,"IsGotExpiredDate":false,"IsLotTracking":false,"ExpirationType":2,"DaysBeforeExpLock":30,"ExpAllowedReceiveInputType":"Percent","DaysExpAllowedReceive":null,"PercentageExpAllowedReceive":70,"ExpirationAlertInterval":30,"IsBox":false,"IsAutoLinkUnitToCategory":false,"Colour":null,"Size":null,"TotalShelfLife":null,"PackingNote":null,"Dimension":{"Length":210.0,"Width":148.0,"Height":15.0},"ProductCase":null,"Weight":350.0,"SafetyStock":null},{"Name":"Eton Logistics Handbook","ManufacturerCode":null,"BrandCode":null,"StorageTypeCode":"STANDARD","CategoryCode":"STATIONERY","Medias":null,"SKU":"PRD-2024-BOOK-01","UnitCode":null,"Details":null,"Barcodes":[{"Barcode":"8930001112223","BarcodeType":"Other"}],"Type":"Normal","WarehouseStorageType":"Ambient","ProductType":"Single","ClientSku":null,"IsGotExpiredDate":false,"IsLotTracking":false,"ExpirationType":2,"DaysBeforeExpLock":30,"ExpAllowedReceiveInputType":"Percent","DaysExpAllowedReceive":null,"PercentageExpAllowedReceive":70,"ExpirationAlertInterval":30,"IsBox":false,"IsAutoLinkUnitToCategory":false,"Colour":null,"Size":null,"TotalShelfLife":null,"PackingNote":null,"Dimension":{"Length":210.0,"Width":148.0,"Height":15.0},"ProductCase":null,"Weight":350.0,"SafetyStock":null}]}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{clientSKU}/clientsku":{"put":{"tags":["Product"],"summary":"Update Product By Client SKU","operationId":"UpdateProductByClientSKU","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"clientSKU","in":"path","description":"Client Product SKU. If this ClientSKU has been linked to multiple products, the first match will be updated","required":true,"type":"string"},{"name":"updateProductModel","in":"body","description":"Product updating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdateProductDtoByClientSku"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdateProductResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}/activate":{"patch":{"tags":["Product"],"summary":"Activate Product","operationId":"Activate","consumes":[],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdateActiveStateModelResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}/deactivate":{"patch":{"tags":["Product"],"summary":"De-activate Product","operationId":"DeactivateProduct","consumes":[],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdateActiveStateModelResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}/prices":{"put":{"tags":["Product"],"summary":"Update Product Price","operationId":"UpdatePrice","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"},{"name":"model","in":"body","description":"Price updating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdatePriceModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpdatePriceResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/types":{"get":{"tags":["Product"],"summary":"Get Product Types","description":"It will return current available StorageTypeCodes, (Product) Types, ShippingTypes and InventModels\r\n- StorageTypeCodes:\r\n  + Serial: This type apply for electronic products. SerialNo could be IMEI, S/N…\r\n  + Batch: This type apply for products with the same for all items. For example: water botte, milk, noodle...\r\n- Types:\r\n  + Single: This type apply for single product\r\n  + Bundle: This type apply for product which combined from multiple products. For example: Kit, Bom,... And Bundle Product can seperate to multiple single Product.\r\n- ShippingTypes:\r\n  + Standard: Goods which Small size (XS, S)\r\n  + Bulky: Goods which Medium size (M, L)\r\n  + Oversize: Goods which big size (XL): Television, Fridge, Washer Machine…\r\n- InventModels:\r\n  + FIFO: First In First Out order\r\n  + LIFO: Last In First Out order\r\n  + NotSpecified: Not specific order\r\n- WarehouseStorageTypes:\r\n  + Ambient: Items stored in a dry environment at room temperature\r\n  + AirConditioned:Items stored in a air-conditioned environment","operationId":"GetProductTypeEnums","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Product.GetProductTypeEnumsResult"},"examples":{"application/json":{"StorageTypeCodes":["Serial","Batch"],"Types":["Single","Bundle","VirtualBundle"],"ShippingTypes":["Standard","Bulky","SIOC"],"InventModelCodes":["FIFO","LIFO","NotSpecified"],"WarehouseStorageTypes":null}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}/barcodes":{"put":{"tags":["Product"],"summary":"Insert/Update barcode of SKU","operationId":"UpsertBarcode","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"},{"name":"barcodeModels","in":"body","description":"Barcode inserting/updating models","required":false,"schema":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Products.UpsertProductBarcodeModel"}}}],"responses":{"204":{"description":"Success"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}/barcodes/{barcode}":{"delete":{"tags":["Product"],"summary":"Delete Barcode of SKU","operationId":"DeleteBarcode","consumes":[],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"},{"name":"barcode","in":"path","description":"Barcode that will be deleted","required":true,"type":"string"}],"responses":{"204":{"description":"Success"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}/barcodes/{barcode}/activate":{"patch":{"tags":["Product"],"summary":"Activate Barcode of SKU","operationId":"ActivateBarcode","consumes":[],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"},{"name":"barcode","in":"path","description":"Barcode that will be activated","required":true,"type":"string"}],"responses":{"204":{"description":"Success"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/products/{sku}/barcodes/{barcode}/deactivate":{"patch":{"tags":["Product"],"summary":"Deactivate Barcode of SKU","operationId":"DeactivateBarcode","consumes":[],"produces":["application/json"],"parameters":[{"name":"sku","in":"path","description":"Product SKU","required":true,"type":"string"},{"name":"barcode","in":"path","description":"Barcode that will be de-activated","required":true,"type":"string"}],"responses":{"204":{"description":"Success"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/purchaseorders":{"get":{"tags":["PurchaseOrder"],"summary":"Get PurchaseOrders","operationId":"GetPOs","consumes":[],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.PurchaseOrders.PagingPurchaseOrdersModelResult"},"examples":{"application/json":{"TotalPages":10,"TotalRecords":10,"PageIndex":1,"RecordsPerPage":1,"Data":[{"EtonCode":"POETIBSGCADUQ","ExternalCode":null,"PODate":"2026-08-11T16:32:41.7747332+07:00","ArrivalDate":"2026-08-14T16:32:41.7747336+07:00","Status":"New","SourceType":0,"ProcessedBy":null,"ContactName":"Mr. Nam","ContactPhone":"0123456789","WarehouseCode":null,"ShippingDate":null,"UpdatedDate":"0001-01-01T00:00:00","CreatedDate":"0001-01-01T00:00:00"}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/purchaseorders/{code}/cancel":{"patch":{"tags":["PurchaseOrder"],"summary":"Cancel PurchaseOrder","operationId":"CancelPO","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"ETON POCode or Client PO Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/purchaseorders/{code}":{"get":{"tags":["PurchaseOrder"],"summary":"Get PurchaseOrder by Code","operationId":"GetPOByCode","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"ETON POCode or Client PO Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.PurchaseOrders.GetPurchaseOrderByCodeModelResult"},"examples":{"application/json":{"EtonCode":"POETIBSGCADUQ","ExternalCode":null,"PODate":"2026-08-11T16:32:41.7866036+07:00","ArrivalDate":"2026-08-14T16:32:41.786604+07:00","Status":"New","SourceType":null,"Note":null,"ContactName":"Mr. Nam","ContactPhone":"0123456789","CreatedDate":null,"UpdatedDate":null,"ShippingDate":null,"SourceClientBranchCode":null,"SourceWarehouseCode":null,"DestinationWarehouseCode":null,"Details":null,"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/purchaseorders/single":{"post":{"tags":["PurchaseOrder"],"summary":"Create Purchase Order","operationId":"CreateSinglePO","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"PO Creating Model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.PurchaseOrders.CreateSinglePurchaseOrderModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.PurchaseOrders.CreateSinglePurchaseOrderModelResult"},"examples":{"application/json":{"Code":"123456","Data":null,"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Examples.PurchaseOrder.CreateSinglePurchaseOrderModelResult400"},"examples":{"application/json":{"Code":null,"Data":{"POCode":"PO123456","Status":"New","CreatedDate":"2026-08-11T16:32:41.8008288+07:00"},"ErrorCode":null,"HasError":true,"ErrorMessages":["PO already existed"]}}}}}},"/api/v0.2/purchaseorders/types":{"get":{"tags":["PurchaseOrder"],"summary":"Get PurchaseOrder Types","description":"Result including:\r\n- ConditionTypes: Array of ConditionTypes","operationId":"GetPurchaseOrderTypeEnums","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Examples.PurchaseOrder.GetPurchaseOrderTypeEnumsResult"},"examples":{"application/json":{"ConditionTypes":[{"Key":"1","Value":"New"}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/purchaseorders/{code}/serials":{"put":{"tags":["PurchaseOrder"],"summary":"Update SerialPurchaseOrder with Code","operationId":"UpdateSerialPurchaseOrder","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"ETON POCode or Client PO Code","required":true,"type":"string"},{"name":"updateModel","in":"body","description":"","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.Serials.UpdateSerialPurchaseOrderRequestModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders":{"get":{"tags":["SaleOrder"],"summary":"Get SalesOrders","operationId":"GetSOs","consumes":[],"produces":["application/json"],"parameters":[{"name":"PageIndex","in":"query","description":"Current Page Index","required":false,"type":"integer","format":"int32"},{"name":"RecordsPerPage","in":"query","description":"Number of items per page","required":false,"type":"integer","format":"int32"},{"name":"UpdatedFrom","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"UpdatedTo","in":"query","description":"Date range filter of UpdatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedFrom","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"},{"name":"CreatedTo","in":"query","description":"Date range filter of CreatedDate, format <code>YYYY-MM-DD</code>","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.PagingSaleOrdersModelResult"},"examples":{"application/json":{"TotalPages":25,"TotalRecords":25,"PageIndex":1,"RecordsPerPage":1,"Data":[{"EtonCode":"ABC1234","SODate":"2026-08-10T16:32:41.8799363+07:00","ExpectedDeliveryDate":"2026-08-11T16:32:41.8799372+07:00","CustomerId":1,"ShippingAddressId":2,"BillingAddressId":3,"TotalAmount":10000.0,"PromotionAmount":8000.0,"ActualAmount":12000.0,"WarehouseId":1,"Status":"New","SourceType":1,"ActualDeliveryDate":"2026-08-12T16:32:41.8799384+07:00","CurrencyId":1,"BizType":1,"ExternalCode":"QWE","TotalCODAmount":12000.0,"SalesChannel":null,"UpdatedDate":"0001-01-01T00:00:00","CreatedDate":"0001-01-01T00:00:00","InvoiceInfo":null}],"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{code}/cancel":{"patch":{"tags":["SaleOrder"],"summary":"Cancel SaleOrder","operationId":"CancelSOByCode","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"ExternalCode or Client SO Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{code}":{"get":{"tags":["SaleOrder"],"summary":"Get SaleOrder Details","operationId":"GetBySOCode","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"ExternalCode or Client SO Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.GetSaleOrderByCodeModelResult"},"examples":{"application/json":{"EtonCode":"SOETCCDXWEDQF","ExternalCode":"SO9WXAIDDV","RefExternalCode":"LAZADA","SODate":"2026-08-11T16:32:41.9605503+07:00","ExpectedDeliveryDate":"2026-08-12T16:32:41.9605509+07:00","SourceClientBranchCode":"KH001","DestinationClientBranchCode":"KH002","CustomerId":0,"CustomerName":null,"Phone":null,"ShippingAddress":"123, Phường Phúc Xá, Quận Ba Đình, Thành phố Hà Nội, Việt Nam","BillingAddress":"123, Phường Phúc Xá, Quận Ba Đình, Thành phố Hà Nội, Việt Nam","TotalAmount":null,"PromotionAmount":null,"ActualAmount":null,"TotalCODAmount":null,"FinalCOD":null,"Note":null,"WarehouseCode":null,"Status":null,"SourceType":null,"ActualDeliveryDate":null,"CurrencyCode":null,"CreatedBy":null,"CreatedDate":null,"UpdatedBy":null,"UpdatedDate":null,"BizType":null,"ClientPickup":false,"IsGotDocument":false,"NoPack":false,"IsPreOrder":false,"SalesChannel":null,"ListSODetail":[{"SKU":"xb","ClientSku":null,"Qty":2.0,"PickedQty":null,"PackedQty":null,"Price":0.0,"Amount":0.0,"ActualAmount":0.0,"VATPercent":0.0,"PromotionPercent":0.0,"CODAmount":0.0}],"InvoiceInfo":null,"FulfillmentServiceCode":"Pack2h","FulfillmentServiceName":"Đóng gói đơn hàng trong 2h","ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/single":{"post":{"tags":["SaleOrder"],"summary":"Create SaleOrder","operationId":"CreateSingleSO","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"SO creating model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.CreateSingleSaleOrderModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.CreateSingleSaleOrderModelResult"},"examples":{"application/json":{"Code":"SO123456","ExternalCode":"MYCODE","RefExternalCode":"THIS_IS_REF_CODE","Status":"New","ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/multiple":{"post":{"tags":["SaleOrder"],"summary":"Create Multiple SaleOrders","description":"Maximum 20 sale orders per batch request.","operationId":"CreateMultipleSaleOrder","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"model","in":"body","description":"List of SO creating models","required":false,"schema":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.CreateSingleSaleOrderModel"}}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.CreateMultipleSaleOrderModelResult"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/types":{"get":{"tags":["SaleOrder"],"summary":"Get SaleOrder's field pre-defined types","description":"This endpoint returns available values of...\r\n- BizTypes: B2C, B2B\r\n- CustomerTypes: Individual, Organization\r\n- SOTypes: Normal, Quarantine\r\n- SalesChannel: Shopee, Lazada, Tiktok,....","operationId":"GetSaleOrderTypeEnums","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Examples.SaleOrder.GetSaleOrderTypeEnumsResult"},"examples":{"application/json":{"BizTypes":[{"Key":"1","Value":"B2C"},{"Key":"2","Value":"B2B"}],"CustomerTypes":[{"Key":"1","Value":"Individual"},{"Key":"2","Value":"Organization"}],"SOTypes":[{"Key":"1","Value":"Normal"},{"Key":"2","Value":"Quarantine"}],"SalesChannels":null}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{soCode}/returns":{"post":{"tags":["SaleOrder"],"summary":"Create Return Request","operationId":"CreateSaleOrderReturn","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"soCode","in":"path","description":"SO Code","required":true,"type":"string"},{"name":"model","in":"body","description":"SO Return Request Creating Model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.Return.CreateSaleOrderReturnModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.Return.CreateSaleOrderReturnResultModel"},"examples":{"application/json":{"ReturnCode":"SOR123456","ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}},"deprecated":true}},"/api/v0.2/saleorders/{soCode}/returns/{returnCode}/cancel":{"patch":{"tags":["SaleOrder"],"summary":"Cancel Return Request","operationId":"CancelSOR","consumes":[],"produces":["application/json"],"parameters":[{"name":"soCode","in":"path","description":"SO Code","required":true,"type":"string"},{"name":"returnCode","in":"path","description":"SO Return Request Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}},"deprecated":true}},"/api/v0.2/saleorders/{code}/hold":{"patch":{"tags":["SaleOrder"],"summary":"Hold SaleOrder","operationId":"Hold","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"SO Code","required":true,"type":"string"},{"name":"model","in":"body","description":"SO Holding Request Model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.HoldingState.UpdateSOHoldingStateAPIModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{code}/unhold":{"patch":{"tags":["SaleOrder"],"summary":"Unhold SaleOrder","operationId":"UnHold","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"SO Code","required":true,"type":"string"},{"name":"model","in":"body","description":"SO Un-holding Request Model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.SaleOrders.HoldingState.UpdateSOHoldingStateAPIModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{code}/status":{"get":{"tags":["SaleOrder"],"summary":"Get SaleOrder Status Tracking","operationId":"GetSOStatusTracking","consumes":[],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"SO Code","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Examples.SaleOrder.GetSOStatusTrackingResult"},"examples":{"application/json":{"ExternalCode":"29082019111","EtonCode":"SOVTADY7UEFBJ","ClientAWBNo":"EO995943444VN","Status":"PartialReturned","StatusInDetails":[{"Status":"New","DateChange":"2019-08-29T13:57:47.837+07:00","ExceptionCode":null,"ExceptionNote":"123"},{"Status":"ReadyToPick","DateChange":"2019-08-29T14:27:11.28+07:00","ExceptionCode":null,"ExceptionNote":null},{"Status":"Picking","DateChange":"2019-08-29T14:30:24+07:00","ExceptionCode":null,"ExceptionNote":null},{"Status":"Picked","DateChange":"2019-08-29T14:31:28.27+07:00","ExceptionCode":null,"ExceptionNote":null},{"Status":"Packing","DateChange":"2019-08-29T14:32:39.577+07:00","ExceptionCode":null,"ExceptionNote":null},{"Status":"Packed","DateChange":"2019-08-29T14:34:13.837+07:00","ExceptionCode":null,"ExceptionNote":null},{"Status":"ReadyToShip","DateChange":"2019-08-29T14:36:34.017+07:00","ExceptionCode":null,"ExceptionNote":null},{"Status":"3PLHandOn","DateChange":"2019-08-29T14:37:05.89+07:00","ExceptionCode":null,"ExceptionNote":null},{"Status":"PartialReturned","DateChange":"2019-08-29T14:53:34.437+07:00","ExceptionCode":null,"ExceptionNote":null}]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{soCode}/shippinglabel":{"post":{"tags":["SaleOrder"],"summary":"Update Shipping Label","operationId":"UpdateShippingLabel","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"soCode","in":"path","description":"Sale Order code (e.g. SOFOO123456)","required":true,"type":"string"},{"name":"updateModel","in":"body","description":"Shipping label update model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.V0_2.Models.SaleOrder.UpdateShippingLabelModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{soCode}/invoice":{"post":{"tags":["SaleOrder"],"summary":"Update Invoice","operationId":"UpdateInvoice","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"name":"soCode","in":"path","description":"Sale Order code (e.g. SOFOO123456)","required":true,"type":"string"},{"name":"updateModel","in":"body","description":"Invoice update model","required":false,"schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.V0_2.Models.SaleOrder.UpdateInvoiceModel"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.BaseModelResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":false,"ErrorMessages":[]}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Eton.Wms.ExternalApi.Services.Models.ErrorResult"},"examples":{"application/json":{"ErrorCode":null,"HasError":true,"ErrorMessages":["Validation failed"]}}}}}},"/api/v0.2/saleorders/{soCode}/InvoiceInfo":{"post":{"tags":["SaleOrder"],"summary":"Update Invoice Info","operationId":"UpdateInvoiceInfo","consumes":["application/json-patch+json","application/j
[...]
